/* starting personalInfo */

prm-personal-info {
    .bar {
        &.error-bar {
            background-color: transparent;
            color: $warn;
            border: 2px solid $warn;
        }
    }
}

// md-toolbar.transparent-toolbar,
// md-toolbar:not(.md-menu-toolbar).transparent-toolbar,
// md-toolbar.md-primoExplore-theme:not(.md-menu-toolbar).transparent-toolbar {
//   background-color: transparent;
//   color: $dark;
// }
