/* override exlibris colours & settings */
:root, html, head, body {
  --uq-colour-purple-50: #eee9f2;
  --uq-colour-purple-100: #dcd3e4;
  --uq-colour-purple-200: #b9a7ca;
  --uq-colour-purple-300: #977caf;
  --uq-colour-purple-400: #745095;
  --uq-colour-purple-500: #51247a;
  --uq-colour-purple-600: #4b2271;
  --uq-colour-purple-650: #40205d;
  --uq-colour-purple-700: #3a1f53;
  --uq-colour-purple-800: #2f1d3f;
  --uq-colour-purple-900: #231a2c;

  --uq-colour-grey-50: #f3f3f4;
  --uq-colour-grey-100: #e8e8e8;
  --uq-colour-grey-200: #dcdcdd;
  --uq-colour-grey-500: #a3a1a4;
  --uq-colour-grey-900: #3b383e;

  --uq-color-utility-50: #e7f0fa;
  --uq-color-utility-200: #9ec5eb;
  --uq-color-utility-500: #0d6dcd;

  --uq-colour-success-50: #edf6ed;

  --uq-colour-warning-50:	#fef8e8;

  --uq-colour-error-50: #fbeaea;
  --uq-colour-error-500: #d62929;

  --uql-brand-orange: #EB602B; // rbg(235, 96, 43)
  --uql-brand-blue: #4085C6; // rgb(64, 133, 198)
  --uql-brand-green: #2EA836; // rbg(46, 168, 54)

  --uq-colour-black: #19151c;
  --uq-border-color: var(--uq-colour-grey-200);

  --uq-main-purple: var(--uq-colour-purple-500);
  --uq-body-copy: var(--uq-colour-grey-900);
  --uq-heading-color: var(--uq-colour-black);
  --uq-panel-background: var(--uq-colour-grey-50);
  --uq-background-alert-info: var(--uq-color-utility-50);
  --uq-background-alert-success: var(--uq-colour-success-50);
  --uq-background-alert-error: var(--uq-colour-error-50);

  --sys-background: var(--uq-colour-purple-50);
  --sys-inverse-on-surface: var(--uq-panel-background);
  --sys-inverse-primary: var(--uq-panel-background);
  --sys-primary: var(--uq-main-purple);
  --sys-primary-container: var(--uq-colour-purple-50);
  --sys-outline: var(--uq-body-copy);
  --sys-outline-variant: var(--uq-colour-purple-100);
  --sys-surface-container: #fff;
  --sys-primary-fixed: var(--uq-background-alert-info);
  --sys-primary-fixed-dim: var(--uq-color-utility-200);
  //--sys-on-surface-variant: #fff;
  //--mdc-icon-button-icon-color: var(--uq-main-purple);

  --valid: var(--uq-main-purple);
  --validDark: var(--uq-main-purple);

  --mdc-switch-unselected-focus-track-color: var(--uq-colour-purple-50);
  --mdc-switch-unselected-track-color: var(--uq-colour-purple-100);
  --mdc-switch-unselected-hover-track-color: var(--uq-colour-purple-200);
  --mdc-dialog-container-color: #fff; /* popup dialog for extra main menu items */

  --border: hsla(203, 50%, 30%, 0.15);

  --mat-menu-container-color: #fff;
  --mat-autocomplete-background-color: #fff;
  --mat-option-selected-state-layer-color: var(--uq-colour-purple-50);

  --mdc-plain-tooltip-container-color: var(--uq-color-utility-50);
  --mdc-plain-tooltip-supporting-text-color: var(--uq-colour-black);

  --mat-datepicker-calendar-container-background-color: var(--uq-colour-purple-50);

  --uql-content-indicator-open-access: var(--uql-brand-orange);
  --uql-content-indicator-peer-review: var(--uql-brand-blue);
  --uql-content-indicator-course-reading-list: var(--uql-brand-green);
  --uql-content-indicator-cultural-advice: var(--uq-main-purple);

  --uql-base-icon-colour: var(--uq-main-purple);
}

/* override fill=green hard coded on attribute so everything-purple */
svg, path, circle {
  fill: var(--uql-base-icon-colour);
}
/* END override fill=green hard coded on attribute */

/* most of the following over-writes are needed because of the above generic reset :( */

/* Full Record Request section, don't fill purple */
nde-request-card path {
  fill: white;
}
/* END Full Record Request section, don't fill purple */

/* mobile filter-sidebar open icon */
nde-mobile-filters-toggle {
  mat-icon path {
    fill: #fff;
  }
}
/* END mobile filter-sidebar open icon */

/* brief results header banner should not have a purple icon */
nde-related-entities-search-header path {
  fill: var(--uq-body-copy);
}
/* END brief results header banner should not have a purple icon */

body.custom-nde-theme {

  /* login-loggedout button */
  nde-user-area {
    /* UQ up-down arrow icons on logged in button override on everything-purple */
    .user-area .arrow path {
      fill: none;
    }

    /* UQ profile icon on logged out button override on everything-purple */
    button[aria-label="Open actions menu"] {
      svg, path {
        fill: none;
      }
    }
  }

  /* END login-loggedout button */

  /* added items on account menu */
  .library-feedback-icon,
  .library-learning-resources-icon,
  .library-room-booking-icon,
  .library-account-icon {
    path {
      fill: none !important;
    }
  }

  .library-favourites-icon {
    opacity: 50%;
  }

  /* END new items on account menu */

  /* collection discovery detailed list icon per DS */
  .collection-discovery-gallery-container nde-collection-discovery-top-bar mat-icon path {
    fill: var(--uq-main-purple);
  }

  /* END collection discovery detailed list icon per DS */


  /* make icons purple  */
  mat-icon svg path {
    --sys-outline: var(--uql-base-icon-colour);
  }

  /* END make icons purple  */

  /* login dialog wrong-password message banner */
  .login-dialog-notification {
    --notice: var(--uq-background-alert-info);
  }

  /* END login dialog wrong-password message banner */

  /* style the purchase request acount menu icon */
  svg.purchaseRequestIcon path {
    fill: none;
    stroke: var(--uq-main-purple);
  }
  /* END style the purchase request acount menu icon */

  /* content indicator colours */
  .mat-icon.open-access-indicator-color svg path {
    fill: var(--uql-content-indicator-open-access);
  }
  uql-cultural-advice-content-indicator mat-icon svg path {
    --uql-base-icon-colour: var(--uql-content-indicator-cultural-advice);
  }
  uql-course-resource-content-indicator mat-icon svg path {
    --uql-base-icon-colour: var(--uql-content-indicator-course-reading-list);
  }
  mat-icon[data-mat-icon-name="Peer-Reviewed-Indicator"] svg {
    path, circle {
      --sys-primary: var(--uql-content-indicator-peer-review);
    }
  }
  /* END content indicator colours */

  /* UQ DS style Tight links */

  /* attempting to style by link/button html structure, rather than specific types */

  /* eg full, Details section, body links; brief, result title; account, saved records tab, result title  */
  nde-full-display-details, nde-search-results, nde-record-title {
    a:has(nde-highlight span) {
      --uql-button-style-type: one; /* so the developer can easily determine which of these styles is applied to the element */
      nde-highlight span {
        text-decoration: underline;
        text-decoration-thickness: 1px;
      }

      &:hover, &:focus {
        nde-highlight span {
          text-decoration: none;
          background-color: var(--uq-main-purple);
          color: #fff;
        }
      }
    }
  }

  /* eg full, Requests section, "go to link" */
  /* button:has(> span:nth-child(5)), */
  a:has(> span:nth-of-type(5)):has(> mat-icon):has(span.mdc-button__label) {
    &:not(:has(span.mdc-button__label mat-icon)):not(:has(> span > div)):not([data-qa^="account-menu"]) {
      --uql-button-style-type: two;
      text-decoration: underline;

      &:hover, &:focus {
        span.mat-mdc-button-persistent-ripple::before {
          background-color: transparent;
          opacity: 1;
        }
        span.mdc-button__label:not(:has(mat-icon)) {
          line-height: normal;
          text-decoration: underline;
          background-color: var(--uq-main-purple);
          color: #fff;
        }
      }
    }
  }

  /* eg full, Locations section, view items button */
  /* label is sitting naked against mat-icon */
  button:has(> span:nth-of-type(5)):has(> span.mdc-button__label > span > mat-icon) {
    &:not(:has(div)):not(:has(> span.mdc-button__label > span + span)):not(:has(> span.mdc-button__label > span > span)) {
      --uql-button-style-type: three;

      span.mdc-button__label {
        text-decoration: underline;
      }

      &:hover, &:focus {
        span.mat-mdc-button-persistent-ripple::before {
          background-color: transparent;
        }

        span.mdc-button__label:has(> span > mat-icon) {
          > span {
            text-decoration: underline;
            background-color: var(--uq-main-purple);
            color: #fff;
          }

          mat-icon svg path {
            fill: #fff;
          }
        }
      }
    }
  }

  /* eg full, Locations section, expand all button */
  /* label is within own span, beside mat-icon */
  button:has(> span:nth-of-type(5)):has(> span.mdc-button__label span span):has(> span.mdc-button__label > span mat-icon + span) {
    &:not(:has(div)) {
      --uql-button-style-type: four;
      border-radius: var(--uq-border-radius) !important;
      span.mat-mdc-button-persistent-ripple.mdc-button__ripple {
        border-radius: var(--uq-border-radius) !important;
      }

      span.mdc-button__label span span {
        line-height: normal;
        text-decoration: underline;
      }

      &:hover { /* changes state, don't do focus */
        span.mat-mdc-button-persistent-ripple::before {
          background-color: transparent;
        }

        span.mdc-button__label:has(> span > mat-icon) {
          span:not(:has(span)) {
            text-decoration: underline;
            background-color: var(--uq-main-purple);
            color: #fff;
          }

          &:has(span:not(:has(span))) mat-icon svg path {
            fill: #fff;
          }
        }
      }
    }
  }

  /* eg main menu, help icon (possibly "has icon") */
  a:has(> span:nth-of-type(5)):has(> span.mdc-button__label > span) {
    &:not(:has(> span > div)):not(:has(> div):not(:has(> mat-icon))):not([data-qa^="account-menu"]) {
      --uql-button-style-type: five;

      &:hover, &:focus {
        span.mdc-button__label > span {
          text-decoration: underline;
          background-color: var(--uq-main-purple);
          color: #fff;
        }
      }
    }
  }

  /* eg main menu, help icon (possibly "has icon") */
  a:has(> span > div):has(> span:nth-of-type(5)) {
    &:not([data-qa^="account-menu"]) {
      --uql-button-style-type: six;

      &:hover, &:focus {
        span.mat-mdc-button-persistent-ripple::before {
          background-color: transparent;
        }

        text-decoration: underline;

        span.mdc-button__label {
          line-height: normal;

          div span {
            text-decoration: underline;
            background-color: var(--uq-main-purple);
            color: #fff;
          }
        }
      }
    }
  }


  /* eg full, Locations section, "location" first link */
  button:has(> span:nth-of-type(1)) {
    &:not(:has(> span:nth-of-type(2))):not(:has(> mat-icon:nth-of-type(2))) {
      --uql-button-style-type: seven;

      span.mat-title-medium {
        line-height: normal;
        text-decoration: underline;

        &:hover, &:focus {
          text-decoration: underline;
          background-color: var(--uq-main-purple);
          color: #fff;
        }
      }
    }
  }

  /* eg full, list header, "results per page" */
  mat-select[data-qa="results_per_page"]:has(> div) {
    &:not(:has(> div:nth-of-type(2))) {
      --uql-button-style-type: eight;

      span span {
        text-decoration: underline;
      }

      &:hover, &:focus {
        div:has(> div:nth-of-type(2)):not(:has(> div:nth-of-type(3))) {
          div:has(> span):not(:has(> span:nth-of-type(2))) {
            span:has(> span):not(:has(> span:nth-of-type(2))) {
              span {
                text-decoration: underline;
                background-color: var(--uq-main-purple);
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  /* egs: ai assisted search button, all filters */
  button:has(> span:nth-of-type(5)):has(> mat-icon:nth-child(2)):has(> span.mdc-button__label > span) {
    &:not(:has(div)) {
      --uql-button-style-type: nine;

      span.mat-mdc-button-persistent-ripple::before {
        background-color: transparent;
      }

      .mdc-button__label {
        line-height: normal;
      }
      .mdc-button__label span {
        line-height: normal;
        text-decoration: underline;
      }

      &:hover, &:focus {
        .mdc-button__label span {
          text-decoration: underline;
          background-color: var(--uq-main-purple);
          color: #fff;
        }
      }
    }
  }

  /* eg full, all filters button */
  button:has(> span:nth-of-type(5)):has(> mat-icon:nth-child(2)):has(> span.mdc-button__label) {
    &:not(:has(> span.mdc-button__label span)) {
      --uql-button-style-type: eleven;

      span.mdc-button__label, mat-icon {
        line-height: normal;
      }

      span.mdc-button__label {
        text-decoration: underline;
      }

      span.mat-mdc-button-persistent-ripple::before {
        background-color: transparent;
      }

      &:hover, &:focus {
        span.mdc-button__label {
          text-decoration: underline;
          background-color: var(--uq-main-purple);
          color: #fff;
        }
      }
    }
  }

  /* eg full/colldisc, result header, sort by */
  button:has(> span:nth-of-type(5)):has(> span.mdc-button__label > span > mat-icon):has(> span.mdc-button__label > span + span) {
    &:not(:has(div)):not(:has(> mat-icon)) {
      --uql-button-style-type: twelve;

      span.mdc-button__label span {
        line-height: normal;
        text-decoration: underline;
      }

      &:hover, &:focus {
        span.mat-mdc-button-persistent-ripple::before {
          background-color: transparent;
        }

        span.mdc-button__label:has(> span > mat-icon) {
          > span {
            text-decoration: underline;
            background-color: var(--uq-main-purple);
            color: #fff;
          }

          mat-icon {
            background-color: #fff;
          }
        }
      }
    }
  }

  /* eg full, result header, options */
  button:has(> span:nth-of-type(5)):has( > mat-icon:nth-child(3)):has(> span.mdc-button__label > span):has(span.mdc-button__label + mat-icon) {
    &:not(:has(> span.mdc-button__label > span > span)) {
      --uql-button-style-type: thirteen;

      span.mdc-button__label span {
        text-decoration: underline;
      }

      &:hover, &:focus {
        span.mdc-button__label span {
          background-color: var(--uq-main-purple);

          svg path {
            fill: #fff;
          }
        }

        span.mat-mdc-button-persistent-ripple::before {
          background-color: transparent;
        }

        span.mdc-button__label span {
          text-decoration: underline;
          color: #fff;
        }
      }
    }
    &.quicklink-button {
      --uql-button-style-type: thirteen-quicklinkoverride;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      &:hover, &:focus {
        background-color: var(--uq-main-purple);
        span.mdc-button__label span {
          background-color: transparent;
        }
      }
    }
  }

  /* eg brief, search header save/export button */
  button:has(> span:nth-of-type(5)):has(> span.mdc-button__label span span):has(> span.mdc-button__label > span span + mat-icon) {
    &:not(:has(div)) {
      --uql-button-style-type: fourteen;

      span.mdc-button__label span span {
        text-decoration: underline;
      }

      &:hover, &:focus {
        span.mdc-button__label {
          span span {
            text-decoration: underline;
            background-color: var(--uq-main-purple);
            color: #fff;
          }
        }

        mat-icon, mat-icon * {
          /* this doesn't work :( */
          text-decoration: none;
          border-width: 0;
        }
      }
    }
  }

  /* eg brief, readmore/less button */
  button:has(> span:nth-of-type(4)):has(.mdc-button__label span) {
    &:not(:has(> span:nth-of-type(5))):not(:has(mat-icon)):not(:has(div)) {
      --uql-button-style-type: fifteen;

      span.mdc-button__label span {
        text-decoration: underline;
        background-color: transparent;
        color: var(--uq-main-purple);
      }

      &:hover, &:focus {
        span.mdc-button__label span {
          text-decoration: underline;
          background-color: var(--uq-main-purple);
          color: #fff;
        }
      }
    }
  }

  /* eg full, view it, heading */
  a:has(> span):has(> mat-icon) {
    &:not(:has(> span:nth-of-type(2))):not(:has(> span > span)) {
      --uql-button-style-type: sixteen;
      span {
        text-decoration: underline;
      }

      &:hover, &:focus {
        span {
          text-decoration: underline;
          background-color: var(--uq-main-purple);
          color: #fff;
        }
      }
    }
  }

  /* eg full, view it, show licence button; full, citations "view nn citations" */
  button:has(mat-icon + span + mat-icon) {
    &:not(span:nth-of-type(2)):not(mat-icon:nth-of-type(3)) {
      --uql-button-style-type: seventeen;
      text-decoration: underline;

      &:hover, &:focus {
        span {
          text-decoration: underline;
          background-color: var(--uq-main-purple);
          color: #fff;
        }
      }
    }
  }

  /* eg full, other chapters in this book, link */
  a:has(> span):has(> span > mat-icon) {
    &:not(:has(span:nth-of-type(2))):not(:has(div)) {
      --uql-button-style-type: eighteen;
      line-height: normal;

      span {
        line-height: normal;
      }

      &:hover, &:focus {
        text-decoration: underline;
        background-color: var(--uq-main-purple);
        color: #fff;
        border-radius: 0;

        mat-icon path {
          text-decoration: none;
          fill: #fff;
        }
      }
    }
  }

  /* eg full, details, collection path */
  a {
    &:not(:has(h3)):not(:has(span)):not(:has(mat-icon)):not(:has(div)) {
      --uql-button-style-type: nineteen;
      text-decoration: underline !important;

      &:hover, &:focus {
        text-decoration: underline !important;
        background-color: var(--uq-main-purple);
        color: #fff !important;
      }
    }
  }

  /* account: search history h3 */
  a:has(h3) {
    &:not(:has(span)):not(:has(mat-icon)):not(:has(div)) {
      --uql-button-style-type: nineteenextended;

      h3 {
        line-height: normal !important;
        text-decoration: underline !important;
      }
      &:hover, &:focus {
        h3 {
          text-decoration: underline !important;
          background-color: var(--uq-main-purple);
          color: #fff !important;
          line-height: normal;
        }
      }
    }
  }

  /* eg full record, Links section, access links */
  a:has(> mat-icon) {
    &:not(:has(span)) {
      --uql-button-style-type: twenty;
      line-height: normal;
      text-decoration: underline;

      &:hover, &:focus {
        text-decoration: underline !important;
        background-color: var(--uq-main-purple);
        color: #fff !important;
        border-radius: 0;

        mat-icon path {
          fill: #fff;

        }
      }
    }
  }

  /* full, Citations section, cited links */
  a:has(> div mat-icon + span) {
    &:not(:has(> span)):not(:has(> mat-icon)) {
      --uql-button-style-type: twentyone;
      line-height: 0;
      text-decoration: underline;

      &:hover, &:focus {
        span {
          text-decoration: underline;
          background-color: var(--uq-main-purple);
          color: #fff;
          line-height: normal;
        }
      }
    }
  }

  /* eg full, sidebar, related reading */
  a:has(> h5 > span) {
    --uql-button-style-type: twentytwo;

    h5 span {
      line-height: normal;
      text-decoration: underline;
    }

    &:hover, &:focus {
      h5 span {
        text-decoration: underline;
        background-color: var(--uq-main-purple);
        color: #fff;
      }

      mat-icon {
        /* sometimes there is an icon */
        background-color: #fff;
      }
    }
  }

  /* eg full, top section, read more button */
  button:has(> span:nth-of-type(5)):has(> span.mdc-button__label span) {
    &:not(:has(mat-icon)):not(:has(div)):not(:has(span.mdc-button__label span span)) {
      --uql-button-style-type: twentythree;

      span.mdc-button__label span {
        text-decoration: underline;
        background-color: transparent;
      }

      &:hover, &:focus {
        span.mdc-button__label span {
          text-decoration: underline;
          background-color: var(--uq-main-purple);
          color: #fff;
        }
      }
    }
  }

  /* eg full, locations section, click filter by then clear filter button */
  button, a {
    &:has(> span:nth-of-type(5)):has(> span.mdc-button__label) {
      &:not(:has(mat-icon)):not(:has(div)):not(:has(span span)) {
        &:not(.facet-name) { // brief results, facet sidebar items
          &:not(.quick-filter-btn) { // quick filter buttons (or we get weird double hover effect)
            &:not([data-qa="atoz-button"]) { // database search alpha block doesnt need this styling
              --uql-button-style-type: twentyfour;

              span.mdc-button__label {
                line-height: normal;
                color: var(--uq-main-purple);
              }

              &:hover, &:focus {
                background-color: var(--uq-main-purple);
                span.mdc-button__label {
                  text-decoration: underline;
                  color: #fff;
                }

                span.mat-mdc-button-persistent-ripple {
                  display: none;
                }
              }
            }

            &[aria-label^="Clear all filters"] {
              --uql-button-style-type: twentyfourextended-clearallfilters;
              text-decoration: underline;
              &:hover, &:focus {
                span.mat-mdc-button-persistent-ripple::before {
                  background-color: transparent;
                }
              }
            }
            &[data-qa="favorites-view-all-btn"], // account, overview
            &[data-qa="saved-searches-view-all-btn"],
            &[data-qa="search-history-view-all-btn"],
            &[data-qa="fines-view-all-btn"],
            &[data-qa="requests-view-all-btn"],
            &.advanced-search-button { // search header
              --uql-button-style-type: twentyfourextended-advancedsearch;
              text-decoration: underline;
              &:hover, &:focus {
                background-color: transparent !important;
                span.mdc-button__label {
                  background-color: var(--uq-main-purple) !important;
                  color: #fff !important;
                }
              }

            }
          }
        }
      }
    }
  }

  /* eg full, locations, expand "Show more" - note html is "broken", "Show more should be inside the provided mdc-button__label span */
  button:has(> span:nth-of-type(5)):has(> span.mdc-button__label:empty) {
    --uql-button-style-type: twentyfive;
    span.mat-mdc-button-persistent-ripple::before {
      background-color: transparent;
    }
    text-decoration: underline;
    &:hover, &:focus {
        background-color: var(--uq-main-purple);
        color: #fff;
    }
  }

  /* full record, available online - second button (with icon) */
  nde-online-availability {
    button {
      --uql-button-style-type: twentysix;
      border-width: 2px;
      padding-block: 1rem;
      --sys-outline-variant: var(--uq-main-purple);
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;

      &:hover, &:focus {
        span.mat-mdc-button-persistent-ripple::before {
          background-color: var(--uq-main-purple);
          color: #fff;
          opacity: 1;
          transition: background-color .2s ease-out, color .2s ease-out, border .2s ease-out;
          border-radius: unset;
        }

        span.mdc-button__label span {
          text-decoration: underline;
          background-color: var(--uq-main-purple);
          color: #fff;
        }

        mat-icon * {
          fill: #fff;
        }
      }
    }
  }

  nde-quick-filters button {
    --uql-button-style-type: twentyseven;
    @include uqSecondaryButton();
    --sys-outline-variant: var(--uq-main-purple);
    --sys-on-background: var(--uq-main-purple);
  }


    /* eg search header, advanced search button  */
  /* they are doing something horrid with the Advanced Search  - it loads with 4 span children, but on hover it has 5!!! */
  /* and the AI buttons starts with 5 and hovers to 4!!! */
  a, button.basic-button {
    &:has(> span:nth-of-type(4)){
      &:not(:has(> span:nth-of-type(5))):not(:has(div)):not(:has(mat-icon)) {
        --uql-button-style-type: twentyeight;
        text-decoration: underline;
      }
    }
  }

  /* main menu popup items */
  ul.show-more-main-menu-out-inner-wrapper-ul {
    a, button {
      text-decoration: underline;
      color: var(--uq-main-purple);
      cursor: pointer;

      &:hover, &:focus {
        background-color: transparent;
        span.mat-title-small,
        span.mat-body-small {
          background-color: var(--uq-main-purple);
          color: #fff;
        }
      }
    }
  }

  cdk-virtual-scroll-viewport a {
    h3 {
      text-decoration: underline;
      display: inline;
    }
    &:hover, &:focus {
      h3 {
        text-decoration: none;
        background-color: var(--uq-main-purple);
        color: #fff;
      }
    }
  }

  nde-categories {
    mat-tree-node {
      text-decoration: underline;
      color: var(--uq-main-purple);
      --sys-on-background: var(--uq-main-purple);
      &.selected-category {
        font-weight: 500;
      }
    }
  }


  /* END UQ DS style Tight links */

  /* Resource Sharing form message */
  .description-container span {
    font-size: 1rem;
  }
  /* END Resource Sharing form message */
}
