/* override exlibris colours & settings */
:root, html, head, body {
  --uq-colour-purple-50: #eee9f2;
  --uq-colour-purple-100: #dcd3e4;
  --uq-colour-purple-200: #b9a7ca;
  --uq-colour-purple-300: #977caf;
  --uq-colour-purple-400: #745095;
  --uq-colour-purple-500: #51247a;
  --uq-colour-purple-600: #4b2271;
  --uq-colour-purple-650: #40205d;
  --uq-colour-purple-700: #3a1f53;
  --uq-colour-purple-800: #2f1d3f;
  --uq-colour-purple-900: #231a2c;

  --uq-colour-grey-50: #f3f3f4;
  --uq-colour-grey-200: #dcdcdd;
  --uq-colour-grey-900: #3b383e;

  --uq-colour-black: #19151c;

  --uq-main-purple: var(--uq-colour-purple-500);
  --uq-body-copy: var(--uq-colour-grey-900);
  --uq-body-color: var(--uq-colour-black);
  --uq-panel-background: var(--uq-colour-grey-50);

  --sys-background: var(--uq-colour-purple-50);
  --sys-inverse-on-surface: var(--uq-panel-background);
  --sys-inverse-primary: var(--uq-panel-background);
  --sys-primary: var(--uq-main-purple);
  --sys-primary-container: var(--uq-colour-purple-50);
  --sys-outline: var(--uq-body-copy);
  --sys-outline-variant: var(--uq-colour-purple-100);
  --sys-surface-container: #fff;
  --sys-primary-fixed: var(--uq-colour-purple-50);
  --sys-primary-fixed-dim: var(--uq-colour-purple-200);
  //--sys-on-surface-variant: #fff;
  //--mdc-icon-button-icon-color: var(--uq-main-purple);

  --valid: var(--uq-main-purple);
  --validDark: var(--uq-main-purple);

  --mdc-switch-unselected-track-color: var(--uq-colour-purple-100);
  --mdc-switch-unselected-hover-track-color: var(--uq-colour-purple-200);

  --border: hsla(203, 50%, 30%, 0.15);
}

/* override fill=green hard coded on attribute so everything-purple */
svg, rect, path, circle {
  fill: var(--uq-main-purple);
}
/* END override fill=green hard coded on attribute */

/* Full Record Request section, don't fill purple */
nde-request-card path {
  fill: white;
}
/* END Full Record Request section, don't fill purple */


body.custom-nde-theme {

  /* login-loggedout button */
  nde-user-area {
    /* UQ up-down arrow icons on logged in button override on everything-purple */
    .user-area .arrow path {
      fill: none;
    }
    /* UQ profile icon on logged out button override on everything-purple */
    button[aria-label="Open actions menu"] {
      svg, path {
        fill: none;
      }
    }
  }
  /* END login-loggedout button */

  /* added items on account menu */
  .library-feedback-icon,
  .library-learning-resources-icon,
  .library-room-booking-icon,
  .library-account-icon,
  .library-favourites-icon {
    path {
      fill: none !important;
    }
  }
  /* END new items on account menu */
}
