@use "sass:color";
@use "../../../../styles-imports/www/variables";
@use "../../../styles/partials/mixins";

prm-favorites-labels {
    .md-chips {
        .md-chip.unlabled {
            .md-chip-content {
                @extend .text-italic;
                strong {
                    font-weight: variables.$normal !important;
                }
            }
        }
        .md-chip:not(.chip-toggled-on),
        .md-chip.toggleable-chip:not(.chip-toggled-on) {
            .md-chip-content {
                overflow: hidden;
                cursor: pointer;
                padding-left: 0.35em;
                padding-right: 0.35em;
                border-radius: variables.$radius;

                @include mixins.bgColor(color.adjust(variables.$dark, $lightness: 10%));
            }
        }
    }
}
