@charset "UTF-8";

body {
  background: #fff;
  color: #2b2a29;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/**
 * TODO: user should be able to configure whether or not they want this
 * normalised or we remove it and make sure our packages are self-contained w/
 * this style rule.
 */
*, *::before, *::after {
  box-sizing: border-box;
}

b,
strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

a {
  color: #1E72C6;
  text-decoration: none;
  transition: 0.2s color;
}
a:hover {
  color: #1E72C6;
  text-decoration: underline;
}

.hidden {
  display: none !important;
}
@media (max-width: 37.4375rem) {
  .hidden--mobile-only {
    display: none !important;
  }
}
@media (min-width: 37.5rem) {
  .hidden--md, .hidden--tablet {
    display: none !important;
  }
}
@media (min-width: 75rem) {
  .hidden--xl, .hidden--desktop {
    display: none !important;
  }
}

/* button Default */
.uq-button {
  background-color: #1E72C6;
  border: 2px solid #1E72C6;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  padding: 0.5rem 1.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease-out;
  /* button secondary */
  /* button purple */
  /* button sizes */
}
.uq-button *, .uq-button *::before, .uq-button *::after {
  box-sizing: border-box;
}
.uq-button:hover, .uq-button:focus {
  background-color: #005ea5;
  border-color: #005ea5;
  color: #fff;
  text-decoration: underline;
}
.uq-button.uq-button--outline {
  background-color: transparent;
  border-color: #1E72C6;
  color: #1E72C6;
}
.uq-button.uq-button--outline:hover, .uq-button.uq-button--outline:focus {
  background-color: #005ea5;
  border-color: #005ea5;
  color: #fff;
}
.uq-button.uq-button--text {
  background-color: transparent;
  border-color: transparent;
  color: #1E72C6;
}
.uq-button.uq-button--text:hover, .uq-button.uq-button--text:focus {
  background-color: transparent;
  border-color: transparent;
  color: #005ea5;
}
.uq-button--secondary {
  background-color: #D7D1CC;
  border-color: #D7D1CC;
  color: #2b2a29;
}
.uq-button--secondary:hover, .uq-button--secondary:focus {
  background-color: #aca7a3;
  border-color: #aca7a3;
  color: #000;
}
.uq-button--secondary.uq-button--outline {
  background-color: transparent;
  border-color: #D7D1CC;
  color: #2b2a29;
}
.uq-button--secondary.uq-button--outline:hover, .uq-button--secondary.uq-button--outline:focus {
  background-color: #aca7a3;
  border-color: #aca7a3;
  color: #2b2a29;
}
.uq-button--secondary.uq-button--outline.uq-button--light {
  color: #D7D1CC;
}
.uq-button--secondary.uq-button--outline.uq-button--light:hover, .uq-button--secondary.uq-button--outline.uq-button--light:focus {
  color: #2b2a29;
}
.uq-button--secondary.uq-button--text {
  background-color: transparent;
  border-color: transparent;
  color: #2b2a29;
}
.uq-button--secondary.uq-button--text:hover, .uq-button--secondary.uq-button--text:focus {
  background-color: transparent;
  border-color: transparent;
  color: #000;
}
.uq-button--secondary.uq-button--text.uq-button--light {
  color: #D7D1CC;
}
.uq-button--secondary.uq-button--text.uq-button--light:hover, .uq-button--secondary.uq-button--text.uq-button--light:focus {
  color: #aca7a3;
}

.uq-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  border: 1px solid #efedeb;
  border-radius: 0.25rem;
  color: #565452;
  line-height: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.uq-card__content {
  flex-grow: 1;
  padding: 1.5rem;
}
.uq-card__content :last-child .uq-card__title {
  margin-bottom: 0;
}

/* Additional style rules */

.uq-error-message,
.uq-success-message {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

fieldset,
input,
select,
textarea,
.uq-error-message,
.uq-success-message {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

fieldset::before, fieldset::after,
fieldset *, fieldset *::before, fieldset *::after,
input::before,
input::after,
input *,
input *::before,
input *::after,
select::before,
select::after,
select *,
select *::before,
select *::after,
textarea::before,
textarea::after,
textarea *,
textarea *::before,
textarea *::after {
  box-sizing: border-box;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

input[disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]),
select,
textarea {
  background-color: #fff;
  max-width: 100%;
  min-width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #e7e3e0;
  border-radius: 2px;
  font-size: 1rem;
  color: #2b2a29;
  line-height: 1;
  margin-bottom: 1.5rem;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]):focus,
select:focus,
textarea:focus {
  border-color: #1E72C6;
  box-shadow: 0 0 0 1px #1E72C6 inset;
  outline: none;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit])[disabled],
select[disabled],
textarea[disabled] {
  color: #817d7a;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit])[readonly]:focus,
select[readonly]:focus,
textarea[readonly]:focus {
  border-color: #e7e3e0;
  box-shadow: 0 0 0 1px #e7e3e0 inset;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit])::placeholder,
select::placeholder,
textarea::placeholder {
  color: #817d7a;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).uq-input--error, input:not([type=checkbox]):not([type=radio]):not([type=submit]).uq-input--success,
select.uq-input--error,
select.uq-input--success,
textarea.uq-input--error,
textarea.uq-input--success {
  border-radius: 2px;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).uq-input--error:focus, input:not([type=checkbox]):not([type=radio]):not([type=submit]).uq-input--success:focus,
select.uq-input--error:focus,
select.uq-input--success:focus,
textarea.uq-input--error:focus,
textarea.uq-input--success:focus {
  border-color: #1E72C6;
  box-shadow: 0 2px 0 0 #1E72C6, 0 0 0 1px #1E72C6 inset;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).uq-input--error,
select.uq-input--error,
textarea.uq-input--error {
  border-color: #951126;
  box-shadow: 0 2px 0 0 #951126;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).uq-input--success,
select.uq-input--success,
textarea.uq-input--success {
  border-color: #238029;
  box-shadow: 0 2px 0 0 #238029;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).uq-input--large,
select.uq-input--large,
textarea.uq-input--large {
  padding: 1.15625rem 1.5rem;
  border-radius: 0.25rem;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]) + .uq-error-message,
input:not([type=checkbox]):not([type=radio]):not([type=submit]) + .uq-success-message,
select + .uq-error-message,
select + .uq-success-message,
textarea + .uq-error-message,
textarea + .uq-success-message {
  margin-top: -1.5rem;
  border-radius: 0 0 2px 2px;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2351247A'%3e%3cpath d='M14.285 5.145l-6 6.167a.41.41 0 01-.598 0L1.715 5.145' fill='none' stroke='%2351247A' stroke-width='.75' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  cursor: pointer;
  line-height: 1.2;
}
select:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%231E72C6'%3e%3cpath d='M14.285 5.145l-6 6.167a.41.41 0 01-.598 0L1.715 5.145' fill='none' stroke='%231E72C6' stroke-width='.75' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
}
select[multiple] {
  height: auto;
  background-image: none;
}
select[multiple]:focus {
  background-image: none;
}
select[disabled] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23e7e3e0'%3e%3cpath d='M14.285 5.145l-6 6.167a.41.41 0 01-.598 0L1.715 5.145' fill='none' stroke='%23e7e3e0' stroke-width='.75' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
}

textarea {
  height: 10rem;
}

[type=submit] {
  appearance: none;
}

.uq-error-message,
.uq-success-message {
  color: #fff;
  display: block;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  padding: calc(0.5rem - 1px) 1rem 0.5rem 3rem;
  position: relative;
}
.uq-error-message::before,
.uq-success-message::before {
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1rem;
  left: 1rem;
  margin-right: 0.5rem;
  margin-top: calc(-0.5rem - 1px);
  position: absolute;
  top: 50%;
  width: 1rem;
}

.uq-error-message {
  background-color: #951126;
}
.uq-error-message::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 140' width='140' height='140' fill='%23fff'%3e%3cpath d='M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z'%3e%3c/path%3e%3c/svg%3e");
}

.uq-success-message {
  background-color: #238029;
}
.uq-success-message::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 140' width='140' height='140' fill='%23fff'%3e%3cpath d='M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm36 59L66.24 98.74a10 10 0 01-14.15 0L34 80.68a10.013 10.013 0 0114.18-14.14l11 11 32.64-32.67A10.01 10.01 0 01106 59z'%3e%3c/path%3e%3c/svg%3e");
}
