#open-athens-copy-options > button {
    margin-top: 0.5rem;
}

#open-athens-url-display-area {
    resize: none;
    height: auto;
    outline: none;
    margin-bottom: 1rem;
    transition: height 1s;
}

#open-athens-copy-status {
    position: fixed;
    left: 3rem; /* this can go back to 1em when the cultural advice popup is removed */
    bottom: 1rem;
    transition: transform 1s, opacity 1s;
    padding: 1rem 1.5rem 1rem 3rem;
    opacity: 0;
    z-index: 9999; /* this can go back to 1 when the cultural advice popup is removed */
}

#open-athens-copy-status.open {
    opacity: 1;
    transform: translateY(1rem);
}
.spinnerWrapper {
    display: none;
    background-color: white;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.spinner {
    display: inline-block;
    -webkit-animation: spin 1.4s linear infinite;
    animation: spin 1.4s linear infinite;
    color: #51247a;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
}
.spinner svg {
    animation: spin 1.4s linear infinite;
    color: #51247a;
}
.spinner svg circle {
    stroke: currentColor;
    stroke-dasharray: 80px, 200px;
    stroke-dashoffset: 0;
    animation: animation-1p2h4ri 1.4s ease-in-out infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hideInput {
    border-width: 0;
    background-color: white;
}
.hideInput::placeholder, /* Chrome, Safari, Opera, and Edge */
.hideInput::-moz-placeholder, /* Firefox 19+ */
.hideInput:-ms-input-placeholder, /* Internet Explorer 10-11 */
.hideInput::-ms-input-placeholder,  /* Microsoft Edge */
.hideInput:-moz-placeholder {
    /* Older versions of Firefox */
    color: white;
    background-color: white;
}
