#open-athens-copy-options > button {
    margin-top: 0.5rem;
}

#open-athens-url-display-area {
    resize: none;
    height: auto;
    outline: none;
    margin-bottom: 1rem;
    transition: height 1s;
}

#open-athens-copy-status {
    position: fixed;
    left: 3rem; /* this can go back to 1em when the cultural advice popup is removed */
    bottom: 1rem;
    transition: transform 1s, opacity 1s;
    padding: 1rem 1.5rem 1rem 3rem;
    opacity: 0;
    z-index: 9999; /* this can go back to 1 when the cultural advice popup is removed */
}

#open-athens-copy-status.open {
    opacity: 1;
    transform: translateY(1rem);
}
