/* starting locationsFilter */

prm-locations-filter {
    div div.bar.filter-bar {
        background-color: $uqGrey50;
    }
    md-select {
        margin-top: -4px;
    }
    .md-button.filter-align {
        margin-top: 3px;
    }

    .md-button.cancel-align {
        margin-top: 6px;
    }
}
