@import 'citation/citation';
@import 'sendEmailAction/send-email';
@import 'legantoAction/leganto';

/* starting actionList */
.favorites-action-list,
.search-action-list {
    prm-action-list,
    .saved-query-list {
        position: relative;

        .md-nav-item {
            opacity: 1;
            transform: scale3d(1, 1, 1);
            color: red;
        }
    }

    .close-action-menu {
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 1px 1px 1px 1px;
    }
}

prm-action-list {
    & > div > button {
        @include uqPrimaryButton($accent-color, $white);
    }
}
prm-action-list,
.saved-query-list {
    > md-nav-bar {
        height: auto;

        .md-nav-bar {
            height: auto;
            border-width: 0px;
        }

        nav {
            display: flex;
            justify-content: center;
        }

        ul {
            width: auto;
            display: inline-flex;
        }

        .md-nav-item {
            width: auto;
            opacity: 0;
            transform: translate3d(0, 20px, 0) scale3d(0.5, 0.5, 1);

            &:last-of-type {
                margin-right: 0;
            }

            .md-button.md-unselected,
            .md-button.md-primary {
                color: $accent-color;
                border-radius: 4px;
                padding-bottom: 0.75em;
                padding-top: 0.75em;
                margin: 0;
                font-size: 10px;
                line-height: 14px;
                font-weight: 600;
                letter-spacing: 0.03em;
                white-space: normal;
                transition-timing-function: ease-out;
                &:focus,
                &:hover {
                    background-color: #fff;
                    color: $accent-color;
                    span.button-text {
                        background-color: $accent-color;
                        color: #fff;
                        padding-block: 2px;
                  }
                }
                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-transform: capitalize;
                    font-size: 16px;
                    gap: 10px;
                    letter-spacing: 0.16px;
                    line-height: 16px;
                    font-weight: 500;
                    span {
                        text-wrap: nowrap;
                        text-decoration: underline;
                    }
                }
            }
            .md-button.md-primary:focus:not([disabled]) {
              background-color: #fff;
              color: $accent-color;
            }
          }

        &.wrapped-items {
            .__sm &,
            .__xs & {
                .md-nav-item {
                    min-width: 78px;
                }
            }
        }
    }

    &.visible {
        .md-nav-item {
            opacity: 1;
            transition: $swift-ease-out;
            transition-duration: 0.25s;
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            $max: 12;
            @for $i from 1 through $max {
                $value: $max - $i;
                &:nth-child(#{abs($i)}) {
                    transition-delay: ($value * 0.02)#{s};
                }
            }
        }
    }
}

.send-actions-content {
    max-height: 0;

    opacity: 0;
    transition: opacity 0s ease, max-height 0s $easeOutQuint;

    .send-content-visible & {
        max-height: 100em;
        opacity: 1;
        transition: opacity 0.2s ease, max-height 0.3s $easeOutQuint;
    }
}

.send-actions-content-item {
    transform-origin: 50% 0;
    transition: transform 0.4s $easeOutQuint;

    .__xs & {
        margin: 0;
    }

    prm-brief-result-container & {
        // margin: 1em 1em 1.5em 1em;
        margin: 1em 1.5em 1.5em 1.5em;
    }

    prm-full-view & {
        padding: 1em 0 0 0;
        margin: 0;
    }

    > md-content,
    > md-content.md-primoExplore-theme {
        padding: 1em;
        border: 1px solid darken($actionsBackground, 4%);
        background-color: $actionsBackground;

        .__xs & {
            padding: 0;
            border: none;
            background-color: transparent;
        }

        > form {
            .__xs & {
                padding: 0;
            }
        }

        prm-full-view & {
            padding: 1.5em;

            .__sm & {
                padding: 0.5em;
            }
        }
    }
}

.send-action-buttons {
    .button-confirm {
        margin: 0;
    }
}

.marg-nav-item {
    margin-left: 5px;
}

.safari-wrapper {
    display: inline-block;
}

.scroll-hidden {
    overflow: hidden;
}

.actions-layout {
    flex-flow: row wrap;
    gap: 5px;
    margin-bottom: 5px;
    justify-content: center;
    max-width: 700px;
    @media (max-width: 600px) {
        display: block;
    }
}

prm-account {
    .action-list-content {
        z-index: 1;
        background: white;
        box-shadow: 0 0 0 0.55em #fff, 0 0 0 0.6em #acbecc, 0 2px 15px 5px rgba(0, 0, 0, 0.2);

        md-nav-bar {
            .md-nav-item {
                transform: none;
                opacity: 1;
            }
        }
    }

    ._md-nav-bar-list,
    .md-nav-bar-list {
        justify-content: center;
    }
}

prm-action-list {
    prm-export-bibtex,
    prm-copy-clipboard-btn,
    prm-export-excel,
    prm-export-ris,
    prm-qr-code,
    prm-send-email .send-actions-content-item.layout-row,
    prm-share {
        button.button-confirm {
            @include uqPrimaryButton($accent-color, $white);
            border: 2px solid $accent-color !important;
          font-size: 16px !important;
        }
    }
}
