.culturaladvice-popup-shown {
    position: fixed;
    bottom: 10px;
    padding: 15px;
    transition: left 0.3s, opacity 0.4s;
    transition-delay: 0.3s;
    transition-timing-function: ease-in-out;
    z-index: 9999;
    background: #fff;
    width: 300px;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    left: 12px;
}
.culturaladvice-popup-hidden {
    position: fixed;
    bottom: 10px;
    padding: 15px;
    left: -999px;
    z-index: 9999;
    background: #fff;
    width: 300px;
    opacity: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s, opacity 0.4s;
    transition-delay: 0.3s;
    transition-timing-function: ease-in-out;
}

#culturaladvice-tab {
    cursor: pointer;
    transform: rotate(90deg);
    transform-origin: bottom left;
    position: fixed;
    z-index: 9998;
    bottom: 170px;
    left: 0px;
    opacity: 1;
    padding: 10px 25px;
    color: white;
    background-color: #2377cb;
    transition: left 0.3s, opacity 0.4s;
    transition-delay: 0.3s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#culturaladvice-tab:hover {
    background-color: #195794;
}
#culturaladvice-tab.culturaladvice-tab-hidden {
    left: -100px;
    opacity: 0;
    transition: left 0.3s, opacity 0.4s;
    transition-delay: 0.3s;
    transition-timing-function: ease-in-out;
}
#culturaladvice-tab.culturaladvice-tab-shown {
    left: 0px;
    opacity: 1;
    transition: left 0.3s, opacity 0.4s;
    transition-delay: 0.3s;
    transition-timing-function: ease-in-out;
}
#culturaladvice-container .title {
    margin-bottom: 0;
    margin-top: 0;
}
#culturaladvice-container-dismiss {
    cursor: pointer;
    font-size: 2em;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    text-align: center;
}
.culturaladvice-wording {
    padding-top: 1px;
    font-weight: 300;
}

#cultural-advice-read-more {
    text-decoration: none;
    color: #2377cb;
}
#cultural-advice-read-more:hover {
    text-decoration: underline;
}
