/* starting loansList */
prm-loans {
    .disabledFavTool {
        color: $disabled;
    }

    .action-list-content {
        top: 3em;
        height: auto;
    }

    md-list-item {
        position: relative;
        &.md-3-line:before {
            display: none;
        }
    }

    .loans-type {
        color: $primary-hue1;
    }
    .md-button:not([disabled]) {
        ._md-focused,
        .hovered,
        .md-focused,
        &:focus,
        &:hover {
          color: #000;
          background-color: rgba(51, 51, 51, 0.1);
        }
    }
}
