@use "sass:color";
@use "../../../../../styles-imports/www/variables";
@use "../../../../styles/partials/mixins";

/* starting chaptersResultsLine */

prm-chapters-results-line {
    [chapters-type] {
        color: color.adjust(variables.$dark, $alpha: -0.6);
        flex-shrink: 0;
        // margin-right: .35em;

        //@include rtl-prop(margin-right, margin-left,.35em, 0);

        md-icon {
            @include mixins.setSize(18px);
            position: relative;
        }
    }

    .neutralized-button {
        &:hover,
        &:focus {
            box-shadow: none;
        }
    }
}
