.uq-grid {
    box-sizing: border-box;
}
.uq-grid *,
.uq-grid *::before,
.uq-grid *::after {
    box-sizing: border-box;
}
.uq-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}
@media (min-width: 37.5rem) {
    .uq-grid {
        margin-top: -0.75rem;
        margin-bottom: -0.75rem;
    }
}
@media (min-width: 75rem) {
    .uq-grid {
        margin-top: -1rem;
        margin-bottom: -1rem;
    }
}
.uq-grid__col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex: none;
}
@media (min-width: 37.5rem) {
    .uq-grid__col {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}
@media (min-width: 75rem) {
    .uq-grid__col {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media (min-width: 37.5rem) {
    .uq-grid__col {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}
@media (min-width: 75rem) {
    .uq-grid__col {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
@supports (display: grid) {
    .uq-grid {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-gap: 1rem 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    @media (min-width: 37.5rem) {
        .uq-grid {
            grid-row-gap: 1.5rem;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    @media (min-width: 75rem) {
        .uq-grid {
            grid-row-gap: 2rem;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .uq-grid__col {
        padding-top: 0;
        padding-bottom: 0;
    }
    @media (min-width: 37.5rem) {
        .uq-grid__col {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    @media (min-width: 75rem) {
        .uq-grid__col {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
.uq-grid:not(.uq-grid--full-width) {
    margin-left: 1rem;
    margin-right: 1rem;
}
@media (min-width: 32.5rem) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: auto;
        margin-right: auto;
        max-width: 30.5rem;
    }
}
@media (min-width: 37.5rem) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: 3.25rem;
        margin-right: 3.25rem;
        max-width: none;
    }
}
@media (min-width: 64.25rem) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: auto;
        margin-right: auto;
        max-width: 57.75rem;
    }
}
@media (min-width: 75rem) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: 8.375rem;
        margin-right: 8.375rem;
        max-width: none;
    }
}
@media (min-width: 90rem) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: auto;
        margin-right: auto;
        max-width: 73.25rem;
    }
}
.uq-grid--full-width {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    max-width: none;
}
@media (min-width: 37.5rem) {
    .uq-grid--full-width {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
}
@media (min-width: 75rem) {
    .uq-grid--full-width {
        margin-left: -1rem;
        margin-right: -1rem;
    }
}
.uq-grid .uq-grid {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    max-width: none;
}
@media (min-width: 37.5rem) {
    .uq-grid .uq-grid {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
}
@media (min-width: 75rem) {
    .uq-grid .uq-grid {
        margin-left: -1rem;
        margin-right: -1rem;
    }
}
.uq-grid__col--1 {
    width: 16.6666666667%;
}
.uq-grid__col--2 {
    width: 33.3333333333%;
}
.uq-grid__col--3 {
    width: 50%;
}
.uq-grid__col--4 {
    width: 66.6666666667%;
}
.uq-grid__col--5 {
    width: 83.3333333333%;
}
.uq-grid__col--6,
.uq-grid--quarters > .uq-grid__col,
.uq-grid--thirds > .uq-grid__col,
.uq-grid--halves > .uq-grid__col,
.uq-grid--golden > .uq-grid__col:nth-child(even),
.uq-grid--golden > .uq-grid__col:nth-child(odd) {
    width: 100%;
}
@supports (display: grid) {
    .uq-grid__col--1 {
        grid-column: auto/span 4;
        width: auto;
    }
    .uq-grid__col--2 {
        grid-column: auto/span 8;
        width: auto;
    }
    .uq-grid__col--3 {
        grid-column: auto/span 12;
        width: auto;
    }
    .uq-grid__col--4 {
        grid-column: auto/span 16;
        width: auto;
    }
    .uq-grid__col--5 {
        grid-column: auto/span 20;
        width: auto;
    }
    .uq-grid__col--6,
    .uq-grid--quarters > .uq-grid__col,
    .uq-grid--thirds > .uq-grid__col,
    .uq-grid--halves > .uq-grid__col,
    .uq-grid--golden > .uq-grid__col:nth-child(even),
    .uq-grid--golden > .uq-grid__col:nth-child(odd) {
        grid-column: auto/span 24;
        width: auto;
    }
}
body {
    background: #fff;
    color: #2b2a29;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
h3,
h4,
h5 {
    font-weight: 500;
    line-height: 1.4;
    color: #51247a;
}
h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
h4 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
}
h5 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.125rem;
}
p {
    margin-top: 0;
    margin-bottom: 1.5rem;
}
b,
strong {
    font-weight: 500;
}
em {
    font-style: italic;
}
a {
    color: #51247a;
    text-decoration: none;
    transition: 0.2s color;
}
a:hover {
    color: #51247a;
    text-decoration: underline;
}
.hidden {
    display: none !important;
}
@media (max-width: 37.4375rem) {
    .hidden--mobile-only {
        display: none !important;
    }
}
@media (min-width: 37.5rem) {
    .hidden--md,
    .hidden--tablet {
        display: none !important;
    }
}
@media (min-width: 75rem) {
    .hidden--xl,
    .hidden--desktop {
        display: none !important;
    }
}
.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
    margin: 0;
    padding: 0;
}
.uq-accordion {
    border-bottom: 1px solid #e7e3e0;
    list-style: none;
    margin-bottom: 1.5rem;
    overflow: hidden;
    padding: 0;
}
.uq-accordion__item {
    border-top: 1px solid #e7e3e0;
    margin-bottom: 0;
}
.uq-accordion h3 {
    margin: 0;
}
.uq-accordion__toggle {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    color: #2b2a29;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 1rem 1rem 1rem 0;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: all ease 0.2s;
    width: 100%;
}
@media (min-width: 37.5rem) {
    .uq-accordion__toggle {
        font-size: 1.5rem;
        padding: 1rem 1rem 1rem 1rem;
    }
}
.uq-accordion__toggle::before {
    content: '';
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2351247A'%3e%3cpath d='M14.285 5.145l-6 6.167a.41.41 0 01-.598 0L1.715 5.145' fill='none' stroke='%2351247A' stroke-width='.75' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    float: right;
    transform: translateY(50%);
}
.uq-accordion__toggle:focus,
.uq-accordion__toggle:hover {
    color: #2b2a29;
    background-color: #f7f6f5;
}
.uq-accordion__toggle:focus {
    outline: 0 none;
    color: #51247a;
    text-decoration: underline;
}
.uq-accordion__toggle--active {
    background: #fff;
}
.uq-accordion__toggle--active::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2351247A'%3e%3cpath d='M1.715 10.855l6-6.168a.41.41 0 01.597 0l5.973 6.168' fill='none' stroke='%2351247A' stroke-width='.75' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
}
.uq-accordion__toggle--active:hover {
    text-decoration: underline;
}
.uq-accordion__toggle--active:hover,
.uq-accordion__toggle--active:focus {
    background-color: #fff;
}
.uq-accordion__content {
    overflow: hidden;
    padding: 0;
    word-wrap: break-word;
    transition: height 200ms ease;
}
@media (min-width: 37.5rem) {
    .uq-accordion__content {
        padding: 0 1rem;
    }
}
.uq-accordion__content:not(.uq-accordion__content--active) {
    display: none;
}
.uq-accordion__content p:first-of-type {
    margin-top: 0;
}
.uq-accordion--shaded .uq-accordion__toggle {
    background: #f7f6f5;
}
.uq-accordion--shaded .uq-accordion__toggle:hover {
    background-color: #efedeb;
}
.uq-accordion--shaded .uq-accordion__toggle--active {
    background: #fff;
}
.uq-accordion--no-bottom-border {
    border-bottom: 0;
}
.uq-accordion--no-bottom-spacing {
    margin-bottom: 0;
}
.uq-accordion--secondary .uq-accordion__toggle {
    font-size: 1.1rem;
}
@media (min-width: 37.5rem) {
    .uq-accordion--secondary .uq-accordion__toggle {
        font-size: 1.2rem;
    }
}
.uq-accordion .contextual-links-wrapper {
    top: 0 !important;
}
.uq-button {
    background-color: #51247a;
    background-repeat: no-repeat;
    border: 2px solid #51247a;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    margin-bottom: 0;
    margin-right: 2rem;
    padding: 1rem 1.5rem;
    -webkit-text-decoration: none;
    text-decoration: none;
    transition: color .2s,background-color .2s,border-color .2s
}
.uq-button *,
.uq-button *::before,
.uq-button *::after {
    box-sizing: border-box;
}
.uq-button:hover {
    background-color: #fff;
    border-color: #51247a;
    color: #51247a;
    -webkit-text-decoration: underline;
    text-decoration: underline
}
.uq-button:focus {
    outline: 2px solid #0d6dcd;
    outline-offset: 0
}
.uq-button--secondary {
    background-color: initial;
    border-color: #51247a;
    color: #51247a
}

.uq-button--secondary:hover {
    background-color: #51247a;
    border-color: #51247a;
    color: #fff
}

.uq-button--secondary.button--reverse {
    background-color: initial;
    border-color: #fff;
    color: #fff
}

.uq-button--secondary.button--reverse:hover {
    background-color: #fff;
    color: #51247a
}
.uq-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    border: 1px solid #efedeb;
    border-radius: 0.25rem;
    color: #3b383e;
    line-height: 1.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.uq-card__content {
    flex-grow: 1;
    padding: 1.5rem;
}
.uq-card__content :last-child .uq-card__title {
    margin-bottom: 0;
}
.uq-card__header :last-child {
    margin: 0 0 0.5rem;
}
.uq-card__body p:last-child {
    margin-bottom: 0;
}
.uq-card__actions {
    padding: 0 1.5rem 1.5rem;
}
.uq-card__actions p:last-child {
    margin-bottom: 0;
}
.uq-card__title {
    font-size: 1.25rem;
    color: #2b2a29;
    margin: 0 0 0.5rem;
}
@media (min-width: 37.5rem) {
    .uq-card__title {
        font-size: 1.5rem;
    }
}
@media (max-width: 37.4375rem) {
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--story,
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--event,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event {
        flex-direction: row;
        padding-bottom: 1rem;
        border: none;
        border-bottom: 1px solid #efedeb;
        box-shadow: 0 0.25rem 0.25rem rgba(43, 42, 41, 0);
    }
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--story:hover,
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--story:focus,
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--event:hover,
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--event:focus,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story:hover,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story:focus,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event:hover,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event:focus {
        box-shadow: 0 0.5rem 0.5rem rgba(43, 42, 41, 0.1);
    }
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--story .uq-card__image__wrapper,
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--event .uq-card__image__wrapper,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story .uq-card__image__wrapper,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event .uq-card__image__wrapper {
        min-width: 98px;
        min-height: 100%;
    }
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--story .uq-card__image,
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--event .uq-card__image,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story .uq-card__image,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event .uq-card__image {
        min-height: 100%;
        padding-bottom: 0%;
    }
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--story .uq-card__content__wrapper,
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--event .uq-card__content__wrapper,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story .uq-card__content__wrapper,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event .uq-card__content__wrapper {
        min-width: 50%;
    }
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--story .uq-card__content,
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--event .uq-card__content,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story .uq-card__content,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event .uq-card__content {
        padding: 0 1rem;
    }
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--story .uq-card__title,
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--event .uq-card__title,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story .uq-card__title,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event .uq-card__title {
        margin: 0 0 0.5rem;
    }
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--story .uq-card__body,
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--event .uq-card__body,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story .uq-card__body,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event .uq-card__body {
        display: none;
    }
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--story .uq-card__actions,
    .uq-grid__col:first-child:nth-last-child(3) .uq-card--event .uq-card__actions,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story .uq-card__actions,
    .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event .uq-card__actions {
        padding: 0 1rem 0;
    }
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--story,
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--event,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event {
        flex-direction: row;
        padding-bottom: 1rem;
        border: none;
        border-bottom: 1px solid #efedeb;
        box-shadow: 0 0.25rem 0.25rem rgba(43, 42, 41, 0);
    }
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--story:hover,
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--story:focus,
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--event:hover,
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--event:focus,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story:hover,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story:focus,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event:hover,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event:focus {
        box-shadow: 0 0.5rem 0.5rem rgba(43, 42, 41, 0.1);
    }
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--story .uq-card__image__wrapper,
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--event .uq-card__image__wrapper,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story .uq-card__image__wrapper,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event .uq-card__image__wrapper {
        min-width: 98px;
        min-height: 100%;
    }
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--story .uq-card__image,
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--event .uq-card__image,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story .uq-card__image,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event .uq-card__image {
        min-height: 100%;
        padding-bottom: 0%;
    }
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--story .uq-card__content__wrapper,
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--event .uq-card__content__wrapper,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story .uq-card__content__wrapper,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event .uq-card__content__wrapper {
        min-width: 50%;
    }
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--story .uq-card__content,
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--event .uq-card__content,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story .uq-card__content,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event .uq-card__content {
        padding: 0 1rem;
    }
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--story .uq-card__title,
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--event .uq-card__title,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story .uq-card__title,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event .uq-card__title {
        margin: 0 0 0.5rem;
    }
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--story .uq-card__body,
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--event .uq-card__body,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story .uq-card__body,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event .uq-card__body {
        display: none;
    }
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--story .uq-card__actions,
    .uq-grid__col:first-child:nth-last-child(4) .uq-card--event .uq-card__actions,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story .uq-card__actions,
    .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event .uq-card__actions {
        padding: 0 1rem 0;
    }
}
@media (min-width: 37.5rem) {
    .uq-grid__col--md-8 .uq-card,
    .uq-grid__col--xl-12 .uq-card {
        flex-direction: row;
    }
}
.uq-grid__col--md-8 .uq-card__image-wrapper,
.uq-grid__col--xl-12 .uq-card__image-wrapper {
    min-width: 100%;
    overflow: hidden;
}
@media (min-width: 37.5rem) {
    .uq-grid__col--md-8 .uq-card__image-wrapper,
    .uq-grid__col--xl-12 .uq-card__image-wrapper {
        min-width: 50%;
        max-height: 100%;
    }
}
.uq-grid__col--md-8 .uq-card__image,
.uq-grid__col--xl-12 .uq-card__image {
    padding-bottom: 70%;
}
@media (min-width: 37.5rem) {
    .uq-grid__col--md-8 .uq-card__image,
    .uq-grid__col--xl-12 .uq-card__image {
        min-height: 100%;
        padding-bottom: 0%;
    }
}
.uq-grid__col--md-8 .uq-card__content-wrapper,
.uq-grid__col--xl-12 .uq-card__content-wrapper {
    min-width: 100%;
}
@media (min-width: 37.5rem) {
    .uq-grid__col--md-8 .uq-card__content-wrapper,
    .uq-grid__col--xl-12 .uq-card__content-wrapper {
        min-width: 50%;
    }
}
.uq-grid__col--md-8 .uq-card__content,
.uq-grid__col--xl-12 .uq-card__content {
    padding: 1.5rem;
}
@media (min-width: 37.5rem) {
    .uq-grid__col--md-8 .uq-card__content,
    .uq-grid__col--xl-12 .uq-card__content {
        padding: 3.5rem 3.5rem 1.5rem;
    }
}
.uq-grid__col--md-8 .uq-card__body p,
.uq-grid__col--xl-12 .uq-card__body p {
    white-space: normal;
    overflow: hidden;
    max-height: 75px;
}
.uq-grid__col--md-8 .uq-card__actions,
.uq-grid__col--xl-12 .uq-card__actions {
    padding: 0 1.5rem 1.5rem;
}
@media (min-width: 37.5rem) {
    .uq-grid__col--md-8 .uq-card__actions,
    .uq-grid__col--xl-12 .uq-card__actions {
        padding: 0 3.5rem 3.5rem;
    }
}
.height-non-equalised .uq-card {
    height: auto;
}
label,
input {
    box-sizing: border-box;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
label::before,
label::after,
label *,
label *::before,
label *::after,
input::before,
input::after,
input *,
input *::before,
input *::after {
    box-sizing: border-box;
}
label {
    color: #2b2a29;
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
}
label {
    cursor: pointer;
    line-height: 1;
}
label input:not([type='checkbox']):not([type='radio']),
label + input:not([type='checkbox']):not([type='radio']) {
    margin-top: 0.5rem;
}
input[disabled] {
    cursor: not-allowed;
}
input:not([type='checkbox']):not([type='radio']):not([type='submit']) {
    background-color: #fff;
    max-width: 100%;
    min-width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #e7e3e0;
    border-radius: 2px;
    font-size: 1rem;
    color: #2b2a29;
    line-height: 1;
    margin-bottom: 1.5rem;
}
input:not([type='checkbox']):not([type='radio']):not([type='submit']):focus {
    border-color: #51247a;
    box-shadow: 0 0 0 1px #51247a inset;
    outline: none;
}
input:not([type='checkbox']):not([type='radio']):not([type='submit'])[disabled] {
    color: #817d7a;
}
input:not([type='checkbox']):not([type='radio']):not([type='submit'])[readonly]:focus {
    border-color: #e7e3e0;
    box-shadow: 0 0 0 1px #e7e3e0 inset;
}
input:not([type='checkbox']):not([type='radio']):not([type='submit'])::placeholder {
    color: #817d7a;
}
[type='submit'] {
    appearance: none;
}
.uq-pane {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
.uq-pane--has-footer {
    padding: 0;
}
.uq-pane--has-footer .uq-pane__content {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
}
.uq-pane--has-footer .uq-pane__footer {
    background-color: #f7f6f5;
    padding: 1.5rem;
}
.uq-pane--has-footer.uq-pane--shaded .uq-pane__footer {
    background-color: #ece9e7;
}
.uq-pane--has-footer.uq-pane--dark-tint .uq-pane__footer {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.3);
}
.uq-pane__title {
    color: #51247a;
    font-size: 1.275rem;
    font-weight: 400;
}
.uq-pane__title--hidden {
    display: none;
}
.uq-pane__title + .uq-pane__sub-title {
    margin-top: -1rem;
}
