form.advanced-search-form {
  button.mdc-button.mat-mdc-button-base {
    @include uqPrimaryButton();
    &[aria-label="Clear search filters"] {
      /* clear button as secondary button */
      @include uqSecondaryButton();
    }
  }
  mat-dialog-actions {
    margin-right: 3rem; // move the buttons over to leave room for collapsed proactive-chat webcomponent
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}