.record-indication-wrapper .mat-divider.mat-divider-vertical {
  display: inline
}

[_ngcontent-ng-content-indicator] {
  > div {
    padding-top: 0.5px;
  }

  > div > div {
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-left: 16px
  }

  .mat-divider.mat-divider-vertical {
    margin-inline-start: .5rem;
  }

  mat-icon.mat-icon.nde-mat-icon-size-small {
    width: 16px;
    height: 16px;
    line-height: 10px;
  }

  &.record-indication {
    color: var(--sys-outline);
    font-size: .75rem;
    font-weight: 500
  }
}

/* ensure there can't be two of our indicators */
uql-course-reading-list-sidebar-panel + uql-course-reading-list-sidebar-panel,
div.uql-cultural-advice-content-indicator + div.uql-cultural-advice-content-indicator,
div.uql-course-resource-content-indicator + div.uql-course-resource-content-indicator {
  display: none;
}
/* END ensure there can't be two of our indicators */
