.readingListCitations {
  .course-resource-list {
    list-style-type: none;
  }

  .uql-crl-list-item svg {
    margin-left: 4px;
    vertical-align: middle;
  }

  .mat-expansion-panel-animations-enabled .uql-accordion-child-crl {
    transition: visibility 190ms linear;
  }

  a {
    color: var(--uq-main-purple);
    &:hover span {
      color: #fff;
      background-color: var(--uq-main-purple);
    }
  }
}
mat-expansion-panel-header.mat-expansion-panel-header.crl-mat-expansion-panel-header {
  &:not(.mat-expanded) {
    &:focus,
    &:hover {
      background-color: #ededec;
    }
  }
}