mat-form-field {
  .mat-mdc-notch-piece.mdc-notched-outline__trailing,
  .mat-mdc-notch-piece.mdc-notched-outline__notch,
  .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
    --mdc-outlined-text-field-outline-color: var(--border);
    --mdc-outlined-text-field-outline-width: 1px;
    --mdc-outlined-text-field-container-shape: 4px;
  }
}
