nde-selected-filters-container {
  nde-selected-filters.selected-filters-drop {
    button.selected-filters-container {
      border-radius: var(--uq-border-radius);
    }
    mat-chip-listbox mat-chip-option {
      border: var(--uq-button-border) !important;
      border-radius: var(--uq-border-radius);
    }
  }
}
nde-quick-filters {
  button.quick-filter-btn {
    border-radius: var(--uq-border-radius);
  }
}