nde-search-results-container {
  .filters-actions {
    & > nde-sort-by, /* prevent fouc before we move it */
      /* because we are doing our "move the sort by" we dont want these elements */
    & > div mat-divider.mat-divider.nde-divider.mat-divider-vertical,
    & > div button.expand-options-visible {
      display: none;
    }
  }
}

nde-sort-by {
  span {
    font-size: 16px;
  }
  padding-left: 0.5rem;

  &> div {
    border-radius: 0.25rem;
    padding-inline: 1.5rem;
    margin-block: .25rem;
    .mat-mdc-button:has(mat-icon,[matButtonIcon]) {
      margin-right: -0.5rem; /* account for gap around the arrow down icon */
    }
    .mat-mdc-button:has(mat-icon,[matButtonIcon]),
    * {
      padding: 0;
    }
    margin-top: -5px;
    button {
      --mdc-text-button-container-height: 30px;
    }
    &:has(button:hover, button:focus) .mdc-button__label {
      text-decoration: underline;
    }

    /* when it is not the default sort order, highlight it */
    /* this may not be needed long term, if we make the sort only persist for the page view */
    &:not(:has([aria-label="Sort by Relevance"])) {
      button span.mdc-button__label {
        background-color: #51247a;
        color:#fff;
      }
      background-color: #51247a;
      color:#fff;
      button span.mdc-button__label {
        background-color: #51247a;
        color:#fff;
      }
      mat-icon path {
        fill: #fff;
      }
    }
    /* don't allow a hover colour on just the buton */
    .mat-mdc-button-persistent-ripple.mdc-button__ripple {
      display: none;
    }
  }
}
