nde-locations-container {
  .getit-location-card {
    background-color: #fff;
    border-width: 0;
  }
  mat-expansion-panel-header,
  .mat-expansion-panel-content-wrapper {
    background-color: #fff;
  }
//  .even-location-item-card,
//  .getit-location-items-filter-bar {
//    background-color: #fff;
//  }
//
//  .not-grouped-by-library {
//    border-width: 0;
//  }
//  mat-divider {
//    display: none;
//  }
//  .getit-location-items-filter-bar {
//    border-bottom-width: 0;
//  }
}
