nde-full-display-details {
  /* Adjust field label display in Full Record Display > Details section */
    .details-label {
      --sys-title-small: 1rem;
      font-weight: 500;
      @media (min-width: 601px) {
        text-align: right;
      }
    }
  /* END Adjust field label display in Full Record Display > Details section */
}
