nde-favoritesapp {
  .saved-records-toolbar .form-search-field .saved-records-search-field {
    border-radius: var(--uq-border-radius);
    background-color: #fff;
    border: 1px solid var(--uq-colour-grey-200);
    margin-right: 1rem;
  }
}
