/* style the loggedin user name */
/* (after it has been change from initials to name, by an angular component, nde-replace-user-initials-custom.component) */
nde-user-area {
  /* hide the block with the user's initials in it */
  span.ng-star-inserted,
  span:not(.auth-log-in-label) {
    display: none !important;
  }
  .user-area button {
    width: auto;
    flex-direction: row-reverse;
  }
}
nde-user-area .user-area button.user-area-logged-in {
  line-height: 3rem;

  svg.loggedout,
  span:not(.styledUserName) {
    /* remove all extra ripple effects */
    display: none;
  }
  span.styledUserName {
    --sys-primary: #fff;
    color: #333 !important;
    width: auto !important;

    box-sizing: unset;
    text-align: left;
    border-radius: 0 !important;
    display: block !important;

    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px !important;
    font-weight: 500;
    letter-spacing: 0.14px;
    line-height: normal;
    height: 1rem !important;

    /* truncate name with ellipsis when long, eg homepage user 'digiteamMember' */
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &:hover,
  &:focus {
    span.styledUserName {
      //--sys-primary: var(--uq-main-purple);
      background-color: var(--uq-main-purple);
      color: #fff !important;
      border-radius: 0 !important;
      letter-spacing: 0.16px;
      font-weight: 500;
      font-size: 1rem;
      display: inline;
      max-height: 1.1rem;
      height: 1.1rem !important;
    }
  }
}
nde-user-area button:not(.user-area-logged-in)[aria-label="Open actions menu"] {
  /* logged out account menu */
  display: flex;
  column-gap: 0.5rem;
  div,
  span:not(.loggedout) {
    /* remove all extra ripple effects */
    display: none;
    height: 0;
  }
  .auth-log-in-label {
    height: 1.4rem;
    //max-height: 1.1rem;
    letter-spacing: 0.16px;
  }
  &:hover,
  &:focus {
    .auth-log-in-label {
      background-color: var(--uq-main-purple);
      color: #fff !important;
      border-radius: 0 !important;
      //letter-spacing: 0.16px;
      font-weight: 500;
      font-size: 1rem;
      display: inline;
      //max-height: 1.1rem;
      //height: 1.1rem !important;

    }
  }

  span {
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 500;
  }

  svg.loggedout { /* person icon on loggedout button */
    height: 20px;
    width: 18px;
  }
}
&:has(.cdk-overlay-container .cdk-overlay-pane [aria-label="Go to my library account"]) nde-user-area  .downArrow,
&:not(:has(.cdk-overlay-container .cdk-overlay-pane [aria-label="Go to my library account"])) nde-user-area  .upArrow {
  /* only show one arrow - we need so many selectors because */
  /* they write the basic structure of the popup block at hover, then fill it in on click */
  display: none;
}

&:has(button.user-area-logged-in:hover) mat-tooltip-component {
  /* hide tooltip of username over already displayed username - tooltip made sense when they were displayed initials */
  display: none;
}

/* END style the loggedin user name (after it has been rewritten by an angular component, nde-replace-user-initials-custom.component) */

/* style the account menu drop down  */
div.signed-in-user-details {
  display: none;
}
.user-area-sub-menu  {
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  a, button {
    color: #3b383e;
    font-weight: 400;
    span {
      --mat-menu-item-label-text-weight: 400;
    }
    --mat-menu-item-with-icon-leading-spacing: 29px;
    --mat-menu-item-with-icon-trailing-spacing: 29px;
    height: 3rem;

  }
  svg {
    --sys-outline: var(--uq-main-purple);
  }
  .mat-icon svg g path {
    fill: transparent;
    stroke: var(--uq-main-purple);
  }

  mat-divider {
    display: none;
  }
  .menu-section-divider {
    border-top: thin solid #d3d3d3;
    display: block;
    margin-left: 1.8rem;
    margin-right: 1.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.7rem;
  }

  .mat-mdc-menu-item:not([disabled]):hover {
    background-color: transparent;
    .primaryText,
    span span {
      background-color: #51247a;
      color: #fff;
    }
  }
}
/* END style the account menu drop down  */
