nde-account {
  /* make the account page sidebar look like drupal sidebar navigation */
  --border-colour-drupal-sidebar: #dcdcdd;
  --layout-sidebar-width-drupal-sidebar: 261px;
  --mdc-text-button-label-text-tracking: 0.16px;

  div.account-menu-container ul {
    width: var(--layout-sidebar-width-drupal-sidebar) !important;
    gap: 0;

    span {
      font-size: var(--mdc-text-button-label-text-weight);
    }

    mat-divider {
      display: none;
      border-width: 0;
      height: 0;
    }

    li {
      //--sys-primary-container: var(--uq-colour-grey-200);
      border-bottom: 1px solid var(--border-colour-drupal-sidebar);
      position: relative;
      margin: 0;
      padding: 0;

      a::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
      }

      &:not(:has(a)) {
        display: none !important;
        border-width: 0;
        height: 0;
        padding-bottom: 0;
      }

      &:not(:has(a.active-link)) {
        &:has(a:hover) *,
        &:has(a:focus) * {
          color: var(--uq-colour-black);
          background-color: var(--uq-colour-grey-100);
          border-radius: 0;
        }
      }

      &:has(a.active-link) {
        a.active-link[routerlinkactive="active-link"] {
          border-left: var(--uq-main-purple) solid 4px;
          background-color: var(--uq-colour-grey-200);
          border-radius: 0;
          color: var(--uq-colour-black);
          padding-right: 0.5rem;

          &:focus *,
          &:hover * {
            background-color: var(--uq-colour-grey-100);
          }

          span.menu-option-title:first-of-type {
            font-weight: 500;
            letter-spacing: 0.16px;
          }
        }
      }

      a[routerlinkactive="active-link"] {
        font-size: 16px;
        transition: color .2s ease-out, text-decoration .2s ease-out, background-color .2s ease-out, -webkit-text-decoration .2s ease-out;
        margin-top: -0.50rem;
        height: 3.75rem;
        border-radius: 0 !important;
        color: var(--uq-colour-black) !important;
      }
    }
  }
  /* END make the account page sidebar look like drupal sidebar navigation */

}
