nde-record-citations-and-times-cited > div {
  * {
    display: inline;
  }
  /* scopus and web of science links - change colour block to inline */
  button, a {
    /* background-color: #fff !important; */
    --sys-primary-container: #fff;
    mat-icon {
      margin-right: 0.15rem;
    }
    span {
      margin-left: 0.18rem;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  &.border-for-citation-area nde-record-web-of-science a.webOfScience-badge div.flex-row .webOfScience-number {
    font-weight: 400;
  }

  nde-record-citations-indicators {
    margin-top: 1px;
    span {
      --sys-body-medium: 16px;
    }
    a {
      &:hover {
        span {
        text-decoration: underline;
      }
      }

      > div {
        margin-top: 3px;
        display: inline-flex;
        align-items: center;
      }
    }
  }
}