nde-record-availability {
  div.availability-status:has(button.available-at-button) {
    border-radius: var(--uq-border-radius);
    border: 1px solid var(--sys-primary);
    // make the button fill as much of the parent div as can be (except the icon gets in the way) to make the div take the hover effect
    margin-block: 0;
    padding: 0 0 0 0.8rem;
    mat-icon.mat-icon.available-record-indicator-color circle {
      fill: var( --uq-main-purple);
    }
    &:has(button.available-at-button:hover) {
      background-color: var( --uq-main-purple);
      opacity: 1;
      color: #fff;
      mat-icon.mat-icon.available-record-indicator-color circle {
        fill: #fff;
      }
    }
    button:has(> span:nth-child(5)) {
      --uql-button-style-type: avail;
      &:hover {
        span.mat-mdc-button-persistent-ripple::before {
          background-color: var(--uq-main-purple);
          color: #fff;
          opacity: 1;
          transition: background-color .2s ease-out, color .2s ease-out, border .2s ease-out;
          border-radius: unset;
        }
        text-decoration: underline;
        color: #fff;
        span.mdc-button__label:not(:has(mat-icon)) {
          line-height: normal;
        }
      }
    }
    button.available-at-button {
      text-decoration: none;
      padding-block: .25rem;
      padding-right: 1.25rem;
      margin-right: 0;
      .mdc-button__label {
        text-decoration: none;
      }
      &:hover {
        .mdc-button__label {
          text-decoration: underline;
        }
      }
    }
  }
  // needs strong specificity :(
  .quicklink-button.quicklink-button-small-icon.quicklink-button-fixed-height.mdc-button.mat-mdc-button.mat-primary.mat-mdc-button-base,
  .quicklink-button.mat-body-medium.quicklink-button-small-icon.mdc-button.mat-mdc-button.mat-primary.mat-mdc-button-base {
    text-decoration: none;
    border-radius: var(--uq-border-radius) !important;
    span.mdc-button__label span {
      text-decoration: none;
    }
    &:hover {
      span.mdc-button__label span {
        text-decoration: underline;
      }
    }
  }
  .quicklinks-expand-button {
    &.mat-mdc-icon-button {
      border-top-right-radius: var(--uq-border-radius);
      border-bottom-right-radius: var(--uq-border-radius);
    }
    mat-icon {
      // move the icon down a titch
      margin-top: 2px;
    }
  }
}
