nde-fines-overview {
  .fines-balance {
    background-color: var(--uq-colour-warning-50);
    padding: 1rem;
    color: var(--uq-body-copy) !important;
    padding-left: 2.5rem;

    &:before {
      @include uqBkgIconProperties();
      background-image: var(--uq-icon--warning);
      top: 50px;
      left: 30px;
    }
  }
}
