nde-search-filters-side-nav {
  .side-nav-filters-actions button {
    white-space: nowrap;
    &.apply-filters-btn {
      @include uqPrimaryButton();
    }
    &:not(.apply-filters-btn) { // clear button
      @include uqTertiaryButton();
      span.mdc-button__label {
        line-height: normal;
      }
      &:hover {
        span.mat-mdc-button-persistent-ripple::before {
          background-color: transparent;
          opacity: 1;
        }
        background-color: #fff;
        border-color: #fff;
        color: var(--uq-main-purple);
        span.mdc-button__label {
          color: #fff;
          background-color: var(--uq-main-purple);
        }
      }
    }
  }
  nde-filters-value .mdc-label>div {
    flex: 1;
    span {
      font-size: 14px;
    }
  }
  .mat-mdc-checkbox .mat-internal-form-field {
    label > div {
      max-width: 185px;
    }
  }

  button.facet-name {
    // the facet names gets this ugly half border on focus (I think it's to do with the focus on the item making the un-filter button appear)
    &:focus  {
      box-shadow: none !important;
      span.mdc-button__label {
        text-decoration: underline;
      }
    }
  }
}

/* filter sidebar styling */
nde-collection-discovery-container,
nde-search-results-container  div.results-container > div:first-of-type {
  nde-search-filters-side-nav {
    overflow-y: hidden;

    div.filters-side-nav-header {
      display: block;
      background-color: var(--uq-colour-purple-50);
      max-height: 3rem;
      padding-block-end: 0;
      padding-block-start: 0;
      border: var(--uq-border);
      border-color: rgb(201, 201, 201);
      border-top-left-radius: var(--uq-border-radius);
      border-top-right-radius: var(--uq-border-radius);
      mat-divider {
        display: none;
        border-width: 0;
      }
    }

    div.scroller-content {
      border: var(--uq-border);
      border-radius: var(--uq-border-radius);
      border-top-width: 0;
    }
  }
}
/* END filter sidebar styling */
