nde-notification {
  .notification-container.success-alert-background {
    background-color: var(--uq-background-alert-success);
  }
  .notification-container.info-alert-background {
    background-color: var(--uq-background-alert-info);
  }
  .notification-container {
    mat-icon path {
      --sys-primary: var(--uq-body-copy);
    }
  }
}

/* Your session has timed out */
.notification-alert.info {
  --sys-surface-variant: var(--uq-background-alert-info);
}