nde-notification {
  .notification-container.success-alert-background {
    background-color: var(--uq-background-alert-success);
  }
  .notification-container.info-alert-background {
    background-color: var(--uq-background-alert-info);
  }
  .notification-container {
    mat-icon path {
      --sys-primary: var(--uq-body-copy);
      --valid: var(--uq-body-copy); // icon colour on "saved search' confirmation
    }
    span.notification-text {
      font-size: 1rem;
    }
  }

  /* login prompt */
  &:not(:has(.notification-container > div > mat-icon)) { // we dont apply this to instances where the "i" icon is already in place
    &:has(nde-login) { // this only applies to login banners, but could be expanded?
      display: block;

      div.notification-container {
        display: block;
        width: 100%;
        padding: 0;
        background-color: var(--uq-background-alert-info);
        position: relative;

        & > div {
          padding: 1rem;
          padding-left: 3rem;
        }

        &:before {
          @include uqBkgIconProperties();
          background-image: var(--uq-icon--info);
          top: 1.5rem;
          left: 1rem;
        }
      }
    }
  }

  // citation page hard codes an icon, which we need to replace with a proper looking svg
  &:has(div > div > mat-icon) {
    position: relative;
    div:has(div > mat-icon) {
      & > div {
        padding-left: 2rem;
        & > mat-icon {
          display: none;
        }
      }
      &:before {
        @include uqBkgIconProperties();
        background-image: var(--uq-icon--info);
        top: 14px;
        left: 21px;
      }
    }
  }
}

/* Your session has timed out */
.notification-alert.info {
  --sys-surface-variant: var(--uq-background-alert-info);
}
