nde-advanced-search {
  --mat-app-text-color: var(--uq-main-purple);
  --mat-tab-header-active-label-text-color: var(--uq-colour-black);
  --mat-tab-header-inactive-label-text-color: var(--uq-colour-black);
  --mat-tab-header-inactive-ripple-color: var(--uq-colour-purple-50);
  --mat-tab-header-divider-color: var(--uq-colour-purple-50);

  form.advanced-search-form {
    button.mdc-button.mat-mdc-button-base {
      @include uqPrimaryButton();
      &[aria-label="Clear search filters"] {
        /* clear button as tertiary button */
        background-color: #fff !important;
        border: none;
        column-gap: 6px;
        span.mdc-button__label span {
          color: var(--uq-main-purple);
        }
        mat-icon path {
          fill: var(--uq-main-purple);
        }
        &:hover {
          background-color: var(--uq-main-purple) !important;
          span.mdc-button__label span {
            color: #fff;
          }
          mat-icon path {
            fill: #fff;
          }
        }
      }
    }
    mat-dialog-actions {
      margin-right: 3rem; // move the buttons over to leave room for collapsed proactive-chat webcomponent
      justify-content: space-between;

      button[data-qa="clear-advanced-search-form"] {
        mat-icon {
          margin-right: 0;
        }
      }

      button[data-qa="submit-advanced-search-form"] {
        margin-left: 0;
        .mdc-button__label {
          /* I don't know what this empty span is supposed to do, but it sticks extra space in the button :( */
          display: none;
        }
      }
    }
  }

  /* make input field take whole line */
  [aria-labelledby="basicQueryField"] {
    grid-template-areas:
      "a a b b"
      "c c c c";
  }
  .mat-mdc-tab-body-wrapper {
    form.advanced-search-form {
      div.advanced-search-section-additional-container {
        .additional-query-section {
          .select-section {
            margin-block: 0.75rem;
            padding-block: 0.25rem;
            display: grid;
            grid-template-areas:
              "aa bb bb cc cc"
              "dd dd dd dd dd";
            > mat-form-field:first-child {
              grid-area: aa;
            }
            > mat-form-field:nth-child(2) {
              grid-area: bb;
            }
            > mat-form-field:nth-child(3) {
              grid-area: cc;
            }
            > div {
              grid-area: dd;
            }
            row-gap: 0.5rem
          }
        }
      }
    }

  }
  /* END make input field take whole line */

}