nde-collection-discovery-container {
  --secondaryActionIcon: var(--uq-main-purple);

  nde-collection-discovery-lobby-header {
    .collection-discovery-header {
      background-image: none;
      background-color: var(--uq-colour-purple-600);
      color: #fff;
      padding-block: 6rem;
      margin-bottom: 3rem;

      .content {
        box-shadow: rgba(24, 24, 24, 0.1) 0px 3px;
        margin-top: 50px;
        border-top: 1px solid rgb(51, 51, 51);
        border-bottom: 4px solid rgb(51, 51, 51);
        max-width: 586px;
        background-color: rgb(81, 36, 122);
        padding: 32px;
        z-index: 2;
        width: 586px;

        .collection-discovery-header-title {
          h1.collection-discovery-header-title {
            color: #fff;
            font: var(--uq-heading-1);
            font-size: 40px !important;
            font-family: var(--uq-h1-font-family), sans-serif;
          }
        }

        & > span {
          font-weight: 300;
          color: rgb(255, 255, 255);
          letter-spacing: 0.01rem;
          line-height: 1.6;
          font-size: 18px;
        }
      }
    }
  }
  .collection-discovery-gallery-container {
    margin-top: 0;
    nde-collection-discovery-search-bar {
      .collection-discovery-search-bar {
        border-radius: var(--uq-border-radius);
        background-color: #fff;
        border: var(--uq-border);
        input {
          --darkText: var(--uq-body-copy);
          font-weight: 400;
        }
        .mat-divider.mat-divider-vertical.divider {
          height: 1.25rem;
        }
        button.submit-search-btn mat-icon {
          width: 24px;
          height: 24px;
          svg {
            fill: var(--uql-base-icon-colour);
          }
        }
        .item-grid-card .grid-item-properties .item-type.cutoff-text,
        .grid-collection-properties .collection-header .item-type.cutoff-text {
          --sys-on-surface-variant: var(--uq-body-copy);
        }
      }
    }
    nde-collection-discovery-gallery {
      .item-grid-card {
        border-radius: var(--uq-border-radius);
        border: var(--uq-border);
      }
      .collection-grid-card {
        --sys-background: #fff;
        border-radius: var(--uq-border-radius);
        gap: 0;
        a {
          border-radius: 0;
          div.collection-discovery-thumbnail-container img {
            border-radius: var(--uq-border-radius);
          }
        }
        &:hover, &:focus {
            background-color: rgb(243, 243, 244);
            border: 1px solid rgba(38, 85, 115, 0.15);
        }
      }

      nde-collection-discovery-gallery-collection {
        .collection-overlay {
          mat-icon {
            path {
              fill: #fff;
            }
          }
        }
      }
    }
    h3 a {
      display: inline !important;
    }
  }
  nde-collection-discovery-gallery-item div,
  nde-collection-discovery-gallery-collection div {
    a {
      display: inline !important;
    }
    &:hover, &:focus {
      cursor: pointer;
      h3 a {
        text-decoration: underline;
        background-color: var(--uq-main-purple);
        color: #fff;
      }
    }
  }
  nde-collection-path-breadcrumbs a {
    &:hover, &:focus {
      background-color: var(--uq-main-purple);
      color: #fff;

      nde-collection-discovery-gallery-collection {
        .collection-overlay {
          mat-icon {
            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }

  /* override common anchor hovers from colours.scss */
  nde-collection-discovery-top-bar nde-sort-by button {
    &:hover, &:focus {
      mat-icon {
        --uql-local-sort-by-background-colour: var(--sys-inverse-on-surface);
      }
    }
  }

  /* override common anchor hovers from colours.scss */
  nde-collection-discovery-top-bar nde-sort-by button {
    &:hover, &:focus {
      mat-icon {
        --uql-local-sort-by-background-colour: var(--sys-inverse-on-surface);
      }
    }
  }
}
