/* make the page widths match the DS widths */

/* main menu: set margins and left align */
nde-app-root section.container header.top-bar {
  div.header-container,
  div.header-container > div,
  div.header-container > div > div {
    margin-inline: 0 !important;
    width: 100% !important;
  }
}
div.header-container nde-main-menu {
  margin-left: auto;
  margin-right: auto;
  max-width: 71rem;
  padding-left: 0.5rem;
}
@media (min-width: 64.25em) {
  nde-main-menu,
  header.top-bar div.header-container nde-main-menu {
    margin-left: auto;
    margin-right: auto;
    max-width: 66em;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
nde-app-root.Medium {
  div.header-container nde-main-menu {
    padding-left: 0.5rem;
  }
}
/* END main menu: set margins and left align */

/* Citation finder */
  main.sub-container:has([data-qa="nde.citationLinker.citationType"]) {
    margin-left: auto;
    margin-right: auto;
    .container {
      margin-inline: 1rem;
    }
  }
/* END Citation finder */

/* New search */
main.sub-container:has(nde-search-bar-container) {
  nde-search-bar-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 71rem;
  }
}
/* END New search */

/* Database search */
main.sub-container:has(nde-general-search-header) {
  nde-general-search-header section {
    margin-left: auto;
    margin-right: auto;
    max-width: 71rem;
  }
}
/* END Database search */

/* Collection discovery */
nde-app-root.XLarge {
  nde-collection-discovery-lobby-header {
    .collection-discovery-header {
      .content {
        margin-right: 48% !important;
      }
    }
  }
}
nde-app-root.Large {
  nde-collection-discovery-lobby-header {
    .collection-discovery-header {
      .content {
        margin-right: 45% !important;
      }
    }
  }
}
nde-app-root.Small,
nde-app-root.Medium {
  nde-collection-discovery-lobby-header {
    .collection-discovery-header {
      .content {
        margin-left: 10% !important;
      }
    }
  }
}
/* END Collection discovery */

/* Search results */
main.sub-container:has(nde-search-results-container)  {
  margin-left: auto;
  margin-right: auto;
  max-width: 71rem;
  nde-top-bar {
    padding-inline: 0;
    & > div.top-bar-container {
      margin-inline: 0;
    }
  }
  nde-search-results-container {
    .search-area-wrapper .search-result-content .filters-container .filters-wrapper {
      margin-left: 0;
      margin-inline: 0;
      width: clamp(71rem, 85%, 1368px);
    }
  }
}
/* END Search results */

/* make the "whats this" link sit below the main label - this is to make the entire block less wide so it doesn't stack */
nde-search-results-container {
  nde-expand-options mat-slide-toggle#expand-my-results-toggle label span.cutoff-text {
    position: relative;
    height: 2.6rem;
    a {
      position: absolute;
      right: 0;
      top: 1rem;
    }
  }
}
/* END make the "whats this" link sit below the main label - this is to make the entire block less wide so it doesn't stack */
