/* Report a Problem button, exlibris-primo repo nde-report-a-problem-custom.component */
mat-accordion>div:has(.report-a-problem-wrapper) {
  margin-top: 5.5rem;
  position: relative;
}
.report-a-problem {
  position: absolute;
  top: 0;
  margin-top: -5.5rem;

  background-color: var(--uq-main-purple);
  color: #fff;
  border: 2px solid var(--uq-main-purple);
  padding: 12px 16px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background-color: #fff;
    border-color: var(--uq-main-purple);
    color: var(--uq-main-purple);
    text-decoration: underline
  }
}
