.search-results-wrapper {
  nde-search-results-top-bar {
    nde-results-range {
      min-width: 70px;
      .number-of-results {
        color: var(--uq-main-purple);
        font-size: 1rem;
        &:after {
          content: " | ";
          padding-left: 0.3rem;
        }
      }
    }
    & > div {
      --lightBG: var(--uq-colour-purple-50);
    }
    .results-top-bar-container {
      border-radius: var(--uq-border-radius) var(--uq-border-radius) 0 0 !important;
    }
  }

  nde-actions-presenter {
    --mat-icon-button-state-layer-color:#eee9f2;
    --mat-icon-button-hover-state-layer-opacity: 1;
    mat-icon.mat-icon path {
      --sys-outline: #51247a;
    }
  }

  nde-search-results {
    .search-results-container {
      --border: #dcdcdd;
      border-radius: 0 0 .25rem .25rem;
    }

    nde-record-summary {
      p {
        color: var(--uq-body-copy);
      }
    }
  }
}
