.search-results-wrapper {
  nde-search-results-top-bar {
    nde-results-range {
      min-width: 70px;
    }
    & > div {
      --lightBG: var(--uq-colour-purple-50);
    }
    .results-top-bar-container {
      border-radius: .25rem .25rem 0 0;
    }
  }

  nde-actions-presenter {
    --mat-icon-button-state-layer-color:#eee9f2;
    --mat-icon-button-hover-state-layer-opacity: 1;
    mat-icon.mat-icon path {
      --sys-outline: #51247a;
    }
  }

  nde-search-results {
    .search-results-container {
      --border: #dcdcdd;
      border-radius: 0 0 .25rem .25rem;
    }
  }
}
