@use "sass:color";
//// VARIABLES
// UQ colours 2025 from Design System https://design-system.uq.edu.au/?path=/docs/core-colour--docs
// also note brand document: https://marketing-communication.uq.edu.au/files/7573/Brand_Guidelines.pdf (around page 42)

// Fonts family
$serif: Roboto, Helvetica, Arial, sans-serif;

// from Design System
$uqPurple500: #51247a;
$uqPurple100: #dcd3e4;
$uqGrey200: #dcdcdd; // border colour
$uqGrey50: #f3f3f4; // Background colour to highlight sections, cards or panes
$uqGrey700: #757377;
$uqGrey900: #3b383e; // body copy
$uqBlack: #19151c; // heading colour
$uqUtility500: #0d6dcd;
$uqError50: #fbeaea;
$uqError500: #d62929;
$uqWarning50: #fef8e8;
$uqWarning500: #f7ba1e;
$uqWarning600: #e1aa1d;
$uqSuccess500: #4aa74e;
$uqSuccess50: #edf6ed;

$uqSecondaryNeutral: #D7D1CC;

$uqOrange: #EB602B; // from brand document, secondary colours

$uqBodyCopy: $uqGrey900;
$uqHeading: $uqBlack;
$uqPanelBackgroundColor: $uqGrey50;
$uqBorderColor: $uqGrey200;

$uqIconError: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='12' cy='12' r='9.25' stroke='%233b383e' stroke-width='1.5'%3e%3c/circle%3e%3cpath d='m8.5 8.5 7 7M15.5 8.5l-7 7' stroke='%233b383e' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
$uqIconSuccess: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='12' cy='12' r='9.25' stroke='%233b383e' stroke-width='1.5'%3e%3c/circle%3e%3cpath d='M7 12.867 9.6 16l6.733-8' stroke='%233b383e' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");

// colours for "highlighting", not defined by Design System
$highlightPrimary: #c13e2a;
$highlightSecondary: #e8a560;
$highlightMild: #fff0c8;

// Font weights
$light: 300;
$normal: 400;
$bold: 600;
$heavy: 900;

// Font size
$defaultFontSize: 15px;

// Shapes
$radius: 3px;

// Padding
$paddingBase: 1em;
$paddingExtra: 1.5em;
$paddingMedium: 1.3em;
$paddingLarge: 1em;
$paddingSmall: 0.5em;
$paddingTiny: 0.25em;

// colors
$accent-color: $uqPurple500; // was uqblue #2377cb
$accent-color-half-opacity: rgba(81, 36, 122, 0.1);

$almostBlack: #777;

$frbr: #ed9100;
$pink: rgb(255, 171, 200);

$dark: $uqGrey900;
$dark-hue1: color.adjust($dark, $lightness: -30%);
$darker: color.adjust(color.adjust(color.adjust($dark, $hue: 0), $saturation: 0), $lightness: -6.6667);

// lighter background color

$success: #3ea03e;
$green: $uqSuccess500;
//$orange: #CE8015; //#E0962E;
$muteOrange: $uqWarning500;
$uqInformationDark: $uqUtility500;
$uqInformationLight: $uqWarning50;
//$yellow: #f1c16f;
//$yellow-hue1: lighten($yellow, 20%); // uq yellow
$overlayDarkDG: rgba(68, 68, 68, 0.6);

$highlightBlue: color.adjust($accent-color, $alpha: -0.9);
$uqWarningDark: $uqWarning600;
$highlight: color.adjust(color.adjust(color.adjust($uqWarningDark, $hue: -4.092), $saturation: -16), $lightness: -8.0392);

$uqLightGrey: #f7f6f5;

// $availabiltyDetails: desaturate(lighten($midGrey,5%), 5%);
//$maybe: $orange;

$alert: $uqInformationLight;
$alert-hue1: color.adjust(color.adjust(color.adjust($alert, $hue: 0.3074), $saturation: -15.3043), $lightness: -2.9412);

$disabled: #aaa;
$courseColor: #55909b;

$primary: $accent-color;
$primary-hue1: color.adjust($primary, $lightness: -3%);
$primary-hue2: color.adjust($primary, $lightness: -5%);
$primary-hue3: color.adjust($primary-hue2, $lightness: -2%);
$primary-hue4: color.adjust($primary, $lightness: -10%);
//$primary-hue5: darker($primary, -5%);
$primary-hue6: color.adjust($primary, $alpha: -0.1);

$secondary: $accent-color;
$secondary-hue1: $accent-color;
$secondary-hue2: $accent-color;
$secondary-hue3: color.adjust(color.adjust(color.adjust($secondary, $hue: -12), $saturation: 30.28), $lightness: -47.65); // "show more" buttons in facets
$secondary-hue4: color.adjust(color.adjust(color.adjust($secondary, $hue: -7), $saturation: 64.57), $lightness: -13.92);
$secondary-hue5: color.adjust($secondary, $lightness: -37%);
$secondary-hue6: color.adjust(color.adjust(color.adjust($secondary, $hue: -7), $saturation: 64.57), $lightness: -2);

$backgroundColor: white;
$backgroundActual: $uqGrey50;
$textColor: #000;

$positive: $accent-color;
$positive-hue1: color.adjust($positive, $lightness: -2%);

$negative: gray;
$negative-hue1: color.adjust(color.adjust($negative, $saturation: 5%), $lightness: -10%);

$background: $uqGrey50;

$background-hue1: color.adjust($backgroundColor, $lightness: -3%); // darker 1 (i.e: background for locations filter bar)
$background-hue2: color.adjust($background, $lightness: 4%);
$background-hue3: color.adjust(
    color.adjust(color.adjust($backgroundColor, $hue: 0), $saturation: 0),
    $lightness: 5.8824
); // lighter 2 (i.e: background for actions forms)

$background-hue4: color.adjust($background, $lightness: 3%);
$background-hue5: color.adjust($background, $alpha: -0.5);
$background-hue6: color.adjust($background, $lightness: -1%);
$background-hue7: color.adjust($background, $lightness: -10%);
$background-hue8: color.adjust($background, $lightness: 6%);
$background-hue9: color.adjust($background, $lightness: -5%);
$background-hue10: color.adjust($background, $lightness: -12%);
$background-hue11: color.adjust($background, $lightness: -2%);
$background-hue12: color.adjust($background, $lightness: -7%);
$background-hue13: color.adjust($background, $lightness: 2%);
$background-hue14: color.adjust($background, $lightness: -40%);
$background-hue15: color.adjust($background, $lightness: -54%);

$white: $backgroundColor;
$almostWhite: color.adjust(color.adjust(color.adjust($background, $hue: 60), $saturation: 20), $lightness: 0.7843);
$bg: $background;
$nearlyWhite: color.adjust(color.adjust(color.adjust($backgroundColor, $hue: 0), $saturation: 0), $lightness: -5.4902); // stronger
$blueGrey: #ccc;
$midGrey: #53738c; //darken(saturate(adjust-hue($blueGrey, 206.3158), 25.5605), 36.2745);
$actionsBackground: color.adjust($background, $lightness: 6%);
$autoCompleteBg: $backgroundColor;
$sectionHighlight: color.adjust(color.adjust($background, $saturation: -0), $lightness: -5%);
$snippets: #999;
$lightenGrey: #6d6d6d;

$links: $accent-color;
$links-background-hue1: transparent;
$links-hue-1: color.adjust(color.adjust($links, $saturation: 5%), $lightness: -5%);
$links-hue-3: color.adjust($links, $lightness: -10%);
$links-hue-4: color.adjust(color.adjust($links, $saturation: 5%), $lightness: -2%);
$links-hue-5: color.adjust(color.adjust($links, $saturation: 15%), $lightness: -20%);
$linksHover: color.adjust(color.adjust($links, $saturation: 20%), $lightness: -20%);
$linksHover-hue-2: color.adjust($linksHover, $alpha: -0.5);
$linkAlt: $secondary-hue1;
$md-primary: $links;

$linkTitle: $links;

$collectionDisLinks: #0075b0;

$red: $uqError500;
$red-hue1: color.adjust($red, $lightness: -20%);
// warning
$warning: $red;
$warn: $red;
$warn-hue1: color.adjust($warn, $lightness: -22%); // #801919
$warningBorder: inset 0 0 0 3px $warning;

$text: $dark;
$text-hue1: color.adjust($text, $lightness: 30%);
$text-hue2: $text;
$text-hue3: color.adjust($text, $lightness: -10%);
$text-hue4: color.adjust($text, $lightness: 10%);

$notice: $red;

$highlight: $background-hue7;
$highlight-hue1: $background-hue7;

$modalBackdrop: rgb(68, 68, 68);
$moreLink: $links;

$selectedItem: color.adjust(color.adjust($midGrey, $lightness: 53%), $saturation: 40%);

$citationTitle: $uqHeading;

// chips
$chipTouchHeight: 28px;
$chipDesktopHeight: 22px;

// Responsive
$responsiveMaxWidth: 960px !important;

// Default bars height
$defaultBarHeight: 60px;

// height of buttons in brief results
$briefButtonHeight: 38px;

// citations
$citation: $highlightPrimary;
$citationColor: $citation;
$citation-hue1: color.adjust($citation, $lightness: -40%);
$citation-hue2: color.adjust($citation, $lightness: -20%);
$citation-hue3: color.adjust($citation, $lightness: -22%);

// warning
$warning: $red;
$warning-hue1: color.adjust($warning, $lightness: -20%);
$warning-hue2: color.adjust($warning, $lightness: -22%);

// personalization
$personalization: $accent-color;

// Peer Reviewed
$peer-reviewed-color: #8359d4;

// Open Access
$open-access-color: $uqOrange;

// Angular Material
//-----------------

// Progress bar
$progressBarHeight: 15px;

// buttons
$defaultMdButtonHover: rgba(158, 158, 158, 0.2);

//// Angular Material overrides
// Angular Material transition easing curves
//-----------------------

$swift-ease-out-duration: 0.4s !default;
$swift-ease-out-timing-function: ease-out;
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function !default;

$swift-ease-in-duration: 0.3s !default;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function !default;

$swift-ease-in-out-duration: 0.5s !default;
$swift-ease-in-out-timing-function: cubic-bezier(0.35, 0, 0.25, 1) !default;
$swift-ease-in-out: all $swift-ease-in-out-duration $swift-ease-in-out-timing-function !default;

//  Angular Material layouts
// ------------------------------

$baseline-grid: 8px !default;
$layout-gutter-width: ($baseline-grid * 2) !default;

//  Angular Material breakpoints
// ------------------------------

// $layout-breakpoint-xs:     600px !default;
// $layout-breakpoint-sm:     960px !default;
// $layout-breakpoint-md:     1280px !default;
// $layout-breakpoint-lg:     1920px !default;
