prm-alma-viewit-items {
    .pointer {
        cursor: pointer;
    }
    .license {
        cursor: auto;
    }
    .item-title {
        line-height: 1.5em;
    }
    .record-status-text .item-title {
        font-size: 15px;
    }
    .md-list-item-text {
        prm-icon {
            color: rgba(58, 58, 58, 0.4);
            margin-right: 0.15em;
            transform: scale(0.9);
            display: inline-block;
        }
    }

    .md-list-item-inner {
        align-items: flex-start;
        .md-avatar {
            line-height: 1rem;
            width: auto;
            height: auto;
            margin-right: 0.75rem;
            margin-top: 1rem;
            margin-bottom: 16px;
            margin-top: 24px;
            color: transparentize($color: #000000, $amount: 0.4);
            align-items: center;
            .avatar-text {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 0.7rem;
            }
            prm-icon {
                opacity: 0.99;
                .generic-icon {
                    opacity: 0.5;
                }
            }
        }
    }
    .md-button {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03), 0 5px 5px -3px rgba(0, 0, 0, 0.07);
    }

    .no-shodow {
        box-shadow: none;
    }

    md-list-item {
        margin-bottom: 0.25rem;
        &:after {
            background-color: rgba(250, 250, 250, 1);
            content: '';
            width: 100%;
            position: absolute;
            z-index: -1;
            height: 100%;
            top: 0;
        }
        &[disabled='disabled'] {
            &:after,
            .md-button:hover {
                background-color: transparent;
            }
            .md-button {
                cursor: text;
                user-select: text !important;
                box-shadow: none !important;
                a {
                    display: none;
                }
            }
        }
        // hide and place background image icon on item-title
        prm-icon:has(md-icon[md-svg-icon="primo-ui:open-in-new"]) {
            display: none;
        }
    }
    .entity-type {
        @extend .tiny-uppercase-text;
        color: $lightenGrey;
    }

    .margin-left-large {
        margin-left: 0;
    }
}
