/* starting alphabetToolbar */
prm-alphabet-toolbar {
    .language-characters {
        display: flex;
        column-gap: 1px;
    }
    [dir='rtl'] & {
        direction: ltr;
    }

    > div {
        padding: 1em;
    }
    .md-button {
        margin: 0;
        line-height: 44px;
        @include setSize(44px);
        width: auto;
        &.letter-button {
            width: 44px;
            height: 44px;
            border-radius: 22px;
            box-shadow: none;
            padding-left: 0;
            padding-right: 0;
            text-decoration: underline;
        }
        &.current-letter,
        &.current-letter:focus,
        &.current-letter:hover {
            background-color: $accent-color;
            color: #fff !important;
        }
    }

    md-input-container {
        md-select {
            margin: 0;
            order: 2;
        }
        label {
            color: $white !important;
        }
    }

    md-select {
        box-shadow: 1px 0 0 0 hsla(0, 0%, 100%, 0.2);
        margin-right: 1em;
        padding-right: 0.5em;
        display: flex;
        margin: 20px 0 26px;
        color: #fff;
    }

    .language-selector {
        color: $white;
    }

    .hebrew-characters {
        direction: rtl;
    }
}
