prm-full-view {
    // title of an item in full view display
    prm-brief-result .item-title {
        a,
        a:hover {
            background-color: transparent;
            box-shadow: none;
            text-decoration: none;
            span {
                color: $uqHeading !important;
            }
        }
    }

    /* when the page has a Services page warning banner, we don't show the report-a-problem button */
    &:has(.standardWarningBanner-servicesPage) a.report-a-problem {
        display: none;
    }
}
