.auth {
    position: relative;
}
.auth .auth-icon {
    width: 50px;
    height: 24px;
    fill: #51247a;
    margin-bottom: -5px;
}

.auth .auth-log-in-label {
    font-size: 12px !important;
    white-space: nowrap;
    color: #51247a;
}

.auth button {
    line-height: 20px !important;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border: none;
    margin: -12px 0;
    padding: 6px;
    height: 60px;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.account-options-menu-list button,
.username-area {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: Roboto, Helvetica, sans-serif;
    padding-right: 22px;
}
.username-area svg {
    width: 22px;
    min-width: 22px;
    float: right;
}

button.login-button:hover,
button.login-button:active,
button.login-button:focus {
    background: rgba(0, 0, 0, 0.04);
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:active,
button:focus {
    cursor: pointer;
}

button.login-button:active {
    outline: none;
    background: rgba(81, 36, 122, 0.3) !important;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (max-width: 600px) {
    .auth-menu {
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.98);
        border-radius: 4px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
        top: 50px;
        left: calc(50% - (90% / 2));
        position: fixed;
        width: 90%;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out; /* Animation */
        transform: scale(1);
        transform-origin: 50% 50%;
        opacity: 1;
    }
}
@media screen and (min-width: 600px) {
    .auth-menu {
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.98);
        border-radius: 4px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
        left: auto;
        right: 0;
        position: absolute;
        min-width: 400px;
        transition: transform 0.2s ease-out, opacity 0.2s ease-out; /* Animation */
        transform: scale(1);
        transform-origin: 50% 50%;
        opacity: 1;
    }
}
.md-icon svg {
    width: 24px;
}
.mylibrary-menu-list li,
.mylibrary-menu-list {
    list-style: none;
}
.mylibrary-menu-list {
    columns: 2 100px;
    column-gap: 5px;
    padding-left: 0;
}
.mylibrary-menu-list li svg {
    width: 24px;
    height: 24px;
    fill: #595959;
    margin-bottom: -4px;
    margin-right: 4px;
    margin-left: 6px;
}
.tiny-uppercase-text {
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75em;
    display: block;
}
.bold-text {
    font-weight: 600 !important;
}
.user-menu-header {
    display: flex;
    align-items: center;
    padding: 10px 16px 8px 16px;}
.layout-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex: 1;
}
.auth button.logout.md-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    background: transparent;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    max-width: 88px;
    max-height: 36px;

    flex: 1;
}
.md-button.md-primary,
.md-button.md-primary span {
    color: #2377cb;
    background-color: #fff;
}
.md-button.md-primary:hover:not([disabled]), .md-button.md-primary:hover:not([disabled]) span,
.md-button.md-primary:focus:not([disabled]), .md-button.md-primary:focus:not([disabled]) span,
.md-button.md-primary.hovered:not([disabled]), .md-button.md-primary.hovered:not([disabled]) span {
    color: #fff;
    background-color: #2377cb;
}
.md-menu-item {
    border-bottom: thin solid lightgrey;
}
.admin-options {
    border-top: thin solid lightgrey;
}
.account-options-menu-closed {
    opacity: 0 !important;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in; /* Animation */
    transform: scale(0.5) !important;
    transform-origin: 66% 10%;
}
.account-options-pane-closed {
    opacity: 0 !important;
    transition: opacity 0.2s ease-in; /* Animation */
    transition-delay: 0s;
}

.account-options-pane {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s ease-out; /* Animation */
    z-index: 998;
    opacity: 1;
}

.accessible-only {
    width: 1px;
    height: 1px;
    left: -1000em;
    overflow: hidden;
    position: absolute;
}



.mylibrary-menu-list {
    width: calc(100% - 20px);
    padding: 6px !important;
    padding-bottom: 0 !important;
    margin: 0;
    list-style-type: none;
}

@media screen and (max-width: 430px) {
    .mylibrary-menu-list li {
        display: inline-block;
        width: calc(100% - 4px);
        padding: 0 !important;
        margin: 0 !important;
        height: 35px !important;
    }
}

@media screen and (min-width: 430px) {
    .mylibrary-menu-list li {
        /*display: inline-block;*/
        padding: 0 !important;
        margin: 0 !important;
        height: 35px !important;
    }
}

.mylibrary-menu-list li a {
    display: inline-block;
    width: 100% !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    margin: 2px !important;
    margin-bottom: 0 !important;
    text-decoration: none;
    color: #595959;
}

.mylibrary-menu-list li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
    cursor: pointer;
}

.mylibrary-menu-list li svg {
    width: 24px;
    height: 24px;
    fill: #595959;
    margin-bottom: -4px;
    margin-right: 4px;
    margin-left: 6px;
}
