/* MuiGrid */

.MuiGrid-item-10 {
    margin: 0;
    box-sizing: border-box;
}
.MuiGrid-grid-xs-auto-41 {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
}


/* Make Styles */

.makeStyles-iconButton-180 {
    color: #51247A;
}
.makeStyles-iconButtonLabel-181 {
    display: flex;
    font-size: 12px;
    flex-direction: column;
}
.makeStyles-iconButtonRoot-182 {
    color: #51247A;
}


.makeStyles-utility-115 {
    margin-top: -32px;
    margin-left: 0;
    margin-right: -8px;
    margin-bottom: -16px;

    height: 38px;
}
/*.makeStyles-utilityButton-116 {*/
/*    color: #51247A;*/
/*    font-size: 12px;*/
/*    font-weight: 400;*/
/*}*/
/*.makeStyles-utilityButtonLabel-117 {*/
/*    color: #51247A;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.makeStyles-icons-118 {*/
/*    margin-right: 6px;*/
/*}*/

/* MuiButtonBase */

.MuiButtonBase-root-148 {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.MuiButtonBase-root-148::-moz-focus-inner {
    border-style: none;
}
.MuiButtonBase-root-148.Mui-disabled {
    cursor: default;
    pointer-events: none;
}

/* MuiIconButton */

.MuiIconButton-root-158 {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}
.MuiIconButton-root-158:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.MuiIconButton-root-158.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    background-color: transparent;
}
@media (hover: none) {
    .MuiIconButton-root-158:hover {
        background-color: transparent;
    }
}
.MuiIconButton-label-166 {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

/* MuiSvgIcon */

.MuiSvgIcon-root-167 {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.button-label {
    font-size: 12px;
    white-space: nowrap;
    color: #51247A;
}
