button {
    cursor: pointer;
}
.auth .auth-icon-loginprompt {
    fill: #745095; /* purple-200, deliberately softer */
    width: 24px;
}

.auth .auth-log-in-label {
    font-size: 13.3px !important;
    white-space: nowrap;
    font-weight: 500;
    font-family: Roboto, Helvetica, sans-serif;
}

.auth button {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 6px;
}
.auth button:hover,
.auth button:focus,
.auth button:active {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button.login-button:active {
    outline: none;
    background: rgba(81, 36, 122, 0.3) !important;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
