.proactive-chat button {
    line-height: 20px !important;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border-color: transparent;
    margin: -12px 0;
    padding: 6px;
    /*width: 60px;*/
    width: 60%;
    height: 60px;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    align-items: unset;
    color: #ffffff !important;
    background-color: #2377cb;
}

button:hover,
button:active,
button:focus {
    background: rgba(0, 0, 0, 0.04);
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.closedWrapper {
    z-index: 9998;
    position: fixed;
    right: 16px;
    bottom: 16px;
}
.smallButton {
    color: #000;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

}
.smallButton div {
    margin-top: -5px;
}

.onlineSmallButton {
    background-color: #2ea836;
    padding: 12px;
    transition-duration: 0.2s;
    transition-property: background-color;
    width: 55px;
    height: 55px;
    text-align: center;
}
.onlineSmallButton:focus,
.onlineSmallButton:hover {
    background-color: #005f00;
    color: #fff;
}
.onlineSmallButton svg {
    width: 36px;
    height: 36px;
    fill: #000;
}
.onlineSmallButton:focus svg,
.onlineSmallButton:hover svg {
    fill: #fff;
}

.offlineSmallButton {
    background-color: #d4c8de;
    padding: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition-duration: 0.2s;
    transition-property: background-color;
    height: 42px;
}
.offlineSmallButton:focus,
.offlineSmallButton:hover {
    background-color: #baa7ca;
}
.offlineSmallButton svg {
    width: 42px;
    height: 42px;
    fill: #51247a;
}

.closedWrapper:hover {
    cursor: pointer;
}

.openWrapper {
    z-index: 9999;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 220px;
    overflow: hidden !important;
    position: relative;
    padding-top: 50px;
}
.openSubWrapper {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: -300px;
    background-color: white;
    width: 250px;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    right: 12px;
    transition: right 0.3s;
    transition-delay: 0.3s;
    transition-timing-function: ease-in-out;
}
.openWrapper .openSubWrapper.show {
    bottom: 0;
    transition: bottom 0.3s;
    transition-delay: 0.3s;
    transition-timing-function: ease-in-out;
}
.openLabel {
    flex: 0 0 100%;
}
.openLabelTop {
    font-size: 22px !important;
    font-weight: bold;
    color: #51247a;
    text-align: center;
    margin-bottom: 10px;
}
.openLabelBottom {
    margin-top: 10px;
    font-size: 14px !important;
    font-weight: normal;
    text-align: center;
}
.openChatWindowButtonWrapper {
    flex-grow: 1;
    text-align: center;
}
.openSubWrapper button {
    border-radius: 4px !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0 auto 0 auto;
    white-space: nowrap;
    font-size: 1em;
}
button:hover {
    background-color: #195794;
}
@media screen and (max-width: 650px) {
    .ca-force-hide-mobile {
        right: -300px !important;
    }
}

.openSubWrapper button.close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border-color: transparent;
    background-color: #fff;
    box-shadow: none;
}
.close-button svg {
    fill: #333;
    width: 30px;
}
.close-button:hover svg {
    fill: #000;
    font-weight: bold;
}
