.proactive-chat {
    position: relative;
}

.proactive-chat:has(.openSubWrapper:not(.displayinline)) {
    z-index: 99999;
}
.openSubWrapper button {
    color: #51247a;
    font-size: 1em;
    font-weight: 400;
    font-family: Arial, sans-serif;
    border-radius: 4px !important;
    margin-inline: auto;
    width: 80%;
    white-space: nowrap;
}

.proactive-chat button {
    border: none;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.proactive-chat button:hover,
button:active,
button:focus {
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.proactive-chat button:active {
    outline: none;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.proactive-chat button.open {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 20px !important;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
}

.proactive-chat button.proactive-chat-button {
    margin: 5px 0 -12px 0;
    padding: 2px 4px;
    height: 52px;
    color: #ffffff !important;
    background-color: #51247a;
    border-color: #51247a;
}

.proactive-chat button.proactive-chat-button:hover,
button.proactive-chat-button:active,
button.proactive-chat-button:focus {
    background-color: #ffffff;
    color: #51247a !important;
}

.crmchat-button,
.crmChatPrompt {
    text-align: center;
}

.crmChatPrompt .open {
    background-color: transparent;
    margin-top: 20px;
    padding-top: 5px;
    text-decoration: underline;
    border-color: transparent;
    font-weight: 500;
}
.crmChatPrompt button:active span,
.crmChatPrompt button:focus span,
.crmChatPrompt button:hover span {
    background-color: #51247a;
    color: #fff;
}

.proactive-chat button.close-button {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    box-shadow: none;
    padding: 0 35px 0 60px;
}

.proactive-chat button.close-button svg {
    width: 30px;
}

/*.closed-menu {*/
/*    opacity: 0 !important;*/
/*    transition: transform 0.2s ease-in, opacity 0.2s ease-in; !* Animation *!*/
/*    transform: scale(0.5) !important;*/
/*    transform-origin: 66% 10%;*/
/*}*/
/*.closed-pane {*/
/*    opacity: 0 !important;*/
/*    transition: opacity 0.2s ease-in; !* Animation *!*/
/*    transition-delay: 0s;*/
/*}*/

.pcminimised {
    z-index: 9998;
    position: fixed;
    right: 16px;
    bottom: 16px;
}
.pcminimised > button {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    padding: 12px;
    margin-bottom: 30px;
    box-shadow: 0 0 8px #fff;
    transition-duration: 0.2s;
    transition-property: background-color;
}
.pcminimised > button.pconline {
    background-color: #51247a;
}
.pcminimised > button.pcOffline {
    background-color: #757377; /* grey-700 */
}
.pcminimised > button svg {
    stroke: white;
    margin-left: -2px; /* why is this off center?!?! */
}
.pcminimised > button:hover,
.pcminimised > button:focus {
    background-color: white;
    border-width: 1px;
    border-style: solid;
}
.pcminimised > button.pconline:hover,
.pcminimised > button.pconline:focus {
    border-color: #51247a;
}
.pcminimised > button.pcOffline:hover,
.pcminimised > button.pcOffline:focus {
    border-color: #757377; /* grey-700 */
}
.pcminimised > button.pconline:hover svg,
.pcminimised > button.pconline:focus svg {
    stroke: #51247a;
}
.pcminimised > button.pcOffline:hover svg,
.pcminimised > button.pcOffline:focus svg {
    stroke: #757377;
}

.pcminimised:hover,
.pcminimised:focus {
    cursor: pointer;
}

/*.pcminimised .pcOnlineIcon,*/
/*.pcminimised .pcOfflineIcon {*/
/*    fill: #fff;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.proactive-chat .pcwrapper .openSubWrapper {
    background-color: white;
    width: 250px;
}

.proactive-chat .pcwrapper .openSubWrapper:not(.displayinline) {
    position: fixed;
    bottom: 12px;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    right: -300px;
    transition: right 0.3s;
    transition-delay: 0.3s;
    transition-timing-function: ease-in-out;
}
.pcwrapper {
    overflow: hidden !important;
}
.pcwrapper:has(> div:not(.displayinline)) {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 220px;
}
.pcwrapper .openSubWrapper.displayinline {
    width: 220px;
}
.displayinline .close-button,
.displayinline .pcMessage {
    display: none;
}
.proactive-chat .pcwrapper .openSubWrapper.show:not(.displayinline) {
    right: 12px;
    transition: right 0.3s;
    transition-delay: 0.3s;
    transition-timing-function: ease-in-out;
}
.proactive-chat .pcwrapper .openSubWrapper .pcText {
    flex: 0 0 100%;
}
/*.proactive-chat .pcwrapper .openSubWrapper .pcText .pcTitle {*/
/*    font-size: 22px !important;*/
/*    font-weight: bold;*/
/*    text-transform: uppercase;*/
/*    color: #51247a;*/
/*}*/
.openSubWrapper .pcText .pcMessage {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px; /* make it _feel_ centered */
}
.openSubWrapper .pcMinimisePopup {
    flex-grow: 1;
}
.openSubWrapper .pcOpenChat {
    text-align: center;
}
.openSubWrapper .pcMinimisePopup {
    margin: 0 0 0 5px;
}
.openSubWrapper .pcMinimisePopup button {
    color: #333333 !important;
    background-color: #cccccc;
}
.openSubWrapper .pcMinimisePopup button:hover {
    background-color: #a8a8a8;
}

.chatbotWrapper {
    background-color: #fff;
    right: 10px;
    bottom: 0;
    border: 1px solid grey;
    position: fixed;
    height: 540px;
    width: 350px;
    max-width: 100%;
    max-height: 100%;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    resize: both;
    overflow: hidden;
    min-width: 330px;
    min-height: 500px;
    z-index: 999; /* required for 2023 homepage as spotlights & personalised button showed through! */
    /* fake the resize handle to the top left for usability */
    transform: rotateZ(180deg);
}
.resizeHandleRepositionWrapper {
    /* undo the transform in parent for childten */
    transform: rotateZ(180deg);
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@media screen and (max-width: 650px) {
    .ca-force-hide-mobile {
        right: -300px !important;
    }
    .chatbotWrapper {
        max-width: calc(100% - 190px);
    }
}

.topBar {
    background-color: #51247a;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6px 0;
}
.topBar h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    margin: 4px 0 0 0;
    padding: 0 20px;
}
.topBar button {
    background-color: #51247a;
    color: #fff;
    border: none;
}
.topBar button svg {
    fill: #ffffff;
    width: 25px;
    stroke: #fff;
    stroke-width: 1.2;
}
.chatbotWrapper iframe {
    width: 100%;
    height: calc(100% - 115px);
}
@media screen and (max-width: 530px) {
    .chatbotWrapper iframe {
        height: calc(100% - 125px);
    }
}

.bottomBar {
    background-color: white;
    color: rgb(50, 49, 48);
    padding-left: 6px;
    font-size: 14px;

    margin-top: 0;

    /* fix sites that are using ITS styles */
    line-height: normal;
}
.bottomBar .confirmAnswers {
    margin-bottom: 6px;
}
.bottomBar .crmChat {
    border: 2px solid #a6a6a6;
    margin-top: 0;
    margin-left: -6px;
    padding: 6px;
    cursor: pointer;
}
.bottomBar button {
    background-color: inherit;
    border: none;
    color: #51247a;
    text-decoration: underline;
    text-underline-offset: 2px;
    padding-inline: 0;
    font-style: initial;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
