@use "../../../../../styles-imports/www/variables";
@use "../../../../styles/partials/mixins";

/* starting galleryItemsList */

prm-gallery-items-list {
    .small-text {
        font-size: 15px;
        font-weight: 400;
    }
    button {
        @include mixins.uqPrimaryButton(variables.$accent-color, variables.$white);
        &:hover {
            background-color: variables.$uqPanelBackgroundColor !important;
            border: 2px solid variables.$accent-color;
        }
    }
}
