/* starting galleryItemsList */

prm-gallery-items-list {
    .small-text {
        font-size: 15px;
        font-weight: 400;
    }
    button {
        @include uqPrimaryButton($accent-color, $white);
        &:hover {
            background-color: $uqPanelBackgroundColor !important;
            border: 2px solid $accent-color;
        }
    }
}
