@use "../../styles/partials/mixins";

/* starting homepage */

prm-homepage {
    padding-bottom: 4em;

    md-content {
        padding: 0.75em 1em;

        @include mixins.xs {
            padding: 0.75em;
        }
    }
}
