$pagingButton: 56px;
$smallPagingButton: 44px;
$numberOfButtons: 7;

// based on DS pagination guide: https://design-system.uq.edu.au/storybook-html/index.html?path=/docs/components-pagination-pagination--docs
prm-page-nav-menu {
    z-index: 11;
    position: static; // Stop bottom of page pagination block from floating above content
    @include rtl-prop(left, right, 0, auto);

    .__gt-xs & {
        @include rtl-prop(left, right, 0.5em, auto);
    }
    .__gt-sm & {
        bottom: 0.75em;
    }
    .__gt-md & {
        bottom: 1.5em;
        @include rtl-prop(left, right, 1em, auto);
    }

    div[aria-label="Pagination"] {
        column-gap: 5px;
    }
    .counter-main a.md-button {
        background-color: transparent;
        text-decoration: none;
        font-weight: 300 !important;
        font-size: 1rem;
        min-width: 25px;
        width: $smallPagingButton;
        height: $smallPagingButton;
        border-radius: 22px !important;
        line-height: $smallPagingButton;
        color: $accent-color !important;
        margin-inline: 1px;
        margin-top: 8px;
        &:focus,
        &:hover {
            border-radius: 22px;
            background-color: #fff;
        }
        &.current-page {
            background-color: $accent-color;
            color: #fff !important;
            box-shadow: none;
            &:focus,
            &:hover {
                background-color: $accent-color;
            }
        }
    }

    div.counter-nav {
        @include rtl-prop(left, right, $pagingButton / $numberOfButtons, auto);
        .__xs & {
            @include rtl-prop(left, right, 0, auto);
        }
        .md-button {
            background-color: transparent;
            text-decoration: none;
            font-weight: 300 !important;
            font-size: 1rem;
            min-width: 25px;
            width: $smallPagingButton;
            height: $smallPagingButton;
            line-height: $smallPagingButton;
            color: $accent-color !important;
            border: 1px solid $accent-color;
            border-radius: 22px;
            &:not([disabled]):focus,
            &:not([disabled]):hover {
                background-color: #fff;
            }

            md-icon {
                margin-top: -2px;
            }
        }
        &.counter-prev {
            margin-right: 15px;
        }
        &.ng-hide-remove {
            max-height: 0;
            transition: max-height 0.3s $easeOutQuint;
            &.ng-hide-remove-active {
                max-height: $smallPagingButton;
            }
        }
        &.ng-hide-add {
            max-height: $smallPagingButton;
            transition: $swift-ease-out;
            transition-duration: 0.3s;
            z-index: 0;
            &.ng-hide-add-active {
                max-height: 0;
            }
        }
        &.counter-prev,
        &.counter-first {
            > .md-button {
                transform-origin: 50% 100%;
            }
        }
        &.counter-next {
            > .md-button {
                transform-origin: 50% 0;
            }
        }
        > .md-button {
            &.ng-enter {
                transform: scale(0);
                transition: $swift-ease-out;
                &.ng-enter-active {
                    transform: scale(1);
                }
            }
            &.ng-leave {
                transform: scale(1);
                transition: $swift-ease-out;
                transition-duration: 0.3s;
                &.ng-leave-active {
                    transform: scale(0);
                }
            }
        }
        .md-fab {
            box-shadow: none !important;
            &.md-mini {
                .__xs & {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }

    .results-per-page {
        button.current-bulk {
            box-shadow: none;
            font-weight: 500 !important;
            font-size: 14px;
            &:focus,
            &:hover {
                background-color: $uqPanelBackgroundColor;
            }
        }
        button:not(.current-bulk) {
            text-decoration: underline;
            color: $accent-color;
            &:focus,
            &:hover {
                background-color: $accent-color;
                color: #fff;
                border-radius: .25rem;
            }
        }
    }
    md-fab-speed-dial {
        &.md-right,
        &.md-left {
            md-fab-actions {
                .md-fab-action-item {
                    transition-timing-function: $easeOutQuint;
                    transition-duration: 0.3s;
                    opacity: 0 !important;
                    &.current {
                        font-size: 1.3em;
                        @extend .bold-text;
                    }
                }
            }
        }
        &.md-left {
            flex-direction: row-reverse;
            width: $pagingButton;
            md-fab-actions {
                flex-direction: row;
            }
        }
        &.md-right {
            md-fab-actions {
                .md-fab-action-item {
                }
            }
        }
        &.md-is-open {
            &.md-right,
            &.md-left {
                md-fab-actions {
                    .md-fab-action-item {
                        transition-duration: 0.6s;
                        opacity: 1 !important;
                    }
                }
            }
            &.md-left {
                width: auto;
            }
        }
    }
    .md-button {
        &.md-fab {
            margin: 0;
            background-color: white;
        }
    }
    .counter-main {
        z-index: 2;
        .counter-text,
        .counter-count {
            line-height: 1em;
            @extend .bold-text;
        }
        .counter-text {
            font-size: 0.85em;
        }
        .counter-count {
            font-size: 1.4em;
        }
        md-fab-trigger {
            .md-button,
            .md-button:hover,
            .md-button:focus {
                @include bgColor($dark);
                box-shadow: 5px 0 5px -3px rgba(0, 0, 0, 0.07), -5px 0 5px -3px rgba(0, 0, 0, 0.07);
                &.md-is-open {
                    box-shadow: none;
                }
                .__xs & {
                    font-size: 0.8em;
                }
                &.md-mini {
                    .__xs & {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        box-shadow: none;
                    }
                }
                > span {
                    position: relative;
                    line-height: 1em;
                    transition: $swift-ease-out;
                    &.ng-hide-remove {
                        transform: scale(0.6);
                        opacity: 0;
                        transition-duration: 0.3s;
                        transition-delay: 0.1s;
                        &.ng-hide-remove-active {
                            transform: scale(1);
                            opacity: 1;
                        }
                    }
                    &.ng-hide-add {
                        transform: scale(1);
                        opacity: 1;
                        transition-delay: 0s;
                        &.ng-hide-add-active {
                            transform: scale(0.6);
                            opacity: 0;
                        }
                    }
                    &:last-of-type {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include rtl-prop(left, right, 0, auto);
                        &.ng-hide-remove {
                            transform: scale(0.6) rotate(-90deg);
                            transition-delay: 0.1s;
                            &.ng-hide-remove-active {
                                transform: scale(1) rotate(0);
                            }
                        }
                        &.ng-hide-add {
                            transform: scale(1) rotate(0);
                            &.ng-hide-add-active {
                                transform: scale(0.6) rotate(-90deg);
                            }
                        }
                    }
                }
            }
        }
        md-fab-actions {
            width: 0;
            transition: width 0s 0.3s;
            &:after {
                content: '';
                background-color: white;
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                @extend .default-shadow;
                border-radius: $pagingButton / 2;
                transform: scale(0, 1);
                transition: 0.2s $easeInCubic;
                transform-origin: $pagingButton/2 50%;
                @include rtl-prop(left, right, 0, auto);
                [dir='rtl'] &,
                .facet-to-left & {
                    transform-origin: calc(100% - $pagingButton/2) 50%;
                }
            }
            .md-fab-action-item {
                .md-fab {
                    border-radius: 0;
                    box-shadow: none !important;
                    span {
                        transition: opacity 0s linear;
                        opacity: 0;
                    }
                }
                [dir='ltr'] & {
                    &:last-child {
                        .md-fab {
                            border-top-right-radius: $pagingButton / 2;
                            border-bottom-right-radius: $pagingButton / 2;
                        }
                    }
                }
                [dir='rtl'] &,
                .facet-to-left & {
                    &:last-child {
                        .md-fab {
                            border-top-left-radius: $pagingButton / 2;
                            border-bottom-left-radius: $pagingButton / 2;
                        }
                    }
                }
            }
        }
        &.counter-open {
            md-fab-trigger {
                .md-button,
                .md-button:hover,
                .md-button:focus {
                    box-shadow: none;
                }
            }
            md-fab-actions {
                width: auto;
                transition: width 0s 0s;
                &:after {
                    transition: all 0.3s $easeOutExpo;
                    transform: scale(1, 1);
                }
                .md-fab {
                    span {
                        transition: opacity 0.4s ease;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

//Needed for change "Pagination" to right when facets in the left.
.facet-to-left {
    prm-page-nav-menu,
    .page-nav {
        left: inherit;
        right: 1em;
        direction: rtl;
    }
    prm-page-nav-menu .counter-nav,
    prm-page-nav-menu .page-nav-inner:after {
        left: inherit;
        right: 8px;
    }

    prm-page-nav-menu .counter-main md-fab-actions .md-fab-action-item:last-child .md-fab {
        border-top-left-radius: 28px;
        border-bottom-left-radius: 28px;
    }
}

prm-databases prm-page-nav-menu div.counter-main {
    margin-right: 15px; // dont let the right most page overlap the next page on dbsearch
}
