.uq-site-header {
    color: #2b2a29;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5
}

.uq-site-header *,
.uq-site-header *::before,
.uq-site-header *::after {
    box-sizing: border-box
}

.uq-site-header__title-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 73.25rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    float: none;
    justify-content: space-between;
    padding: .75rem 1.5rem;
    position: relative
}

.uq-site-header__title-container__right {
    display: flex;
    align-items: center
}

@media(min-width: 64rem) {
    .uq-site-header__title-container {
        padding: 1rem 1rem 0 1rem
    }
}

.uq-site-header__title {
    color: #51247a;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
    text-decoration: none
}

.uq-site-header__title:hover,
.uq-site-header__title:focus {
    color: #51247a;
    text-decoration: none
}

.uq-site-header__navigation-toggle {
    background-color: #fff;
    border: 0 none;
    color: #51247a;
    cursor: pointer;
    height: 1.5rem;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-indent: -100vw;
    width: 1.5rem
}

.uq-site-header__navigation-toggle:hover {
    background-color: #fff;
    color: #51247a
}

.uq-site-header__navigation-toggle:focus {
    outline: 2px solid #1e72c6;
    outline-offset: 0
}

.uq-site-header__navigation-toggle::before {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 18h16M4 12h16M4 6h16' stroke='%2351247A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
    background-size: 100%;
    content: "";
    display: block;
    height: 1.5rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 1.5rem
}

.uq-site-header__navigation-toggle--close::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2351247A'%3e%3cpath d='m1.715 14.285 12.57-12.57m0 12.57L1.715 1.715' stroke='%2351247A' stroke-width='.75' fill='none' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e")
}

@media(min-width: 64rem) {
    .uq-site-header__navigation-toggle {
        display: none
    }
}

.uq-site-header__navigation-container {
    float: none;
    overflow: visible;
    padding: 0;
    position: relative
}

@media(min-width: 64rem) {
    .uq-site-header__navigation-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 73.25rem
    }
}

.uq-site-header__navigation a {
    color: #51247a;
    display: block;
    padding: 1rem 1rem;
    text-decoration: none;
    transition: background-color .25s, border-color .25s
}

.uq-site-header__navigation a:hover,
.uq-site-header__navigation a:focus {
    text-decoration: underline
}

@media(min-width: 64rem) {
    .uq-site-header__navigation a:hover,
    .uq-site-header__navigation a:focus {
        outline: 0 none;
        text-decoration: none
    }
}

.uq-site-header__navigation__list-link {
    border-bottom: 4px solid rgba(0, 0, 0, 0)
}

.uq-site-header__navigation__list {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0
}

.uq-site-header__navigation__list--level-1 {
    display: none
}

@media(min-width: 64rem) {
    .uq-site-header__navigation__list--level-1 {
        display: flex
    }
    .uq-site-header__navigation__list--level-1>li {
        display: inline-block
    }
}

.uq-site-header__navigation__list--level-1.uq-site-header__navigation__list--open {
    display: block;
    border-top: 1px solid #e7e3e0
}

@media(min-width: 64rem) {
    .uq-site-header__navigation__list--level-1.uq-site-header__navigation__list--open {
        border-top: 0 none
    }
}

.uq-site-header__navigation__list--level-2 {
    display: block;
    visibility: hidden;
    position: relative;
    height: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    background-color: #fff;
    transform: translateY(-0.5rem);
    box-shadow: 0 .75rem 1.5rem rgba(24, 24, 24, .2);
    border-radius: 0 0 .25rem .25rem
}

@media(min-width: 64rem) {
    .uq-site-header__navigation__list--level-2 {
        position: absolute;
        width: 320px;
        transition: opacity .2s ease, transform .2s ease, visibility .2s ease;
        padding: .5rem 0 1.5rem 0
    }
}

.uq-site-header__navigation__list--level-2.uq-site-header__navigation__list--open {
    transform: translateY(0);
    opacity: 1;
    height: auto;
    visibility: visible;
    z-index: 20
}

.uq-site-header__navigation__list--level-2.uq-site-header__navigation__list--reverse {
    left: auto;
    right: 0
}

.uq-site-header__navigation__list--level-2 a {
    padding-left: 3rem;
    padding-top: .75rem;
    padding-bottom: 0
}

.uq-site-header__navigation__list--level-2 a:hover,
.uq-site-header__navigation__list--level-2 a:focus {
    text-decoration: underline
}

@media(min-width: 64rem) {
    .uq-site-header__navigation__list--level-2 a {
        padding-left: 1.5rem
    }
}

.uq-site-header__navigation__list-item {
    margin-bottom: 0;
    position: relative
}

.uq-site-header__navigation__list-item--open .uq-site-header__navigation__sub-toggle {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m17 14-5-5-5 5' stroke='%2351247A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e")
}

@media(min-width: 64rem) {
    .uq-site-header__navigation__list-item--open .uq-site-header__navigation__sub-toggle {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m7 10 5 5 5-5' stroke='%2351247A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e")
    }
}

@media(min-width: 64rem) {
    .uq-site-header__navigation__list-item--has-subnav>a {
        padding-right: 2rem
    }
}

.uq-site-header__navigation__list-item--active>a {
    border-left: 2px solid #51247a
}

@media(min-width: 64rem) {
    .uq-site-header__navigation__list-item--active>a {
        border-left: 0 none;
        border-bottom: 4px solid #51247a
    }
}

.uq-site-header__navigation__list-item:hover .uq-site-header__navigation__list-link {
    border-bottom: 4px solid #51247a
}

.uq-site-header__navigation__sub-toggle {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 3rem;
    padding: 1.75rem 1.5rem;
    border: 0;
    border-left: 1px solid #e7e3e0;
    text-indent: -100vw;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m7 10 5 5 5-5' stroke='%2351247A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
    background-size: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    cursor: pointer
}

@media(min-width: 37.5rem) {
    .uq-site-header__navigation__sub-toggle {
        width: 2rem;
        padding: 1.75rem 1.5rem 1.75rem .5rem
    }
}

@media(min-width: 64rem) {
    .uq-site-header__navigation__sub-toggle {
        border-left: 0
    }
    .uq-site-header__navigation__sub-toggle:focus {
        outline: 0 none
    }
}

.uq-site-header--no-site-title .uq-site-header__title-container {
    justify-content: flex-end
}

@media(min-width: 64rem) {
    .uq-site-header--no-site-title .uq-site-header__title-container {
        padding-top: 0;
        padding-bottom: 0
    }
}
