a.uq-site-header__title h1 {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    color: #51247a !important;
    font-size: 1em !important;
    font-weight: 500 !important;
    margin: 0 !important;
    text-decoration: none !important;
    line-height: 1.5 !important;
}

.uq-site-header {
    font-size: 16px;
    background-color: #ffffff;
}
* {
    font-size: 16px;
}

@media (min-width: 64em) {
    .uq-site-header__title-container {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}
span.displayText {
    display: block;
    white-space: nowrap;
}

.secondaryText {
    font-size: 0.75em;
    min-height: 1em;
    font-weight: 300;
    margin-bottom: 2px;
}

/* https://css-tricks.com/guide-responsive-friendly-css-columns/ */
.uq-site-header__navigation__list--level-2.multicolumn-2 > li,
.uq-site-header__navigation__list--level-2.multicolumn-3 > li {
    min-height: 2em;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

@media (min-width: 64em) {
    /*desktop menu size*/
    .multicolumn-2 {
        columns: 2 100px;
        column-gap: 5px;
        column-rule: 1px solid #ccc;
        width: 500px;
    }
    .multicolumn-3 {
        columns: 3 100px;
        column-gap: 5px;
        column-rule: 1px solid #ccc;
        width: 750px;
    }
    .uq-site-header__navigation__list--level-2 a {
        padding: 0.2em 0.2em 0.2em 1em;
        border-bottom-width: 0;
    }

    li.uq-site-header__navigation__list-item--has-subnav li a {
        min-height: auto;
    }
    .uq-site-header__navigation__list--level-2 {
        padding-top: 1em;
    }
}
@media (max-width: 80em) {
    /* when the menu drops to a single lne, we dont need the spacing under the menu item any more */
    li.uq-site-header__navigation__list-item--has-subnav a {
        min-height: 4em;
    }
}

/* make the megamenu appear as one line where possible */
@media (min-width: 64em) {
    .uq-site-header__navigation__list--level-1 > li:not(:first-child) > a {
        padding-left: 0.2em;
    }

    .uq-site-header__navigation__list-item--has-subnav > a {
        padding-right: 1.5em;
        background-position: right 0.5em top 1.5em;
    }

    li.megamenu-global-nav--mobile {
        display: none;
    }
}

/* primo sets some crazy stuff! lets get that proper bolding back on our homepage link! */
.uq-site-header__title-container__left a {
    -webkit-font-smoothing: initial;
    -webkit-tap-highlight-color: initial;
}

.megamenu-global-nav--mobile-header {
    background-color: #51247a;
    margin-bottom: 0;
}
.megamenu-global-nav--mobile-global {
    background-color: #48206c;
    margin-bottom: 0;
}
.megamenu-global-nav--mobile-header a,
.megamenu-global-nav--mobile-global a {
    color: #fff;
    border-bottom-width: 0;
}

@media (min-width: 37.5rem) {
    .uq-site-header__navigation__sub-toggle {
        padding-top: 10px;
    }
}
