@import 'includes/fonts';
@import 'includes/colours';

/* make the white bar in uq-site-header the right height */
uq-site-header::part(root) {
    height: 41px;
    margin-top: 10px;
}

/* put a gap at the bottom of the sidebar */
[role="navigation"].account-menu-container,  /* on the Account pages */
.filters-side-bar-content /* on brief results pages  */
{
    margin-bottom: 50px;
}

/* move the account button into the site header */
button.user-area-btn {
    margin-top: -165px;
    @media (max-width: 707px) {
        margin-top: -215px;
    }
}
