body .s-lib-box-container > div.s-lib-box > h2 {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  color: #3b383e !important; // Body copy
}
.important-content {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
#s-lg-index-cols {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

body h2 {
  font-size: 2rem !important;
}
#s-lib-public-main,
#s-lib-bc-list {
  @media screen and (max-width: 790px) {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
ul, ol {
  margin: unset;
}
a {
  text-decoration: underline !important;
}
#s-lg-hp-nav #s-lg-hp-nav-bottom form[role='search'] .btn-default {
  color: #fff;
  background-color: #51247a;
  border: 1px solid #51247a;
}
