/*
upon editing this file, check the accordion edit instances to update any inline css
visit https://uq.libapps.com/libguides/guides.php (guides admin > content > guides)
and find the page you want either by filtering by Name or choosing the right Group under the dropdown
 */
.accordion, .uq-accordion {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  list-style: none;
  margin-bottom: 1.5rem;
  padding: 0;
  display: inline-block;
  width: 100%;

  .accordion-item, .uq-accordion__item {
    background: #fff;
    border: 1px solid #dcdcdd;
    border-radius: 2px;
    margin-bottom: 0.5rem;
    
    &:last-child{
      margin-bottom: 0;
    }

    /*
    ** UQ LIBRARY SPECIFIC STYLES
    */
    &.uq-accordion__item--is-open .uq-accordion__content a, .accordion-collapse.show .uq-accordion__content a {
      margin-left: 0;
    }
  }
}

@mixin toggle() {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #fff;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  color: #3b383e;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .5rem 1rem;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 1rem 3.5rem 1rem 1rem;
  position: relative;
  text-align: left;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: all ease .2s;
  width: 100%;

  >* {
    margin: 0;
    color: #3b383e;
    font-size: 1.25rem;
    font-weight: 500
  }
}

@mixin toggleBefore() {
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m5 9 7 7 7-7' stroke='%2319151c' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 1rem
  }
}

@mixin toggleActiveBefore() {
  &::before {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m19 15-7-7-7 7' stroke='%2319151c' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e")
  }
}

@mixin toggleBreakpoints() {
  @media(min-width: 37.5rem) {
      padding:1rem 4.5rem 1rem 1.5rem
  }

  @media(min-width: 37.5rem) {
    &::before {
      right:1.5rem
    }
  }
}

.accordion-button, .uq-accordion__toggle {
  @include toggle();
  @include toggleBefore();
  @include toggleBreakpoints();

  &:has(.uq-accordion__subtitle) {
    flex-wrap: wrap
  }

 &.uq-accordion__toggle--active {
    @include toggleActiveBefore();
    background: #fff;

    &:hover, &:focus {
      background-color: #fff;
    }
  }

  &:hover, &:focus {
    color: #3b383e;
  }

  &:focus {
    outline: 0 none
  }

  &::after{
    content: unset;
  }

  .uq-accordion--no-bottom-spacing {
    margin-bottom: 0
  }

  .uq-accordion__icon {
    width: 24px;
    height: 24px;
    margin-block:-4px}

  .uq-accordion__icon img,.uq-accordion__icon svg,.uq-accordion__icon .uq-icon::before {
    width: 24px;
    height: 24px;
    margin: 0
  }

  .uq-accordion__subtitle {
    width: 100%;
    font-size: .875rem;
    font-weight: 400;
    color: #6f6f6f;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden
  }
}

.accordion-button {
  font-size: 1.5rem;
  
  &:not(.collapsed) {
    @include toggleActiveBefore();
    
    color: #3b383e;
    background-color: #fff;
  }
}

.accordion-body, .uq-accordion__content {
  word-wrap: break-word;
  transition: height 200ms ease;

  p:first-of-type {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  .uq-alert {
    margin-block:1.5rem;
  }

  img:not([class*="s-lg-book-cover-img"]) {
    margin-block:1rem;
    display: block;
  }

  &.uq-accordion__content-wrapper {
    padding: 0 1rem 1rem;

    @media(min-width: 37.5rem) {
      padding:0 1.5rem 1.5rem;
    }
  }

  .contextual-links-wrapper {
    top: 0 !important
  }
}

.uq-accordion__content {
  &:not(.uq-accordion__content--active) {
    display: none;
  }
}


.uq-accordion--compact {
  .uq-accordion__toggle {
    font-size: 1rem;
    padding: .5rem 3.5rem .5rem 1rem;

    &::before {
      width: 1rem;
      height: 1rem;
      right: 1rem;
    }
  }
  .uq-accordion__toggle--active{
    &::before {
      width: 1rem;
      height: 1rem;
      right: 1rem;
    }
  }

  @media(min-width: 37.5rem) {
    .uq-accordion__content-wrapper {
      padding:0 1rem 1rem
    }
  }
}


.cke_editable .uq-accordion__content {
  border: 1px dashed #0d6dcd;
  display: block !important
}
