// css to overwrite production where needed
// uneeded on golive
//@import 'production-reset';

:root {
    --pagination-size: 44px;
    --pagination-space: 12px;
}
// font family
$roboto: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$montserrat: 'Montserrat', Helvetica, Arial, sans-serif;
$courier: 'Courier New', 'DejaVu Sans Mono', monospace, sans-serif;
/* Variants of brand colours
*/

// UQ Brand colours

// Base
$black: #19151c;
$white: #fff;

// Purple
$purple-50: #eee9f2;
$purple-100: #dcd3e4;
$purple-200: #b9a7ca;
$purple-300: #977caf;
$purple-400: #745095;
$purple-500: #51247a;
$purple-600: #4b2271;
$purple-650: #40205d;
$purple-700: #3a1f53;
$purple-800: #2f1d3f;
$purple-900: #231a2c;
$purple-light: #962a8b;

// UQ Purple gradient
$purple-gradient: linear-gradient(90deg, $purple-500 0%, 87%, $purple-light 100%);

// Grey
$grey-50: #f3f3f4;
$grey-100: #e8e8e8;
$grey-200: #dcdcdd;
$grey-300: #d1d0d2;
$grey-400: #bab9bb;
$grey-500: #a3a1a4;
$grey-600: #8c8a8d;
$grey-700: #757377;
$grey-800: #5e5b60;
$grey-900: #3b383e;
$grey-925: #302c33;

// Error
$error-50: #fbeaea;
$error-100: #f7d4d4;
$error-200: #efa9a9;
$error-300: #e67f7f;
$error-400: #de5454;
$error-500: #d62929;
$error-600: #c32727;
$error-700: #9d2424;
$error-800: #772020;
$error-900: #511d1d;

// Success
$success-50: #edf6ed;
$success-100: #dbeddc;
$success-200: #b7dcb8;
$success-300: #92ca95;
$success-400: #6eb971;
$success-500: #4aa74e;
$success-600: #459949;
$success-700: #3b7c3e;
$success-800: #315f33;
$success-900: #274328;

// Warning
$warning-50: #fef8e8;
$warning-100: #fdf1d2;
$warning-200: #fce3a5;
$warning-300: #fad678;
$warning-400: #f9c84b;
$warning-500: #f7ba1e;
$warning-600: #e1aa1d;
$warning-700: #b4891c;
$warning-800: #87691b;
$warning-900: #5b491a;

// Utility
$utility-50: #e7f0fa;
$utility-100: #cfe2f5;
$utility-200: #9ec5eb;
$utility-300: #6ea7e1;
$utility-400: #3d8ad7;
$utility-500: #0d6dcd;
$utility-600: #0e65bb;
$utility-700: #105497;
$utility-800: #124373;
$utility-900: #15324e;

// Filters from #000000
$filter-text: invert(0%) sepia(72%) saturate(588%) hue-rotate(348deg) brightness(115%) contrast(81%);
$filter-primary: invert(20%) sepia(34%) saturate(1979%) hue-rotate(239deg) brightness(97%) contrast(107%);
$filter-secondary: invert(35%) sepia(80%) saturate(952%) hue-rotate(181deg) brightness(94%) contrast(90%);
$filter-white: invert(100%) sepia(0%) saturate(1%) hue-rotate(122deg) brightness(111%) contrast(102%);

$font-body: $roboto;
$font-title: $montserrat;
$font-accent: $roboto;
$font-monospace: $courier;

// font sizes
$font-size-ul: 3rem; /* 48px */
$font-size-xxxxl: 2.5rem; /* 40px - H1 */
$font-size-xxxl: 2rem; /* 32px - H2 */
$font-size-xxl: 1.5rem; /* 24px - H3 */
$font-size-xl: 1.25rem; /* 20px - H4 */
$font-size-l: 1.125rem; /* 18px - H5 */
$font-size-m: 1rem; /* 16px - Body, H6 */
$font-size-s: 0.875rem; /* 14px - Sub */
$font-size-xs: 0.75rem; /* 12px - Small */
$font-size-xxs: 0.625rem; /* 10px - Small uppercase */

// font weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: $font-weight-medium;

// line heights
$line-height: 1.6;
$line-height-h: 1.2;
$line-height-ui: 1;

// 1% letter spacing
$letter-spacing: 0.01rem;
// Space is calculated as multiples of eight
// Baseline is default of device or broswer, typically 16px

$space-uuuuul: 10rem; /* 160px */
$space-uuuul: 5.5rem; /* 88px */
$space-uuul: 5rem; /* 80px */
$space-uul: 4.5rem; /* 72px */
$space-ul: 4rem; /* 64px */
$space-xxxxl: 3.5rem; /* 56px */
$space-xxxl: 3rem; /* 48px */
$space-xxl: 2.5rem; /* 40px */
$space-xl: 2rem; /* 32px */
$space-l: 1.5rem; /* 24px */
$space-m: 1rem; /* 16px */ /* Default */
$space-s: 0.5rem; /* 8px */
$space-xs: 0.25rem; /* 4px */
/* 2px (0.125rem) */
/* 1px (0.0625rem) */
$space-none: 0; /* zero - no spacing */
$space-auto: auto; /* auto */

/* Conceptual spacing options - use with caution as these may change. */

/* compressed - half the original value */
$space-compressed-uuuul: 5rem; /* 80px (160px) */
$space-compressed-uuul: 2.75rem; /* 44px (88px) */
$space-compressed-uul: 2.5rem; /* 40px (80px) */
$space-compressed-ul: 2.25rem; /* 36px (72px) */
$space-compressed-xxxxl: 2rem; /* 32px (64px) */
$space-compressed-xxxl: 1.75rem; /* 28px (56px) */
$space-compressed-xxl: 1.5rem; /* 24px (48px) */
$space-compressed-xl: 1.25rem; /* 20px (40px) */
$space-compressed-l: 1rem; /* 16px (32px) */
$space-compressed-m: 0.75rem; /* 12px (24px) */
$space-compressed: 0.5rem; /* 8px (16px) */
$space-compressed-s: 0.25rem; /* 4px (8px) */
$space-compressed-xs: 0.125rem; /* 2px (4px) */

/* stretched - 1.5 times the original value */
$space-stretched-uuuul: 15rem; /* 80px (160px) */
$space-stretched-uuul: 8.25rem; /* 132px (88px) */
$space-stretched-uul: 7.5rem; /* 120px (80px) */
$space-stretched-ul: 6.75rem; /* 108px (72px) */
$space-stretched-xxxxl: 6rem; /* 96px (64px) */
$space-stretched-xxxl: 5.25rem; /* 84px (56px) */
$space-stretched-xxl: 4.5rem; /* 72px (48px) */
$space-stretched-xl: 3.75rem; /* 60px (40px) */
$space-stretched-l: 3rem; /* 48px (32px) */
$space-stretched-m: 2.25rem; /* 36px (24px) */
$space-stretched: 1.5rem; /* 24px (16px) */
$space-stretched-s: 0.75rem; /* 12px (8px) */
$space-stretched-xs: 0.375rem; /* 6px (4px) */

$uqBrandColour: $purple-500;
$bodyCopy: $grey-900;
$heading: $grey-900;
$borders: $grey-200;
$paneBackground: $grey-50;

$font: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$nav-border: 4px solid $uqBrandColour;
$page-background-color: #fff;
$button-color: $uqBrandColour;

$down-arrow: 'data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath d=%22M16.59 8.59 12 13.17 7.41 8.59 6 10l6 6 6-6z%22/%3E%3C/svg%3E';
$up-arrow: 'data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath d=%22m12 8-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z%22/%3E%3C/svg%3E';

// styles imported from uq css files
@import 'uqaccordion';
@import 'uqcard';
@import 'uqhero'; // note hero styles are duplicated at https://uq.libapps.com/libguides/admin_c.php?g=976668 to avoid really bad FOUC
@import 'uqpagination';
@import 'landing-page-icons';

* {
    box-shadow: none !important;
}

.s-lib-box .s-lib-box-title {
    padding: 0; // 9px 12px 9px;
    background: #fff !important;
    border-bottom: none;
}
#col2 .s-lib-box .s-lib-box-title {
    padding-left: 0;
}

/* legacy, in case someone fogets they shouldn't use this */
.important-content {
    border: 1px solid $borders;
    padding: 1rem 1rem 1rem 2.8rem;
    margin: 0;
}

.important-exclamation-content {
    border: 1px solid $borders;
    padding: 1rem 1rem 1rem 5rem;
    background-image: url(https://libapps-au.s3-ap-southeast-2.amazonaws.com/customers/720/images/alert-circle.png);
    background-position: left;
    background-repeat: no-repeat;
    margin: 0;
}
//
//.s-lib-featured-profile-container {
//    width: 160px;
//    height: 200px;
//    margin: 0px 10px 20px 10px !important;
//}
//
//.ui-widget-content a {
//    color: $uqBrandColour !important;
//}
//
//.s-lib-box-content .ui-widget {
//    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
//}
//
//.nav-pills > li.active > a,
//.nav-pills > li.active > a:focus,
//.nav-pills > li.active > a:hover {
//    background-color: #d7d1cc !important;
//}
//
//#s-lg-guide-tabs .s-lg-tabs-side .nav .dropdown a,
//#s-lg-tabs-container .nav-pills > li > a,
//#s-lg-tabs-container .nav-tabs > li > a {
//    border-radius: 0 2px 2px 0 !important;
//    font-size: 14px/1.2;
//    cursor: pointer;
//    color: #000 !important;
//    margin: 0 0 1px;
//    background: url(https://assets.library.uq.edu.au/reusable-components/resources/images/arrow-right.png) right 12px
//        no-repeat;
//    padding: 10px;
//    border-left: 0 none transparent !important;
//}
//
//#s-lg-tabs-container .nav-pills > .active > a,
//#s-lg-tabs-container .nav-pills > .active > a:hover,
//#s-lg-tabs-container .nav-pills > .active > li > a,
//#s-lg-tabs-container .nav-pills > .active > li > a:hover,
//#s-lg-tabs-container .nav-pills > li.active > a,
//#s-lg-tabs-container .nav-pills > li:not(.dropdown-menu) > a:hover,
//#s-lg-tabs-container .nav-tabs > li.active > a {
//    border-left: 0 none transparent !important;
//    padding: 10px;
//}
//
//#s-lg-tabs-container .nav-pills > li > a:hover {
//    background: #999490;
//}
//
//%navlinks {
//    border-radius: 0 2px 2px 0 !important;
//    background: #eee;
//    font-size: 14px/1.2;
//    cursor: pointer;
//    color: #2662e3;
//    border-bottom: 1px solid #eee;
//    margin: 0 0 1px 0;
//    background: url('https://assets.library.uq.edu.au/reusable-components/resources/images/arrow-right.png')
//        no-repeat scroll right 12px transparent;
//    padding: 0.6em 0;
//}
//
//%navlinks-hover {
//    background-color: transparent;
//    border-bottom: 1px solid #eee;
//}
//
//%shadow {
//    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
//}
//
//@mixin hover-style($color) {
//    background: transparent;
//    border-bottom: 4px solid $color !important;
//    transition: all 0.1s ease;
//}

* {
    margin: 0;
    padding: 0;
}

#s-lib-public-main,
#s-lib-bc-list {
    @media screen and (max-width: 790px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

html,
body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0 !important;
}

body {
    font-family: $font;
    font-weight: 400;
    background: $page-background-color;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: $bodyCopy;
    -webkit-font-smoothing: antialiased;
}
//
//.s-lg-admin-command-bar,
//ul.navbar-nav {
//    font-size: 12px !important;
//}
//
///* 'body' to overwrite inbuilt springshare styles... */

body h1,
body #s-lg-guide-header-info h1,
body .s-lib-header h1 {
    font-family: Montserrat, $font;
    font-size: 2.5rem;
    color: $heading;
    font-weight: 500;
    line-height: 1.2;
}

.s-lib-header {
    margin-top: 35px;
}
#s-lib-public-header {
    margin-top: 0;
    height: 0;
    padding-bottom: 0;
}

body h2 {
    font-size: 2rem;
    font-family: $font;
    color: $heading;
    font-weight: 500;
    line-height: 1.2;
}

body .s-lib-box-container > div.s-lib-box > h2 {
    font-size: 2rem;
    font-family: $font;
    color: $heading;
    font-weight: 500;
    line-height: 1.2;
    //padding-left: 0;
}
h3,
body h3,
body .s-lib-box-container .s-lib-box-content h3 {
    font-size: 1.5rem;
    font-family: $font;
    color: $heading;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 24px;
}
h4,
body h4,
.row #accor h4,
body .s-lib-box-container .s-lib-box-content h4 {
    font-size: 1.25rem;
    font-family: $font;
    color: $heading;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 24px;
}
h5,
body h5 {
    font-size: 1.125rem;
    font-family: $font;
    color: $heading;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 24px;
}
h6,
body h6 {
    font-size: 1rem;
    font-family: $font;
    color: $heading;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 24px;
}

#s-lib-footer-login-link a,
#s-lib-footer-support-link a,
a {
    color: $uqBrandColour;
    text-decoration: underline;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-weight: 500;
    &:hover,
    &:focus {
        background-color: $uqBrandColour;
        color: #fff;
        text-decoration: underline;
    }
    &.bold {
        font-weight: 500;
        margin-left: 1em;
    }
}
p:has(> img) {
    margin-bottom: 0;
}
p:not(:has(> img)) {
    margin-bottom: 24px;
}
p {
    font-weight: 400;
    padding-bottom: 0;
    color: $bodyCopy;
}

ul.s-lg-guide-list {
    padding-left: 16px;
    li {
        padding-block: 5px;
        border-bottom: none;
        list-style: disc;
    }
}

.s-lib-box .row #accor {
    border-radius: 0;
    background-image: none;
    h4 a {
        color: $heading !important; // TODO: remove inline style 'color:#51247A;' from toggle opener pon subject guides landing page!!!
    }
    h4 a:hover {
        text-decoration: underline;
        color: $heading;
        background-color: transparent;
    }
    h4 a:focus {
        color: $heading;
        background-color: transparent;
    }
}
.uql-grid .s-lib-box-content {
    padding-left: 0;
}

// landing page layout, (two column)
body:not(.guides_homepage) #s-lg-index-cols {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    #col1,
    #col2 {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        ul,
        ol {
            margin-bottom: 24px;
        }
    }
}
.container,
.s-lib-main {
    padding-top: 0;
}
@media (min-width: 37.5rem) {
    .container,
    .s-lib-main {
        max-width: none;
    }
}
@media (min-width: 64rem) {
    body:not(.guides_homepage) #s-lg-index-cols {
        display: grid;
        column-gap: 32px;
        grid-template-columns: 0 1fr 296px;
        padding: 0;
    }
    .container,
    .s-lib-main {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 71em;
        width: auto;
    }
    #col1,
    .uql-grid:has(.arrowPanelWithIcon) {
        margin-left: -30px;
    }
}
@media (min-width: 75rem) {
    body:not(.guides_homepage) #s-lg-index-cols {
        grid-template-columns: 0 1fr 308px;
        margin-inline: -30px;
    }
    .container,
    .s-lib-main {
        padding-left: unset;
        padding-right: unset;
    }
}
@media (min-width: 768px) {
    .container {
        width: unset;
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media (min-width: 1165px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

#col2 {
    .s-lib-box-content {
        padding: 0;
    }
    h2 {
        margin-bottom: 16px;
    }
    .important-content {
        p {
            margin-left: 20px;
            margin-bottom: 16px;
        }
        li {
            margin-left: 20px;
            margin-bottom: 16px;
        }
    }
    div.sidebar-headed-list p {
        margin-left: 0;
    }
}

.s-lib-box-content .iconInsetList {
    img {
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 15px;
        margin-top: 2px;
    }
    ul,
    li {
        list-style: none;
    }
    li {
        margin-bottom: 24px;
    }
}

.inlineHeaderMoreLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
        display: inline-block;
        margin-left: 1em;
        margin-top: 12px;
        line-height: normal;
    }
}

//.s-lib-box .row:has(>div[mce_style="display:none"][style="display: block;"]) > #accor h4 a:after {
//    border: thin solid blue;
//    background-image: url($up-arrow)
//}
//
///* Lists - remove margins from lists to make sure spacing is equal
//some pages have multiple UL's, which makes spacing between UL's different to spacing between LI's in the lists
//*/
//ul,
//ol {
//    margin: 0 0 18px 8px;
//}
//
//.table {
//    & > thead {
//        & > tr {
//            & > th {
//                vertical-align: top;
//            }
//        }
//    }
//}
//
//.container,
//.container-fluid {
//    & > .navbar-header,
//    & > .navbar-collapse {
//        margin: 0 -15px;
//    }
//}
//
//.nav {
//    & > li {
//        & > a {
//            &:hover,
//            &:focus {
//                color: #007e9e;
//                text-decoration: none;
//                background-color: #fcfcfc;
//                outline: none;
//            }
//        }
//    }
//}
//
//.nav-pills {
//    & > li {
//        &.active {
//            & > a {
//                &,
//                &:hover,
//                &:focus {
//                    background-color: #007e9e !important;
//                }
//            }
//        }
//    }
//}
//
//.breadcrumb > .active {
//    color: #737373;
//}
//
///* little dropdown containing sub-menu items */
//.dropdown-menu {
//    position: absolute;
//    top: 100%;
//    z-index: 1000;
//    display: none;
//    float: left;
//    padding: 0 12px;
//    min-width: 10px;
//    font-size: 14px;
//    text-align: left;
//    list-style: none;
//    background-color: #fff;
//    background-clip: padding-box;
//    border: 1px solid rgba(0, 0, 0, 0.15);
//    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
//
//    & > li {
//        &:hover {
//            border-bottom: none;
//        }
//
//        & > a {
//            padding: 6px 0;
//        }
//    }
//
//    #s-lg-guide-tabs & {
//        padding-bottom: 1px;
//    }
//}
//
//.tabs {
//    height: 30px;
//    margin-bottom: 8px;
//
//    ul {
//        li {
//            margin-bottom: -1px;
//            margin-top: 2px;
//            margin-right: 4px;
//            border-radius: 2px 2px 0 0;
//            padding: 0 8px;
//            border-bottom: 4px solid #fcfcfc;
//            transition: all 0.1s ease;
//
//            &:hover {
//                color: #333 !important;
//                border-bottom: $nav-border;
//                transition: all 0.1s ease;
//            }
//
//            a {
//                color: #333 !important;
//                background: transparent !important;
//                background-color: transparent;
//                border: none !important;
//                font-weight: 400 !important;
//
//                &:hover {
//                    color: #000 !important;
//                }
//            }
//        }
//
//        .active {
//            border-bottom: $nav-border;
//
//            a {
//                span {
//                    font-weight: normal !important;
//                }
//            }
//        }
//    }
//}
//
//.panel-group {
//    .panel {
//        @extend %shadow;
//        border-radius: 2px;
//    }
//}
//
//.panel-default {
//    border-color: #ccc;
//
//    & > .panel-heading {
//        border-radius: 2px;
//        background-color: #fefefe;
//    }
//}
//
//#s-lib-bc .breadcrumb,
//#s-lib-admin-bc .breadcrumb {
//    font-weight: normal;
//    font-size: 12px;
//    padding-bottom: 6px;
//}
//
.s-lib-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: none;
    background-color: transparent;
}
//
//#s-lg-tabs-container {
//    padding-bottom: 1px;
//    margin-bottom: 10px;
//    border-bottom: 1px solid #ddd;
//
//    .nav-tabs,
//    .nav-pills {
//        & > li {
//            &.active {
//                & > a {
//                    border-left: $nav-border;
//                }
//            }
//
//            & > a {
//                @extend %navlinks;
//
//                &:hover {
//                    @extend %navlinks-hover;
//                }
//            }
//        }
//
//        & > .active {
//            & > a {
//                color: #333;
//                background: url('https://assets.library.uq.edu.au/reusable-components/resources/images/arrow-down.png')
//                    no-repeat scroll right 12px transparent;
//                font-weight: normal;
//                padding: 0.6em 0;
//                border-bottom: 1px solid #eee;
//
//                &:hover {
//                    color: #333;
//                    background-color: transparent;
//                    border-bottom: 1px solid #eee;
//                    font-weight: normal;
//                }
//            }
//        }
//    }
//
//    .nav-tabs {
//        & > li {
//            & > a.s-lg-tab-top-link,
//            & > button.s-lg-tab-top-link {
//                &,
//                &:hover {
//                    margin-bottom: -1px;
//                    margin-top: 2px;
//                    background-color: #ddd;
//                    border-radius: 5px 5px 0 0;
//                    font-weight: normal;
//                }
//            }
//        }
//    }
//
//    .nav-pills {
//        & > .active {
//            & > a {
//                &,
//                &:hover {
//                    border-left: $nav-border;
//                }
//            }
//
//            & > li {
//                & > a {
//                    &,
//                    &:hover {
//                        border-left: $nav-border;
//                    }
//                }
//            }
//        }
//
//        & > li {
//            &:not(.dropdown-menu) {
//                & > ul {
//                    & > li {
//                        a {
//                            border-bottom: 0 solid #eee;
//                        }
//                    }
//                }
//
//                & > a {
//                    &:hover {
//                        border-left: $nav-border;
//                    }
//                }
//            }
//
//            & > #s-lg-admin-tab-anchor {
//                background: none !important;
//            }
//
//            & > ul {
//                & > li {
//                    & > a {
//                        background: none !important;
//                    }
//                }
//            }
//        }
//    }
//
//    .dropdown {
//        & > .dropdown-toggle {
//            color: #333 !important;
//            font-weight: normal !important;
//
//            .caret {
//                display: inline-block;
//                border-top-color: black;
//            }
//
//            &:hover {
//                color: #333 !important;
//                font-weight: normal !important;
//            }
//        }
//    }
//
//    ul {
//        & > .active {
//            & > .active {
//                /* always bold the top-level selected menu item */
//                font-weight: bold !important;
//            }
//        }
//    }
//
//    .caret {
//        display: none;
//    }
//}
//
/* styles for enclosing side nav */
#s-lg-side-nav-content {
    &.container::before {
        content: none;
    }
    > .row {
        display: grid;
        gap: 0;
        grid-template-columns: var(--layout-sidebar-width) minmax(32px, 80px) minmax(667px, 1fr);
        margin-right: 0;
        margin-left: 0;
        &::before {
            content: none;
        }

        > div {
            width: unset;
            float: unset;
            padding-right: 0;
            padding-left: 0;
        }

        .s-lg-tabs-side {
            grid-column: 1 / span 1;
        }

        > div:last-child {
            grid-column: 3 / span 1;
        }
    }
}
// ipad and lower, content above sidebar
@media (max-width: 63.99em) {
    #s-lg-side-nav-content {
        > .row {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

.s-lib-box {
    border: none !important;
    box-shadow: none !important;
    margin-bottom: 0;
    padding: 0;
}
//
//#s-lg-guide-main {
//    padding: 0;
//}
//
#s-lib-scroll-top {
    display: none !important;
}
//
//#s-lg-guide-tabs-title-bar {
//    border: none !important;
//}
//
//.input-group-sm {
//    & > .form-control,
//    & > .input-group-addon {
//        border-radius: 2px !important;
//    }
//
//    & > .input-group-btn {
//        & > .btn {
//            border-radius: 2px !important;
//        }
//    }
//}
//
//#s-lg-guide-name {
//    font-size: 32px;
//}
//
.s-lg-srch-listing-meta,
.s-lib-box-content {
    li {
        margin-left: 15px;
        margin-bottom: 8px;
    }
}

#s-lg-col-1 h2:not(:first-of-type) {
    margin-top: 1.5rem;
}
#s-lg-col-1 h2 {
    margin-right: 0;
    margin-bottom: 1.5rem;
    margin-left: 0;
}
body:not(:has(.arrowPanel)) .s-lib-box-content {
    margin: 1rem 0 1.5rem 0;
}
body:not(:has(.arrowPanel)) .s-lib-box-content {
    padding: 0;
    margin: 0;
    ol {
        margin-left: 1.5rem;
    }
}
#s-lg-col-1 {
    h2.s-lib-box-title {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    h3,
    h4 {
        margin-top: 8px;
        margin-bottom: 16px;
    }

    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 16px;
    }
}
.guides_homepage {
    #s-lg-col-1 h3 {
        padding: 20px;
    }
}
//
//.ui-widget-content {
//    a {
//        color: #007e9e !important;
//    }
//}
//
//#s-lg-srch-results {
//    background-color: #fff;
//    border: 1px solid #ccc;
//    padding: 16px;
//    box-shadow: 0 2px 8px #ccc;
//}
//
//#s-lg-srch-nav {
//    display: none;
//}
//
ol,
ul,
.s-lg-link-list {
    margin-bottom: 24px;
    padding-left: 9px;
    padding-top: 0;
}
//
//.s-lib-profile-email {
//    .label.label-info {
//        color: #fff;
//        background-color: $button-color;
//        border: 1px solid $button-color;
//        font-weight: 400;
//        font-size: 1em !important;
//    }
//}
//
///* Front page: Hide info boxes with subject guide URL from subject list */
//#s-lib-public-main #s-lg-index-list #s-lg-general-accordion .alert-info {
//    display: none;
//}
//
///* Multi-level menu - display arrow-down to indicate a dropdown */
//#s-lg-guide-tabs {
//    .nav-tabs {
//        & > li {
//            margin-bottom: -1px;
//            margin-top: 2px;
//            background-color: #ddd;
//            border-radius: 5px 5px 0 0;
//        }
//    }
//
//    li {
//        &.dropdown {
//            padding-top: 5px;
//            padding-bottom: 6px;
//        }
//    }
//}
//
//#s-lg-hp-nav-bottom {
//    background-color: #fefefe;
//}
//
//#s-lg-hp-nav {
//    & > ul {
//        & > li {
//            @extend %shadow;
//        }
//    }

#s-lg-hp-nav-bottom {
    form {
        &[role='search'] {
            //                &.pull-right {
            //                    clear: both;
            //                    float: none !important;
            //                }
            //
            //                span {
            //                    padding-right: 10px;
            //                }
            //
            .form-group {
                width: 70%;
                @media (max-width: 768px) {
                    width: 100%;
                }
                //
                //                    .input-group {
                //                        width: 100%;
                //                    }
            }
            //
            //                .form-control,
            //                .s-lg-public-search-field {
            //                    width: 100%;
            //                }
            //
            .btn-default {
                color: #fff;
                background-color: $button-color;
                border: 1px solid $button-color;
            }
        }
    }
}
//}
//
//.uq-minimal-header {
//    .uq-title-text.uq-minimal-header,
//    .application-title a,
//    .library-title a {
//        font-size: 16px;
//        font-weight: 400;
//        line-height: 1.2;
//        @media only screen and (min-width: 642px) {
//            font-size: 20px;
//        }
//        @media only screen and (min-width: 1049px) {
//            font-size: 23px;
//        }
//    }
//}
//
//div.proactivechat {
//    uql-chat-proactive {
//        paper-card.popupinvite,
//        paper-button.button-colored-theme.tab-button.style-scope.uql-chat-proactive.x-scope.paper-button-0 {
//            font-size: 16px;
//            font-weight: normal;
//        }
//
//        paper-card.popupinvite {
//            p.uql-chat-proactive.style-scope {
//                font-size: 16px;
//                font-weight: normal;
//            }
//        }
//    }
//
//    h3 {
//        &.uql-chat-proactive {
//            font-weight: normal !important;
//        }
//    }
//}
//
//#rightNowChatLinkContainer {
//    #rightNowChatLinkInfo {
//        & > span {
//            background-color: $button-color;
//            font-weight: 400;
//        }
//    }
//}
//
//li.uql-global-links {
//    a.uql-global-links {
//        font-size: 10.4px;
//
//        ul.uql-global-links & {
//            font-size: 10px;
//            margin-right: 8px;
//        }
//    }
//}
//
//blockquote {
//    font-size: 16px;
//    margin-left: 1em;
//}
//
//#s-lg-tabs-container .nav-pills > li > a.s-lg-tab-top-link,
//#s-lg-tabs-container .nav-pills > li > a.s-lg-tab-top-link:hover {
//    font-weight: normal !important;
//}
//
//#s-lg-tabs-container .nav-pills > li > a.s-lg-tab-top-link:hover {
//    font-weight: normal !important;
//}
//
//ul.nav-tabs li {
//    &.active {
//        font-weight: bold;
//        max-width: 50%;
//    }
//    &:not(.active) a {
//        background-color: #eee;
//        border-bottom-color: rgb(221, 221, 221);
//        color: #000;
//    }
//}
//
//.s-lib-box-content {
//    div {
//        box-shadow: none !important;
//        background-color: #fff !important;
//    }
//    // when the pills wrap, put some vertical space between the rows
//    p:has(a.btn-secondary) {
//        line-height: 2.5;
//    }
//}

#s-lg-az-nav,
#s-lg-er-nav,
#s-lg-hp-nav,
#s-lg-profile-nav,
#s-lg-srch-nav {
    background-color: transparent;
}
#s-lg-hp-nav button.btn:focus {
    outline: none; // get rid of weird dashed outline
}

#s-lg-index-cols #s-lg-hp-nav {
    & > ul > li:first-of-type {
        // tabs: bar of buttons
        padding: 0;
        ul {
            margin-bottom: 0;
            & > li > button {
                background-color: white;
                color: $bodyCopy;
                font-size: 18px;
                padding: 0;
                margin: 0;
                &:hover {
                    text-decoration: underline;
                }
            }
            & > li.active > button {
                background-color: white;
                color: $uqBrandColour;
            }
        }
        li {
            border: 1px solid $borders;
            padding: 24px 32px;
            &.active {
                border-bottom: none;
            }
        }
    }
    & > ul > li:nth-of-type(2) {
        // tabs: displayed content panel
        border-width: 0 0 0 1px;
        border-style: solid;
        border-color: $borders;
    }
}
@media (max-width: 64rem) {
    #s-lg-index-cols #s-lg-hp-nav {
        & > ul > li:first-of-type {
            // tabs: bar of buttons
            li {
                padding: 16px 24px;
            }
        }
    }
}

.guides_homepage div h1:not(.hero-h1),
.guides_homepage > div.s-lib-box-container,
    .remove-h2 h2.s-lib-box-title // if the box has built in h2 tags which we want to replace with internal ones of our own, use .remove-h2
{
    display: none;
}

// put a gap below the footer box
.footer-box {
    margin-bottom: 3rem;
}
.footer-box h2 {
    margin-top: 72px;
    margin-bottom: 24px;
    @media (min-width: 75rem) {
        margin-left: -30px;
    }
    padding-left: 1rem;
}

// style grid of uq boxes
.uql-grid {
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 75rem) {
        margin-left: -30px;
    }
    .s-lib-box-container {
        //margin-top: 1.5rem;
        border: 1px solid $borders !important;
        border-radius: 4px;
        background-color: #fff;
        .s-lib-box-content h3 {
            margin-top: 0;
            //margin: 0 0 0 0;
        }
    }
    p {
        margin-top: 8px;
    }
    a {
        padding-inline: 1.5rem;
    }
    .s-lib-box-content {
        padding: 0;
        ul,
        ol {
            margin-left: 8px;
        }
        li {
            margin-block: 1rem;
        }
    }
}

.arrowPanel a {
    cursor: pointer;
    color: $uqBrandColour;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    &:focus-within,
    &:hover {
        background-color: $paneBackground !important;
        h3 {
            text-decoration: underline;
        }
        .panelBodyWrapper {
            background-color: $paneBackground !important;
        }
        div.arrowSvgWrapper {
            background-color: $paneBackground !important;
            color: $uqBrandColour;
        }
    }
    h3.cardHeading {
        font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 24px !important;
        font-weight: 500;
        letter-spacing: 0.16px;
        line-height: 1.2;
        margin-block: 8px;
    }
    p {
        font-size: 16px;
        margin-bottom: 0;
    }
    svg.arrowForwardIcon {
        display: block;
    }
}

.guides_homepage {
    .s-lib-box {
        .s-lib-box-content {
            padding: 0;
        }
    }
}

/* Default: mobile view, 1 column */
.uql-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

/* Tablet breakpoint - 2 columns */
@media (min-width: 640px) {
    .uql-grid {
        grid-template-columns: repeat(2, 1fr);
        a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .uql-grid {
        // enable the arrow sitting at the bottom of every box
        & > div > div > div > div > div > div,
        & > div > div > div > div > div,
        & > div > div > div > div,
        & > div > div > div,
        & > div > div,
        & > div,
        a {
            height: 100%;
        }
    }
}

/* Desktop breakpoint - 3 columns */
@media (min-width: 800px) {
    .uql-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }
}

/* Make boxes consistent height */
.uql-grid {
    .s-lib-box {
        height: 100%;
    }
    .s-lib-box-content {
        flex-grow: 1;
    }
}
@media (min-width: 848px) {
    .uql-grid a {
        &:focus-within,
        &:hover {
            h3 {
                text-decoration: underline;
            }
        }
    }
    @media (prefers-reduced-motion: no-preference) {
        .uql-grid a svg.arrowForwardIcon {
            transition: margin-left 200ms ease-in-out;
        }
        .uql-grid {
            a:focus-within,
            a:hover {
                svg.arrowForwardIcon {
                    margin-left: 10px;
                    transition: margin-left 200ms ease-in-out;
                }
            }
        }
    }
}
@media (max-width: 640px) {
    .uql-grid a {
        display: flex;
        justify-content: space-between;
        text-decoration: none !important;
    }
    .arrowPanel:not(.arrowPanelWithIcon) a {
        padding: 24px;
    }
    a {
        padding-top: 16px;
        padding-bottom: 8px;
    }
    a div.panelBodyWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .uql-grid p {
        display: none;
    }
    .uql-grid .arrowPanel a {
        h3.cardHeading {
            margin-block: 0;
        }
    }
    .arrowPanel.arrowPanelWithIcon a {
        h3.cardHeading {
            margin-left: 24px;
        }
        .arrowSvgWrapper {
            align-self: center;
        }
    }
}
@media (min-width: 640px) {
    .uql-grid a {
        text-decoration: none !important;
        padding: 24px;
    }
    .uql-grid .arrowSvgWrapper {
        margin-top: 24px;
    }
    .arrowSvgWrapper {
        margin-top: auto;
        align-self: flex-start;
    }
}
/// after we move the hero, we get left with this empty div that takes up a bit of vertical space
div:has(> h1#s-lib-public-header-title:empty) {
    display: none;
    height: 0;
}

/* left navigation sidebar, on individual guide pages, styled to look like drupal sidebar */
#s-lg-tabs-container {
    .nav-pills {
        li:not(:has(li)) {
            border-bottom: 1px solid rgb(220, 220, 221);
        }
        > li {
            display: block;
            color: $black;
            -webkit-text-decoration: none;
            text-decoration: none;
            font-weight: 400;
            &.uq-local-nav__grandparent {
                border-bottom: 1px solid rgb(59, 56, 62);
            }
            > a:focus,
            > a:hover {
                background-color: $paneBackground;
                font-weight: 500;
            }
            &:not(.dropdown-menu) > a:hover {
                padding: 16px 24px 16px 32px;
                transition: color 0.2s ease-out, text-decoration 0.2s ease-out, background-color 0.2s ease-out;
                font-weight: 400;
            }
            &:not(.active) a {
                background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m7 10 5 5 5-5' stroke='%2319151c' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-size: 24px;
                background-position: right center;
                padding-inline-end: 1.5rem;
            }
            &.active {
                border-left: 4px solid $uqBrandColour;
                margin-left: 0;
                > a {
                    background-color: $paneBackground;
                    font-weight: 500;
                    padding-left: 32px;
                }
                a ul {
                    padding-left: 24px;
                }
                > a,
                > a:hover {
                    padding: 16px 24px 16px 32px;
                }
                > a,
                > a > span {
                    cursor: default !important; // so the current link doesnt look clickable
                }
            }
        }
        > .active > a,
        > .active > a:hover,
        > .active > li > a,
        > .active > li > a:hover,
        > li.active > a,
        > li:not(.dropdown-menu) > a:hover {
            border-left: none;
            border-top: none;
            border-bottom: none;
            background-color: $paneBackground;
        }
    }
    .nav-tabs > li.active > a {
        border-left: none;
        border-top: none;
        border-bottom: none;
        background-color: $paneBackground;
    }
    .nav-tabs > li > a,
    .nav-pills > li > a {
        padding-block: 1rem;
        padding-block-start: 1rem;
        padding-block-end: 1rem;
        padding-inline-start: 2rem;
        border: none;
        border-radius: 0;
    }
    .nav.nav-pills > li a {
        -webkit-text-decoration: none !important;
        text-decoration: none !important;
        display: block;
    }
}
#s-lg-guide-tabs .s-lg-tabs-side .nav .dropdown a {
    padding-block: 1rem;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-start: 2rem;
    border: none;
    border-radius: 0;
}
.uq-local-nav {
    max-width: 261px;
    margin-bottom: 6rem;
}

.uq-local-nav__link {
    display: block;
    color: $black;
    padding-block: 1rem;
    padding-inline-start: 2rem;
    border-bottom: 1px solid $borders;
}

.uq-local-nav__link:hover {
    color: $black;
    background-color: $paneBackground;
    transition: color 0.2s ease-out, text-decoration 0.2s ease-out, background-color 0.2s ease-out;
}

.uq-local-nav__link:focus-visible {
    outline: 4px solid $utility-500;
    outline-offset: -3px;
}

.uq-local-nav__grandparent a,
.uq-local-nav__parent a {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m15 5-7 7 7 7' stroke='%2351247a' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: left center;
    font-weight: 500;
}

.uq-local-nav__grandparent .uq-local-nav__link {
    border-color: $grey-900;
}

.uq-local-nav__grandparent .uq-local-nav__link,
.uq-local-nav__parent .uq-local-nav__link {
    text-decoration: none !important;
}

.uq-local-nav__children,
.uq-local-nav__grandchildren {
    list-style: none;
    margin: 0;
    padding: 0;
}

.uq-local-nav__child,
.uq-local-nav__grandchild {
    margin-bottom: 0;
}

.uq-local-nav__grandchild .uq-local-nav__link {
    padding-inline: 2.5rem;
}

.uq-local-nav--current-child {
    border-left: 4px solid $uqBrandColour;
    margin-top: -1px;
}

.uq-local-nav--current-child > .uq-local-nav__link {
    border-top: 1px solid $borders;
    padding-inline: calc(2rem - 4px) 0;
}

.uq-local-nav--active-link {
    background-color: $paneBackground;
    font-weight: 500;
}

.uq-local-nav--has-children > .uq-local-nav__link {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m7 10 5 5 5-5' stroke='%2319151c' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right center;
    padding-inline-end: 1.5rem;
}

.uq-local-nav--has-children > .uq-local-nav--active-link {
    background-image: none;
}

.s-lg-tabs-side .s-lg-boxnav {
    margin-top: 0;
}

.s-lg-tabs-side .s-lg-boxnav .list-group-item {
    background-color: #fff;
    border: none;
    padding: 0;
    margin: 0;
}
.s-lg-tabs-side .s-lg-boxnav .list-group-item a {
    color: $black;
    font-weight: 400;
    padding: 1rem 0 1rem 2.5rem;
}
.list-group-item a:hover {
    background-color: $paneBackground;
    transition: color 0.2s ease-out, text-decoration 0.2s ease-out, background-color 0.2s ease-out;
}
.list-group.s-lg-boxnav {
    margin-left: 0;
    border-top: 1px solid rgb(220, 220, 221);
}
.list-group.s-lg-boxnav a:hover {
    background-color: $paneBackground;
    transition: color 0.2s ease-out, text-decoration 0.2s ease-out, background-color 0.2s ease-out;
}

.nav-stacked > li + li {
    margin-top: 0;
}

.accessibility-only {
    height: 0;
    color: #fff;
    margin: 0;
    &:focus {
        height: auto;
        color: $heading;
        margin: 0 0 2rem -1.5rem;
    }
}

/* the following should be temporary: override built in css on guides individual page - update springshare html template for golive */
#s-lg-tabs-container .nav-pills > li.active > a {
    background-color: $paneBackground !important;
}
#s-lg-tabs-container .nav-pills > li > ul > li:has(> a:hover) {
    background-color: $paneBackground !important;
}
.uql-az-index {
    :focus-visible {
        outline: 4px solid #0d6dcd;
        outline-offset: -1px;
    }
    display: flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 24px;
    .uq-pagination ul {
        gap: 3.5px;
    }
    .uq-pagination__list-item a.uq-pagination__item {
        &:not([href]):empty,
        &[href='']:empty,
        &:not([href]),
        &[href=''] {
            color: grey;
            text-decoration: none !important;
            &:hover {
                background-color: transparent;
            }
        }
    }
    .uq-pagination__list,
    .uq-pagination ul {
        flex-wrap: wrap;
        justify-content: center;
        margin-inline: auto;
    }
}

.container.s-lib-side-borders .row.s-lg-row {
    /* sidebar menu */
    display: flex;
    column-gap: 32px;
    justify-content: space-between;
    margin-left: -32px;
    margin-right: -32px;
    > div {
        padding: 0;
    }
    @media (max-width: 768px) {
        flex-direction: column-reverse;
        > div:first-child {
            /* sidebar */
            margin-inline: 16px;
            margin-top: 32px;
            .uq-local-nav {
                max-width: 100%;
            }
        }
        > div:last-child {
            /* body */
            margin-inline: 16px;
        }
    }
}

// Previous-Next buttons at the bottom of guides that have sibling articles in the sidebar menu
#s-lg-page-prevnext.pager {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2.5rem -1.5rem 2.5rem 1.5rem;
    @media (max-width: 1200px) {
        margin-right: -1.2rem; // dont slam it hard again the edge
    }

    &::before {
        content: none;
    }

    li.previous > a,
    li.previous > span,
    li.next > a,
    li.next > span {
        float: none;
    }
    li.previous {
        text-align: left;
        & > a,
        & > span {
            margin-left: -1.5rem;
            text-align: left;
            margin-right: 0;
        }
    }
    li.next {
        text-align: right;
        & > a,
        & > span {
            text-align: right;
        }
    }
    li > a,
    li > span {
        color: $uqBrandColour;
        background-color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
        border-radius: 0.25rem;
        font-family: $font;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
        padding: 1rem 1.5rem;
        transition: background-color 200ms ease-out, color 200ms ease-out, border 200ms ease-out;
        text-decoration: underline;
    }
    li > a:focus,
    li > a:hover {
        background-color: $uqBrandColour;
        border-color: $uqBrandColour;
        color: #fff;
        text-decoration: underline;
    }
}

// 3 styles of boxes, info, alert & callout
.s-lib-box-content {
    &:has(.highlight-info),
    &:has(.highlight-alert),
    &:has(.highlight-callout) {
        margin: 0 !important;
        padding: 0 !important;
    }
}
.s-lib-box.s-lib-box-std {
    &:has(.highlight-info),
    &:has(.highlight-alert),
    &:has(.highlight-callout) {
        margin: 0 !important;
        padding: 0 !important;
    }
}
.s-lib-box.s-lib-box-std:has(.replace-springshare-h2) {
    h2:not(.replace-springshare-h2) {
        display: none;
    }
}
.s-lib-box .highlight-info {
    background-color: $utility-50;
    * {
        background-color: $utility-50 !important;
    }
}
.s-lib-box .highlight-alert {
    background-color: $warning-50;
    * {
        background-color: $warning-50 !important;
    }
}
.s-lib-box .highlight-callout {
    background-color: $grey-50;
    * {
        //background-color: $grey-50 !important;
    }
}
.s-lib-box .highlight-info,
.s-lib-box .highlight-alert,
.s-lib-box .highlight-callout {
    border-radius: 2px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    padding: 1.5rem;
    position: relative;
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $black;
        margin-top: 0 !important;
        margin-bottom: 0.5rem;
    }
    > h2:first-child,
    > h3:first-child,
    > h4:first-child,
    > h5:first-child,
    > h6:first-child {
        margin-top: 0;
    }
    h2 {
        padding: 0 !important;
        margin-bottom: 1rem !important;
    }
    p {
        margin-bottom: 1rem !important;
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    ul,
    ol {
        padding: 0 0 0 1.5rem;
        margin: 0 0 1.5rem 0;
        li {
            margin: 0 0 0.5rem 0;
            padding: 0;
        }
    }
}
.s-lib-box .highlight-info,
.s-lib-box .highlight-alert {
    padding: 1.5rem 4rem;
    margin: 0 0 1.5rem 0;
    h2 {
        margin: 0;
        padding: 0 !important;
        line-height: 1;
    }
    &::before {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100%;
        content: '';
        display: block;
        height: 1.5rem;
        left: 1.5rem;
        position: absolute;
        top: 1.5rem;
        width: 1.5rem;
    }
}
.s-lib-box .highlight-info::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns= 'http://www.w3.org/2000/svg' width= '24' height= '24' fill= 'none' %3E%3Ccircle cx= '12' cy= '12' r= '9.25' stroke= '%23000' stroke-width= '1.5' transform= 'rotate(-180 12 12)' /%3E%3Cpath stroke= '%23000' stroke-linecap= 'round' stroke-width= '1.5' d= 'M12 16.2v-4' /%3E%3Ccircle cx= '12' cy= '8.4' r= '1.1' fill= '%23000' transform= 'rotate(-180 12 8.4)' /%3E%3C/svg%3E");
}
.s-lib-box .highlight-alert::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%23000' stroke-width='1.5' d='M20.127 18.545a1.18 1.18 0 0 1-1.055 1.706H4.929a1.18 1.18 0 0 1-1.055-1.706l7.072-14.143a1.179 1.179 0 0 1 2.109 0z'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-width='1.5' d='M12 9v4'/%3E%3Ccircle cx='11.9' cy='16.601' r='1.1' fill='%23000'/%3E%3C/svg%3E");
}

// a-z box
html {
    scroll-behavior: smooth;
}
.can-scroll-to-top {
    padding-bottom: 50px;
    .s-lib-box.s-lib-box-std {
        position: relative;
        display: flex;
        justify-content: flex-start;

        .h2-arrow-wrapper {
            /* position: absolute; */
            margin-top: 1rem;
            margin-right: 0.5rem;
            display: flex;
            justify-content: flex-start;

            .uparrow {
                display: block;
                width: 30px;
                height: 30px;
            }

            a.uparrow {
                background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27m1.715 10.855 6-6.168a.41.41 0 0 1 .597 0l5.973 6.168%27 fill=%27none%27 stroke=%27%23000%27 stroke-width=%27.75%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27%3e%3c/path%3e%3c/svg%3e');
                background-repeat: no-repeat;
                /* TODO hover and focus */
            }

            a.uparrow:focus-within,
            a.uparrow:hover {
                background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27%3e%3cpath d=%27m1.715 10.855 6-6.168a.41.41 0 0 1 .597 0l5.973 6.168%27 fill=%27none%27 stroke=%27%23fff%27 stroke-width=%27.75%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27%3e%3c/path%3e%3c/svg%3e');
            }

            h2 {
                color: $heading;
                font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.2;
            }
        }

        .s-lib-box-content {
            padding: 0;
        }
    }
}

.btn {
    &.btn-primary,
    &.btn-secondary,
    &.btn-success,
    &.btn-danger,
    &.btn-warning,
    &.btn-info,
    &.btn-light,
    &.btn-dark,
    &.btn-link {
        background-color: $purple-500 !important;
        border: 2px solid $purple-500;
        border-radius: $space-xs;
        box-sizing: border-box;
        color: $white;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: $space-s;
        font-family: $roboto;
        font-size: $font-size-m;
        font-weight: $font-weight-medium;
        line-height: $line-height-ui;
        padding: $space-m $space-l;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: background-color 200ms ease-out, color 200ms ease-out, border 200ms ease-out;

        background-image: none; // override bootstrap
        &:hover {
            background-color: #fff !important;
            border-color: $uqBrandColour;
            color: $uqBrandColour;
            text-decoration: underline;
        }
        &:focus {
            outline: 2px solid $utility-500;
            outline-offset: 0;
        }
    }
    &.btn-secondary {
        background-color: rgba(0, 0, 0, 0) !important;
        border-color: $uqBrandColour;
        color: $uqBrandColour;
        &:hover {
            background-color: $uqBrandColour !important;
            border-color: #51247a;
            color: #fff;
        }
    }
}

table.table.table-bordered {
    border-collapse: collapse;
    margin-bottom: 1.5rem;
    width: 100%;
    th {
        background-color: $grey-50;
        color: $black;
        font-weight: $font-weight-bold;
        text-align: left;
    }
    td,
    th {
        padding: 0.75rem 1rem;
        vertical-align: top;
    }
    tbody td,
    tbody th {
        border-bottom: 1px solid $grey-300;
    }
    td :last-child {
        margin-bottom: 0;
    }
    tbody tr:first-child th.ck_border,
    thead th.ck_border {
        border: inherit !important;
    }
}

// youtube videos should be 100% width https://stackoverflow.com/a/78418428/1246313
div:has(> iframe[title='YouTube video player']) {
    width: 100%;
    aspect-ratio: 16 / 9;
}
iframe[title='YouTube video player'] {
    width: 100%;
    height: 100%;
}
