// css to overwrite production where needed
// uneeded on golive
@import 'production-reset';

// styles imported from uq css files
@import 'uqaccordion';
@import 'uqcard';
@import 'uqhero';

$purple500: #51247a;
$grey50: #f3f3f4; // Background colour to highlight sections, cards or panes
$grey200: #dcdcdd; // border colour
$grey900: #3b383e; // Body copy
$black: #19151c; // Heading colour
$utility500: #0d6dcd; // focus state

$uqBrandColour: $purple500;
$bodyCopy: $grey900;
$heading: $grey900;
$borders: $grey200;
$paneBackground: $grey50;

$font: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$nav-border: 4px solid $uqBrandColour;
$page-background-color: #fff;
$button-color: $uqBrandColour;

$down-arrow: "data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath d=%22M16.59 8.59 12 13.17 7.41 8.59 6 10l6 6 6-6z%22/%3E%3C/svg%3E";
$up-arrow: "data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath d=%22m12 8-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z%22/%3E%3C/svg%3E";

* {
    box-shadow: none !important;
}

.s-lib-box .s-lib-box-title {
    padding: 0 9px 12px 9px;
    background: #fff !important;
    border-bottom: none;
}
#col2 .s-lib-box .s-lib-box-title {
    padding-left: 0;
}


/* legacy, in case someone fogets they shouldn't use this */
.important-content {
    border: 1px solid $borders;
    padding: 1rem 1rem 1rem 2.8rem;
    margin: 0;
}

.important-exclamation-content {
    border: 1px solid $borders;
    padding: 1rem 1rem 1rem 5rem;
    background-image: url(https://libapps-au.s3-ap-southeast-2.amazonaws.com/customers/720/images/alert-circle.png);
    background-position: left;
    background-repeat: no-repeat;
    margin: 0;
}
//
//.s-lib-featured-profile-container {
//    width: 160px;
//    height: 200px;
//    margin: 0px 10px 20px 10px !important;
//}
//
//.ui-widget-content a {
//    color: $uqBrandColour !important;
//}
//
//.s-lib-box-content .ui-widget {
//    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
//}
//
//.nav-pills > li.active > a,
//.nav-pills > li.active > a:focus,
//.nav-pills > li.active > a:hover {
//    background-color: #d7d1cc !important;
//}
//
//#s-lg-guide-tabs .s-lg-tabs-side .nav .dropdown a,
//#s-lg-tabs-container .nav-pills > li > a,
//#s-lg-tabs-container .nav-tabs > li > a {
//    border-radius: 0 2px 2px 0 !important;
//    font-size: 14px/1.2;
//    cursor: pointer;
//    color: #000 !important;
//    margin: 0 0 1px;
//    background: url(https://assets.library.uq.edu.au/reusable-components/resources/images/arrow-right.png) right 12px
//        no-repeat;
//    padding: 10px;
//    border-left: 0 none transparent !important;
//}
//
//#s-lg-tabs-container .nav-pills > .active > a,
//#s-lg-tabs-container .nav-pills > .active > a:hover,
//#s-lg-tabs-container .nav-pills > .active > li > a,
//#s-lg-tabs-container .nav-pills > .active > li > a:hover,
//#s-lg-tabs-container .nav-pills > li.active > a,
//#s-lg-tabs-container .nav-pills > li:not(.dropdown-menu) > a:hover,
//#s-lg-tabs-container .nav-tabs > li.active > a {
//    border-left: 0 none transparent !important;
//    padding: 10px;
//}
//
//#s-lg-tabs-container .nav-pills > li > a:hover {
//    background: #999490;
//}
//
//%navlinks {
//    border-radius: 0 2px 2px 0 !important;
//    background: #eee;
//    font-size: 14px/1.2;
//    cursor: pointer;
//    color: #2662e3;
//    border-bottom: 1px solid #eee;
//    margin: 0 0 1px 0;
//    background: url('https://assets.library.uq.edu.au/reusable-webcomponents-staging/applications/libguides/arrow-right.png')
//        no-repeat scroll right 12px transparent;
//    padding: 0.6em 0;
//}
//
//%navlinks-hover {
//    background-color: transparent;
//    border-bottom: 1px solid #eee;
//}
//
//%shadow {
//    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
//}
//
//@mixin hover-style($color) {
//    background: transparent;
//    border-bottom: 4px solid $color !important;
//    transition: all 0.1s ease;
//}

* {
    margin: 0;
    padding: 0;
}

#s-lib-public-main,
#s-lib-bc-list {
    @media screen and (max-width: 790px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

html,
body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0 !important;
}

body {
    font-family: $font;
    font-weight: 400;
    background: $page-background-color;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: $bodyCopy;
    -webkit-font-smoothing: antialiased;
}
//
//.s-lg-admin-command-bar,
//ul.navbar-nav {
//    font-size: 12px !important;
//}
//
///* 'body' to overwrite inbuilt springshare styles... */

body h1,
body #s-lg-guide-header-info h1,
body .s-lib-header h1 {
    font-family: Montserrat, $font;
    font-size: 2.5rem;
    color: $heading;
    font-weight: 500;
    line-height: 1.2;
}

.s-lib-header {
    margin-top: 35px;
}
#s-lib-public-header {
    margin-top: 0;
    height: 0;
    padding-bottom: 0;
}

body h2 {
    font-size: 2rem;
    font-family: $font;
    color: $heading;
    font-weight: 500;
    line-height: 1.2;
}

body .s-lib-box-container > div.s-lib-box > h2 {
    font-size: 2rem;
    font-family: $font;
    color: $heading;
    font-weight: 500;
    line-height: 1.2;
    //padding-left: 0;
}
h3,
body h3,
body .s-lib-box-container .s-lib-box-content h3 {
    font-size: 1.5rem;
    font-family: $font;
    color: $heading;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 24px;
}
h4,
body h4,
.row #accor h4,
body .s-lib-box-container .s-lib-box-content h4 {
    font-size: 1.25rem;
    font-family: $font;
    color: $heading;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 24px;
}
h5, body h5 {
    font-size: 1.125rem;
    font-family: $font;
    color: $heading;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 24px;
}
h6, body h6 {
    font-size: 1rem;
    font-family: $font;
    color: $heading;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 24px;
}

#s-lib-footer-login-link a, #s-lib-footer-support-link a,
a {
    color: $uqBrandColour;
    text-decoration: underline;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-weight: 500;
    &:hover,
    &:focus {
        background-color: $uqBrandColour;
        color: #fff;
        text-decoration: underline;
    }
    &.bold {
        font-weight: 500;
        margin-left: 1em;
    }
}
p:has(> img) {
    margin-bottom: 0;
}
p:not(:has(> img)) {
    margin-bottom: 24px;
}
p {
    font-weight: 400;
    padding-bottom: 0;
    color: $bodyCopy;
}

ul.s-lg-guide-list {
    padding-left: 16px;
    li {
        padding-block: 5px;
        border-bottom: none;
        list-style: disc;
    }
}

.s-lib-box .row #accor {
    border-radius: 0;
    background-image: none;
    h4 a {
        color: $grey900 !important; // TODO: remove inline style 'color:#51247A;' from toggle opener pon subject guides landing page!!!
    }
    h4 a:hover {
        text-decoration: underline;
        color: $grey900;
        background-color: transparent;
    }
    h4 a:focus {
        color: $grey900;
        background-color: transparent;
    }
}
.uql-grid .s-lib-box-content {
    padding-left: 0;
}

// page layout, right column
body:not(.guides_homepage) #s-lg-index-cols {
    margin-left: 0;
    margin-right: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    #col1, #col2 {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        ul, ol {
            margin-bottom: 24px;
        }
    }
}
.container,
.s-lib-main {
    padding-top: 0;
}
@media (min-width: 37.5rem) {
    .container,
    .s-lib-main {
        max-width: none;
    }
}
@media (min-width: 64rem) {
    body:not(.guides_homepage) #s-lg-index-cols {
        display: grid;
        column-gap: 32px;
        grid-template-columns: 0 1fr 296px;
        padding: 0;
    }
    .container,
    .s-lib-main {
        padding-left: .75rem;
        padding-right: .75rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 71em;
        width: auto;
    }
    #col1 {
        margin-left: -30px;
    }
}
@media (min-width: 75rem) {
    body:not(.guides_homepage) #s-lg-index-cols {
        grid-template-columns: 0 1fr 308px;
        margin-inline: -30px;
    }
    .container,
    .s-lib-main {
        padding-left: unset;
        padding-right: unset;
    }
}
@media (min-width: 768px) {
    .container {
        width: unset;
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media (min-width: 1165px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

#col2 {
    .s-lib-box-content {
        padding: 0;
    }
    h2 {
        margin-bottom: 16px;
    }
    .important-content {
        p {
            margin-left: 20px;
            margin-bottom: 16px;
        }
        li {
            margin-left: 20px;
            margin-bottom: 16px;
        }
    }
    div.sidebar-headed-list p {
        margin-left: 0;
    }
}

.s-lib-box-content .iconInsetList {
    img {
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 15px;
        margin-top: 2px;
    }
    ul,
    li {
        list-style: none;
    }
    li {
        margin-bottom: 24px;
    }
}

.inlineHeaderMoreLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
        display: inline-block;
        margin-left: 1em;
        margin-top: 12px;
        line-height: normal;
    }
}


//.s-lib-box .row:has(>div[mce_style="display:none"][style="display: block;"]) > #accor h4 a:after {
//    border: thin solid blue;
//    background-image: url($up-arrow)
//}
//
///* Lists - remove margins from lists to make sure spacing is equal
//some pages have multiple UL's, which makes spacing between UL's different to spacing between LI's in the lists
//*/
//ul,
//ol {
//    margin: 0 0 18px 8px;
//}
//
//.table {
//    & > thead {
//        & > tr {
//            & > th {
//                vertical-align: top;
//            }
//        }
//    }
//}
//
//.container,
//.container-fluid {
//    & > .navbar-header,
//    & > .navbar-collapse {
//        margin: 0 -15px;
//    }
//}
//
//.nav {
//    & > li {
//        & > a {
//            &:hover,
//            &:focus {
//                color: #007e9e;
//                text-decoration: none;
//                background-color: #fcfcfc;
//                outline: none;
//            }
//        }
//    }
//}
//
//.nav-pills {
//    & > li {
//        &.active {
//            & > a {
//                &,
//                &:hover,
//                &:focus {
//                    background-color: #007e9e !important;
//                }
//            }
//        }
//    }
//}
//
//.breadcrumb > .active {
//    color: #737373;
//}
//
///* little dropdown containing sub-menu items */
//.dropdown-menu {
//    position: absolute;
//    top: 100%;
//    z-index: 1000;
//    display: none;
//    float: left;
//    padding: 0 12px;
//    min-width: 10px;
//    font-size: 14px;
//    text-align: left;
//    list-style: none;
//    background-color: #fff;
//    background-clip: padding-box;
//    border: 1px solid rgba(0, 0, 0, 0.15);
//    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
//
//    & > li {
//        &:hover {
//            border-bottom: none;
//        }
//
//        & > a {
//            padding: 6px 0;
//        }
//    }
//
//    #s-lg-guide-tabs & {
//        padding-bottom: 1px;
//    }
//}
//
//.tabs {
//    height: 30px;
//    margin-bottom: 8px;
//
//    ul {
//        li {
//            margin-bottom: -1px;
//            margin-top: 2px;
//            margin-right: 4px;
//            border-radius: 2px 2px 0 0;
//            padding: 0 8px;
//            border-bottom: 4px solid #fcfcfc;
//            transition: all 0.1s ease;
//
//            &:hover {
//                color: #333 !important;
//                border-bottom: $nav-border;
//                transition: all 0.1s ease;
//            }
//
//            a {
//                color: #333 !important;
//                background: transparent !important;
//                background-color: transparent;
//                border: none !important;
//                font-weight: 400 !important;
//
//                &:hover {
//                    color: #000 !important;
//                }
//            }
//        }
//
//        .active {
//            border-bottom: $nav-border;
//
//            a {
//                span {
//                    font-weight: normal !important;
//                }
//            }
//        }
//    }
//}
//
//.panel-group {
//    .panel {
//        @extend %shadow;
//        border-radius: 2px;
//    }
//}
//
//.panel-default {
//    border-color: #ccc;
//
//    & > .panel-heading {
//        border-radius: 2px;
//        background-color: #fefefe;
//    }
//}
//
//#s-lib-bc .breadcrumb,
//#s-lib-admin-bc .breadcrumb {
//    font-weight: normal;
//    font-size: 12px;
//    padding-bottom: 6px;
//}
//
.s-lib-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: none;
    background-color: transparent;
}
//
//#s-lg-tabs-container {
//    padding-bottom: 1px;
//    margin-bottom: 10px;
//    border-bottom: 1px solid #ddd;
//
//    .nav-tabs,
//    .nav-pills {
//        & > li {
//            &.active {
//                & > a {
//                    border-left: $nav-border;
//                }
//            }
//
//            & > a {
//                @extend %navlinks;
//
//                &:hover {
//                    @extend %navlinks-hover;
//                }
//            }
//        }
//
//        & > .active {
//            & > a {
//                color: #333;
//                background: url('https://assets.library.uq.edu.au/reusable-webcomponents-staging/applications/libguides/arrow-down.png')
//                    no-repeat scroll right 12px transparent;
//                font-weight: normal;
//                padding: 0.6em 0;
//                border-bottom: 1px solid #eee;
//
//                &:hover {
//                    color: #333;
//                    background-color: transparent;
//                    border-bottom: 1px solid #eee;
//                    font-weight: normal;
//                }
//            }
//        }
//    }
//
//    .nav-tabs {
//        & > li {
//            & > a.s-lg-tab-top-link,
//            & > button.s-lg-tab-top-link {
//                &,
//                &:hover {
//                    margin-bottom: -1px;
//                    margin-top: 2px;
//                    background-color: #ddd;
//                    border-radius: 5px 5px 0 0;
//                    font-weight: normal;
//                }
//            }
//        }
//    }
//
//    .nav-pills {
//        & > .active {
//            & > a {
//                &,
//                &:hover {
//                    border-left: $nav-border;
//                }
//            }
//
//            & > li {
//                & > a {
//                    &,
//                    &:hover {
//                        border-left: $nav-border;
//                    }
//                }
//            }
//        }
//
//        & > li {
//            &:not(.dropdown-menu) {
//                & > ul {
//                    & > li {
//                        a {
//                            border-bottom: 0 solid #eee;
//                        }
//                    }
//                }
//
//                & > a {
//                    &:hover {
//                        border-left: $nav-border;
//                    }
//                }
//            }
//
//            & > #s-lg-admin-tab-anchor {
//                background: none !important;
//            }
//
//            & > ul {
//                & > li {
//                    & > a {
//                        background: none !important;
//                    }
//                }
//            }
//        }
//    }
//
//    .dropdown {
//        & > .dropdown-toggle {
//            color: #333 !important;
//            font-weight: normal !important;
//
//            .caret {
//                display: inline-block;
//                border-top-color: black;
//            }
//
//            &:hover {
//                color: #333 !important;
//                font-weight: normal !important;
//            }
//        }
//    }
//
//    ul {
//        & > .active {
//            & > .active {
//                /* always bold the top-level selected menu item */
//                font-weight: bold !important;
//            }
//        }
//    }
//
//    .caret {
//        display: none;
//    }
//}
//
///* styles for enclosing side nav */
//.s-lg-tabs-side {
//    & > .nav {
//        background: #fff;
//        border: none;
//        padding: 0 0 0 16px;
//        margin: 1.5em 0;
//        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
//    }
//
//    #s-lg-guide-tabs & {
//        .nav {
//            .dropdown {
//                a {
//                    @extend %navlinks;
//
//                    &:hover {
//                        @extend %navlinks-hover;
//                    }
//                }
//            }
//        }
//    }
//
//    .s-lg-boxnav {
//        .list-group-item {
//            background-color: #eee;
//        }
//    }
//}
//
.s-lib-box {
    border: none !important;
    box-shadow: none !important;
    margin-bottom: 0;
}
//
//#s-lg-guide-main {
//    padding: 0;
//}
//
#s-lib-scroll-top {
    display: none !important;
}
//
//#s-lg-guide-tabs-title-bar {
//    border: none !important;
//}
//
//.input-group-sm {
//    & > .form-control,
//    & > .input-group-addon {
//        border-radius: 2px !important;
//    }
//
//    & > .input-group-btn {
//        & > .btn {
//            border-radius: 2px !important;
//        }
//    }
//}
//
//#s-lg-guide-name {
//    font-size: 32px;
//}
//
.s-lg-srch-listing-meta,
.s-lib-box-content {
    li {
        margin-left: 15px;
        margin-bottom: 8px;
    }
}
//
#s-lg-col-1 h2,
body:not(.guides_homepage) .s-lib-box-content {
    padding: 20px;
}
.guides_homepage {
    #s-lg-col-1 h3 {
        padding: 20px;
    }
}
//
//.ui-widget-content {
//    a {
//        color: #007e9e !important;
//    }
//}
//
//#s-lg-srch-results {
//    background-color: #fff;
//    border: 1px solid #ccc;
//    padding: 16px;
//    box-shadow: 0 2px 8px #ccc;
//}
//
//#s-lg-srch-nav {
//    display: none;
//}
//
//.s-lg-link-list {
//    padding-left: 0;
//}
//
//.s-lib-profile-email {
//    .label.label-info {
//        color: #fff;
//        background-color: $button-color;
//        border: 1px solid $button-color;
//        font-weight: 400;
//        font-size: 1em !important;
//    }
//}
//
///* Front page: Hide info boxes with subject guide URL from subject list */
//#s-lib-public-main #s-lg-index-list #s-lg-general-accordion .alert-info {
//    display: none;
//}
//
///* Multi-level menu - display arrow-down to indicate a dropdown */
//#s-lg-guide-tabs {
//    .nav-tabs {
//        & > li {
//            margin-bottom: -1px;
//            margin-top: 2px;
//            background-color: #ddd;
//            border-radius: 5px 5px 0 0;
//        }
//    }
//
//    li {
//        &.dropdown {
//            padding-top: 5px;
//            padding-bottom: 6px;
//        }
//    }
//}
//
//#s-lg-hp-nav-bottom {
//    background-color: #fefefe;
//}
//
//#s-lg-hp-nav {
//    & > ul {
//        & > li {
//            @extend %shadow;
//        }
//    }

    #s-lg-hp-nav-bottom {
        form {
            &[role='search'] {
//                &.pull-right {
//                    clear: both;
//                    float: none !important;
//                }
//
//                span {
//                    padding-right: 10px;
//                }
//
                .form-group {
                    width: 70%;
                    @media (max-width: 768px) {
                        width: 100%;
                    }
//
//                    .input-group {
//                        width: 100%;
//                    }
                }
//
//                .form-control,
//                .s-lg-public-search-field {
//                    width: 100%;
//                }
//
                .btn-default {
                    color: #fff;
                    background-color: $button-color;
                    border: 1px solid $button-color;
                }
            }
        }
    }
//}
//
//.uq-minimal-header {
//    .uq-title-text.uq-minimal-header,
//    .application-title a,
//    .library-title a {
//        font-size: 16px;
//        font-weight: 400;
//        line-height: 1.2;
//        @media only screen and (min-width: 642px) {
//            font-size: 20px;
//        }
//        @media only screen and (min-width: 1049px) {
//            font-size: 23px;
//        }
//    }
//}
//
//div.proactivechat {
//    uql-chat-proactive {
//        paper-card.popupinvite,
//        paper-button.button-colored-theme.tab-button.style-scope.uql-chat-proactive.x-scope.paper-button-0 {
//            font-size: 16px;
//            font-weight: normal;
//        }
//
//        paper-card.popupinvite {
//            p.uql-chat-proactive.style-scope {
//                font-size: 16px;
//                font-weight: normal;
//            }
//        }
//    }
//
//    h3 {
//        &.uql-chat-proactive {
//            font-weight: normal !important;
//        }
//    }
//}
//
//#rightNowChatLinkContainer {
//    #rightNowChatLinkInfo {
//        & > span {
//            background-color: $button-color;
//            font-weight: 400;
//        }
//    }
//}
//
//li.uql-global-links {
//    a.uql-global-links {
//        font-size: 10.4px;
//
//        ul.uql-global-links & {
//            font-size: 10px;
//            margin-right: 8px;
//        }
//    }
//}
//
//blockquote {
//    font-size: 16px;
//    margin-left: 1em;
//}
//
//#s-lg-tabs-container .nav-pills > li > a.s-lg-tab-top-link,
//#s-lg-tabs-container .nav-pills > li > a.s-lg-tab-top-link:hover {
//    font-weight: normal !important;
//}
//
//#s-lg-tabs-container .nav-pills > li > a.s-lg-tab-top-link:hover {
//    font-weight: normal !important;
//}
//
//ul.nav-tabs li {
//    &.active {
//        font-weight: bold;
//        max-width: 50%;
//    }
//    &:not(.active) a {
//        background-color: #eee;
//        border-bottom-color: rgb(221, 221, 221);
//        color: #000;
//    }
//}
//
//.s-lib-box-content {
//    div {
//        box-shadow: none !important;
//        background-color: #fff !important;
//    }
//    // when the pills wrap, put some vertical space between the rows
//    p:has(a.btn-secondary) {
//        line-height: 2.5;
//    }
//}


#s-lg-az-nav, #s-lg-er-nav, #s-lg-hp-nav, #s-lg-profile-nav, #s-lg-srch-nav {
    background-color: transparent;
}
#s-lg-hp-nav button.btn:focus {
    outline: none; // get rid of weird dashed outline
}


#s-lg-index-cols #s-lg-hp-nav {
    &>ul>li:first-of-type {
        // tabs: bar of buttons
        padding: 0;
        ul {
            margin-bottom: 0;
            &>li>button {
                background-color: white;
                color: $bodyCopy;
                font-size: 18px;
                padding: 0;
                margin: 0;
                &:hover {
                    text-decoration: underline;
                }
            }
            &>li.active>button {
                background-color: white;
                color: $uqBrandColour;
            }
        }
        li {
            border: 1px solid $borders;
            padding: 24px 32px;
            &.active {
                border-bottom: none;
            }
        }
    }
    &>ul>li:nth-of-type(2) {
        // tabs: displayed content panel
        border-width: 0 0 0 1px;
        border-style: solid;
        border-color: $borders;
    }
}
@media (max-width: 64rem) {
    #s-lg-index-cols #s-lg-hp-nav {
        &>ul>li:first-of-type {
            // tabs: bar of buttons
            li {
                padding: 16px 24px;
            }
        }
    }
}

.guides_homepage {
     div h1:not(.hero-h1),
    &>div.s-lib-box-container,
    .remove-h2 h2.s-lib-box-title // if the box has built in h2 tags which we want to replace with internal ones of our own, use .remove-h2
    {
        display: none
    }
}

// put a gap below the footer box
.footer-box {
    margin-bottom: 3rem;
}
.footer-box h2 {
    margin-top: 72px;
    margin-bottom: 24px;
    @media (min-width: 75rem) {
        margin-left: -30px;
    }
    padding-left: 1rem;
}

// style grid of uq boxes
.uql-grid {
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 75rem) {
        margin-left: -30px;
    }
    .s-lib-box-container {
        //margin-top: 1.5rem;
        border: 1px solid $borders !important;
        border-radius: 4px;
        background-color: #fff;
        .s-lib-box-content h3 {
            margin-top: 0;
            //margin: 0 0 0 0;
        }
    }
    p {
        margin-top: 8px;
    }
    a {
        padding-inline: 1.5rem;
    }
    .s-lib-box-content {
        padding: 0;
        ul, ol {
            margin-left: 8px;
        }
        li {
            margin-block: 1rem;
        }
    }
}

.guides_homepage {
    .s-lib-box {
        .s-lib-box-content {
            padding: 0;
        }
    }
    .homePagePanel a {
        cursor: pointer;
        color: $uqBrandColour;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 500;
        position: relative;
        &:focus-within,
        &:hover {
            background-color: $paneBackground !important;
            h3 {
                text-decoration: underline
            }
            .panelBodyWrapper {
                background-color: $paneBackground !important
            }
            div.arrowSvgWrapper {
                background-color: $paneBackground !important;
                color: $uqBrandColour;
            }
        }
        h3.cardHeading {
            font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 24px !important;
            font-weight: 500;
            letter-spacing: 0.16px;
            line-height: 1.2;
            margin-block: 8px;
        }
        p {
            font-size: 16px;
            margin-bottom: 0;
        }
        svg.arrowForwardIcon {
            display: block
        }
    }
}

/* Default: mobile view, 1 column */
.uql-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

/* Tablet breakpoint - 2 columns */
@media (min-width: 640px) {
    .uql-grid {
        grid-template-columns: repeat(2, 1fr);
        a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .uql-grid {
        // enable the arrow sitting at the bottom of every box
        & > div > div > div > div > div > div,
        & > div > div > div > div > div,
        & > div > div > div > div,
        & > div > div > div,
        & > div > div,
        & > div,
        a  {
            height: 100%;
        }
    }
}

/* Desktop breakpoint - 3 columns */
@media (min-width: 800px) {
    .uql-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }
}

/* Make boxes consistent height */
.uql-grid {
    .s-lib-box {
        height: 100%;
    }
    .s-lib-box-content {
        flex-grow: 1;
    }
}
@media (min-width: 848px) {
    .uql-grid a {
        &:focus-within,
        &:hover {
            h3 {
                text-decoration: underline
            }
        }
    }
    @media (prefers-reduced-motion: no-preference) {
        .uql-grid a svg.arrowForwardIcon {
            transition: margin-left 200ms ease-in-out
        }
        .uql-grid {
            a:focus-within,
            a:hover {
                svg.arrowForwardIcon {
                    margin-left: 10px;
                    transition: margin-left 200ms ease-in-out
                }
            }
        }
    }
}
@media (max-width: 640px) {
    .uql-grid a {
        display: flex;
        justify-content: space-between;
        text-decoration: none !important;
    }
    .footer-box .uql-grid a {
        padding: 24px;
    }
    a {
        padding-top: 16px;
        padding-bottom: 8px;
    }
    a .panelBodyWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .uql-grid p {
        display: none;
    }
    .uql-grid .homePagePanel a {
        h3.cardHeading {
            margin-block: 0;
        }
    }
    #col1 .homePagePanel a {
        h3.cardHeading {
            margin-left: 24px;
        }
        .arrowSvgWrapper {
            align-self: center;
        }
    }
}
@media (min-width: 640px) {
    .uql-grid a {
        text-decoration: none !important;
        padding: 24px;
    }
    .uql-grid .arrowSvgWrapper {
        margin-top: 24px;
    }
    .arrowSvgWrapper {
      margin-top: auto;
      align-self: flex-start;
    }
}
div:has(> h1#s-lib-public-header-title:empty) {
    display: none;
    height: 0;
}

/* left navigation sidebar, on individual guide pages, styled to look like drupal sidebar */
#s-lg-tabs-container {
    margin-top: -35px;
    .nav-pills {

        li:not(:has(li)) {
            border-bottom: 1px solid rgb(220, 220, 221);
        }
        > li {
            display: block;
            color: $black;
            -webkit-text-decoration: none;
            text-decoration: none;
            font-weight: 400;
             &.uq-local-nav__grandparent {
                border-bottom: 1px solid rgb(59, 56, 62);
            }
            > a:focus,
            > a:hover {
                background-color: $paneBackground;
                font-weight: 500
            }
            &:not(.dropdown-menu) > a:hover {
                padding: 16px 24px 16px 32px;
                transition: color .2s ease-out, text-decoration .2s ease-out, background-color .2s ease-out;
                font-weight: 400;
            }
            &:not(.active) a {
                background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m7 10 5 5 5-5' stroke='%2319151c' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-size: 24px;
                background-position: right center;
                padding-inline-end: 1.5rem
            }
            &.active {
                border-left: 4px solid $uqBrandColour;
                margin-left: 0;
                > a {
                    background-color: $paneBackground;
                    font-weight: 500;
                    padding-left: 32px;
                }
                a ul {
                    padding-left: 24px;
                }
                > a,
                > a:hover {
                    padding: 16px 24px 16px 32px;
                }
                > a,
                > a > span {
                    cursor: default !important; // so the current link doesnt look clickable
                }
            }
        }
        > .active > a,
        > .active > a:hover,
        > .active > li > a,
        > .active > li > a:hover,
        > li.active > a,
        > li:not(.dropdown-menu) > a:hover {
            border-left: none;
            border-top: none;
            border-bottom: none;
            background-color: $paneBackground;
        }
    }
    .nav-tabs > li.active > a {
        border-left: none;
        border-top: none;
        border-bottom: none;
        background-color: $paneBackground;
    }
    .nav-tabs > li > a,
    .nav-pills > li > a {
        padding-block: 1rem;
        padding-block-start: 1rem;
        padding-block-end: 1rem;
        padding-inline-start: 2rem;
        border: none;
        border-radius: 0;
    }
    .nav.nav-pills > li a {
        -webkit-text-decoration: none !important;
        text-decoration: none !important;
        display: block;
    }
}
#s-lg-guide-tabs .s-lg-tabs-side .nav .dropdown a {
    padding-block: 1rem;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-start: 2rem;
    border: none;
    border-radius: 0;
}
.uq-local-nav {
    max-width: var(--layout-sidebar-width);
    margin-bottom: 6rem
}

.uq-local-nav__link {
    display: block;
    color: $black;
    padding-block:1rem;
    padding-inline-start:2rem;
    border-bottom: 1px solid $borders;
}

.uq-local-nav__link:hover {
    color: $black;
    background-color: $paneBackground;
    transition: color .2s ease-out, text-decoration .2s ease-out, background-color .2s ease-out;
}

.uq-local-nav__link:focus-visible {
    outline: 4px solid $utility500;
    outline-offset: -3px
}

.uq-local-nav__grandparent a,
.uq-local-nav__parent a {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m15 5-7 7 7 7' stroke='%2351247a' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: left center;
    font-weight: 500
}

.uq-local-nav__grandparent .uq-local-nav__link {
    border-color: $grey900;
}

.uq-local-nav__grandparent .uq-local-nav__link,
.uq-local-nav__parent .uq-local-nav__link {
    text-decoration: none !important;
}

.uq-local-nav__children,.uq-local-nav__grandchildren {
    list-style: none;
    margin: 0;
    padding: 0
}

.uq-local-nav__child,.uq-local-nav__grandchild {
    margin-bottom: 0
}

.uq-local-nav__grandchild .uq-local-nav__link {
    padding-inline:2.5rem
}

.uq-local-nav--current-child {
    border-left: 4px solid $uqBrandColour;
    margin-top: -1px
}

.uq-local-nav--current-child>.uq-local-nav__link {
    border-top: 1px solid $borders;
    padding-inline:calc(2rem - 4px) 0}

.uq-local-nav--active-link {
    background-color: $paneBackground;
    font-weight: 500
}

.uq-local-nav--has-children>.uq-local-nav__link {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m7 10 5 5 5-5' stroke='%2319151c' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right center;
    padding-inline-end:1.5rem}

.uq-local-nav--has-children>.uq-local-nav--active-link {
    background-image: none
}

.s-lg-tabs-side .s-lg-boxnav {
    margin-top: 0;
}

.s-lg-tabs-side .s-lg-boxnav .list-group-item {
    background-color: #fff;
    border: none;
    padding: 0;
    margin: 0;
}
.s-lg-tabs-side .s-lg-boxnav .list-group-item a {
    color: $black;
    font-weight: 400;
    padding: 1rem 0 1rem 2.5rem;
}
.list-group-item a:hover {
    background-color: $paneBackground;
    transition: color .2s ease-out, text-decoration .2s ease-out, background-color .2s ease-out;
}
.list-group.s-lg-boxnav {
    margin-left: 0;
    border-top: 1px solid rgb(220, 220, 221);
}
.list-group.s-lg-boxnav a:hover {
    background-color: $paneBackground;
    transition: color .2s ease-out, text-decoration .2s ease-out, background-color .2s ease-out;
}

.nav-stacked>li+li {
    margin-top: 0;
}

// bring strapline to top of body
#s-lg-guide-description {
    margin-left: 315px;
}

.accessibility-only {
    height: 0;
    color: #fff;
    margin: 0;
    &:focus {
        height: auto;
        color: $heading;
        margin: 0 0 2rem -1.5rem;
    }
}


/* the following should be temporary: override built in css on guides individual page - update springshare html template for golive */
#s-lg-tabs-container .nav-pills>li.active> a {
    background-color: $paneBackground !important;
}
#s-lg-tabs-container .nav-pills>li>ul>li:has(>a:hover) {
    background-color: $paneBackground !important;
}
