/* starting permalink */

prm-permalink {
    .layout-column > .long-permalink {
        display: none;
        .__xs & {
            display: none;
        }
        &+ div {
            display: block;
            & > div {
                width: 100%;
            }
        }
    }
}
