@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// colours: https://design-system.ads-staging.aws.uq.edu.au/?path=/docs/core-colour--docs
$grey-900: #3b383e;
$purple-500: #51247a;
$purple-500-rgb: 81, 36, 122;
$utility-50: #e7f0fa;
$utility-500: #0d6dcd;

$accent-color: $purple-500;
$accent-color-rgb: $purple-500-rgb;
$body-copy: $grey-900;
$info-banner-background: $utility-50;
$border-color: rgba(38, 85, 115, 0.15);

$fontFamily: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;

$minDesktopSize: 768px; // has multiple columns
$maxResponsiveSize: 767px; // columns stack

:root {
    // override bootstrap colours!!
    --bs-body-color: #{$body-copy};
    --bs-link-color: #{$accent-color};
    --bs-link-color-rgb: #{$accent-color-rgb};
    --bs-link-hover-color-rgb: #fff;
    --bs-dropdown-link-color: #{$accent-color} !important;
    --bs-primary-rgb: #{$accent-color-rgb};
    --bs-dropdown-link-hover-color: #fff;
    --bs-dropdown-link-hover-bg: #{$accent-color-rgb};
    --bs-secondary-color: #{$accent-color-rgb};
}
.breadcrumb {
    --bs-breadcrumb-divider-color: $accent-color;
}

html,
body {
    background-color: rgb(243, 243, 244) !important;
}

// main body of detail page
#content {
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
    border-image: initial;
    border-radius: 4px;
    h2 .text-primary {
        margin: 0;
        font-family: $fontFamily;
        display: block;
        color: rgb(25, 21, 28) !important;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.16px;
        line-height: 1.2;
    }
    .field {
        h3,
        h4,
        div {
            color: $body-copy;
            font-family: $fontFamily;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.6;
            letter-spacing: 0.16px;
        }
        h3 {
            font-weight: 600;
        }
    }
    a {
        &:hover,
        &:focus {
            background-color: $accent-color;
            color: #fff;
        }
    }
}
// links to DS link standard
ul.navbar-nav li a {
    &:focus,
    &:hover {
        background-color: #fff;
        color: $accent-color !important;
    }
}
a.dropdown-item {
    background-color: #fff;
    color: $accent-color;

    :hover,
    :focus {
        background-color: $accent-color;
        color: #fff;
    }
}
a.atom-icon-link,
a {
    &:hover,
    &:focus {
        span {
            // span inserted into all relevant anchors by load.js, see function setupLinksForStyling
            background-color: $accent-color;
            color: #fff;
        }
    }
}
nav a.nav-link.dropdown-toggle {
    &:hover,
    &:focus {
        i {
            background-color: #fff !important;
        }
    }
}
nav.sidebarParent {
    #physical-objects,
    div.field,
    div.box {
        background-color: rgb(255, 255, 255);
        color: rgba(0, 0, 0, 0.87);
        box-shadow: none;
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        overflow: hidden;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color;
        border-image: initial;
        border-radius: 4px;
        padding: 1.5rem 1.5rem 0 1.5rem;
        margin-bottom: 32px;
        h4 {
            margin: 0px;
            font-family: $fontFamily;
            display: block;
            color: rgb(25, 21, 28);
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 0.16px;
            line-height: 1.2;
        }
        a {
            text-decoration: underline;
            &:hover,
            &:focus {
                i {
                    color: $accent-color;
                }
                span {
                    background-color: $accent-color;
                    color: #fff;
                }
            }
        }
    }
    span.read-more {
        margin-top: 1rem;
        display: block;
        a {
            text-decoration: underline;
            &:hover,
            &:focus {
                background-color: $accent-color;
                color: #fff;
            }
        }
    }
}

.navbar-nav {
    --bs-nav-link-hover-color: #fff;
}

header {
    display: block !important;

    .container-fluid {
        display: flex;
        align-items: center;
    }
    a.navbar-brand {
        &:hover,
        &:focus {
            span {
                text-decoration: underline;
            }
        }
    }
    .textHomeLink {
        color: #fff;
        font-weight: 500;
        font-size: 22px;
        margin-right: 4px;
        &:hover,
        &:focus {
            text-decoration: underline;
            background-color: #fff;
            color: $accent-color;
        }
    }
    button.btn {
        // btn-sm atom-btn-secondary dropdown-toggle
        background-color: #51247a;
        border-color: #512471;
        color: #fff;
        &:hover,
        &:focus {
            background-color: #fff;
            border-color: #fff;
            color: #51247a;
        }
    }
    // hide the login button
    button#user-menu {
        display: none;
    }

    a#quick-links-menu {
        margin-block: auto;
        margin-left: 1rem;
        svg {
            fill: #fff;
        }
    }
}

.sidebarSearchWrapper {
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
    border-image: initial;
    border-radius: 4px;
    padding: 1.5rem 1rem 0 1rem;
    background-color: #fff;
    margin-inline: auto;

    ul button {
        border-width: 0 !important;
        margin: 0;
        font-family: $fontFamily;
        display: block;
        color: #19151c !important;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.16px;
        line-height: 1.2;
        text-align: left;
        padding: 0;

        --bs-nav-tabs-border-width: -0.7rem;
    }
    form {
        padding: 0 !important;
    }
    .no-results {
        border-color: $border-color !important;
        background-color: #e7f0fa;
    }
}

#context-menu {
    i {
        color: $accent-color;
    }
    #action-icons {
        button {
            border-width: 0;
            color: $accent-color;
            text-decoration: underline;
            padding-left: 0;

            &:focus {
                box-shadow: none;
            }

            // get rid of weird underline on icon
            i {
                width: 8px;
            }
            span {
                padding-left: 4px;
            }
        }

        a:not(:has(i)) {
            background-color: $accent-color;
            color: #fff;
        }

        a:hover,
        a:focus,
        button:hover,
        button:focus {
            background-color: #fff;

            span {
                background-color: $accent-color;
                color: #fff;
            }

            i {
                color: $accent-color;
            }
        }

        li {
            padding-bottom: 1rem;
            &:last-of-type {
                padding-bottom: 0;
            }
        }
    }
    #physical-objects,
    .field {
        li {
            padding-bottom: 1rem;
            &:last-of-type {
                padding-bottom: 0;
            }
        }
    }
}
#main-column .sidebarParent {
    padding-top: 155px;
    position: relative;

    @media (min-width: $minDesktopSize) {
        &:has(.bookNowWrapper) section:first-of-type {
            margin-top: 4rem;
        }
    }
}

.bookNowWrapper {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem !important;
    padding-left: 1rem;
    position: absolute;
    top: 0;
    p {
        color: $body-copy;
        font-family: $fontFamily;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0.16px;
        margin-bottom: 0.5rem;
    }
}

.bookNowLinkWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    svg {
        height: 20px;
    }
}

.bookNowLink {
    &:hover,
    &:focus {
        color: #fff !important;
        background-color: $accent-color !important;
    }
}

// hide the built in "i" font applied to the button
#quick-links-menu button.top-item:before {
    content: '';
}
// style the icon we add with js
.top-item svg {
    height: 35px;
}
.top-item svg path {
    fill: #fff;
}

// copy container widths of body
.header-outer {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    #navbar-content .navbar-nav {
        margin-right: 0 !important;
    }
}
@media (min-width: 1400px) {
    .header-outer {
        max-width: 1320px;
    }
}

@media (max-width: $maxResponsiveSize) {
    #site-name {
        float: left;
        margin-top: 6px;
    }
}

// hide the "Quick links" tool tip that appears when the user mouses over the hamburger button
.tooltip {
    display: none !important;
}

.culturalAdviceBanner {
    padding: 1em 1em 1em 4em;
    background-color: $info-banner-background;
    color: #3b383e;
    font-family: $fontFamily;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    position: relative;
    margin-bottom: 1rem;
    & div:before {
        content: '';
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='12' cy='12' r='9.25' transform='rotate(-180 12 12)' stroke='%233b383e' stroke-width='1.5'%3e%3c/circle%3e%3cpath d='M12 16.2v-4' stroke='%233b383e' stroke-width='1.5' stroke-linecap='round'%3e%3c/path%3e%3ccircle cx='12' cy='8.4' r='1.1' transform='rotate(-180 12 8.4)' fill='%233b383e'%3e%3c/circle%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: 1rem;
        left: 1.5rem;
    }
    & p {
        margin-bottom: 0;
    }
}

.customIndicator {
    display: flex;
    svg {
        padding-right: 2px;
    }
}
.customIndicatorLabel {
    font-size: 16px;
    margin-top: -1px;
}
.culturalAdviceMark {
    svg {
        color: $utility-500;
        width: 24px;
        height: 24px;
        path {
            fill: $utility-500;
        }
    }
}

// override tree colours in https://sandbox-fryer.library.uq.edu.au/vendor/jstree/themes/default/style.min.css
.jstree-default .jstree-hovered {
    background: $utility-50;
}

.jstree-default .jstree-context {
    background: $utility-50;
}

.jstree-default .jstree-clicked {
    color: #fff !important;
    background: $accent-color !important;
}
//.jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered {
//    background: $utility-50;
//}
//
//.jstree-default.jstree-checkbox-no-clicked>.jstree-wholerow-ul .jstree-wholerow-clicked.jstree-wholerow-hovered {
//    background: $utility-50;
//}
//.jstree-default .jstree-wholerow-hovered {
//    background: $utility-50;
//}

.jstree-default .jstree-wholerow-clicked {
    background: $accent-color;
    background: linear-gradient(to bottom, $accent-color 0, $utility-50 100%);
}
//.jstree-default-responsive .jstree-wholerow-hovered {
//    background: $utility-50;
//}

.jstree-default-responsive .jstree-wholerow-clicked {
    background: $accent-color;
}
//.jstree-anchor,
//.jstree-default {
//    &:hover {
//        background: $utility-50;
//    }
//}

.list-group {
    --bs-list-group-border-width: 0;
}
.card > .list-group {
    border-top-width: 0;
    border-bottom-width: 0;
}

#sidebar {
    h2 {
        margin: 0;
        font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
        display: block;
        color: #19151c !important;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.16px;
        line-height: 1.2;
    }

    .list-group {
        a {
            display: inline;
            color: $accent-color;
            text-decoration: underline;
            &:hover,
            &:focus {
                color: #fff;
                background-color: $accent-color;
            }
        }
    }
    input {
        font-size: 14px;
    }
    .list-group > a:last-of-type:has(i) {
        font-size: 13px;
    }
    a {
        &:hover,
        &:focus {
            i {
                color: #fff;
            }
        }
    }
    .repository-logo {
        max-width: none;
        @media (max-width: 767px) {
            display: none;
        }
        img {
            border-width: 1px !important;
            border-style: solid;
            border-color: $border-color;
            border-image: initial;
            border-radius: 4px;
        }
    }
}

// buttons at top of some list pages
.atom-btn-white.active-primary.active {
    background-color: $accent-color;
    border-color: $accent-color;
}