.uq-grid {
    box-sizing: border-box;
}
.uq-grid *,
.uq-grid *::before,
.uq-grid *::after {
    box-sizing: border-box;
}
.uq-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
}
@media (min-width: 37.5em) {
    .uq-grid {
        margin-top: -0.75em;
        margin-bottom: -0.75em;
    }
}
@media (min-width: 75em) {
    .uq-grid {
        margin-top: -1em;
        margin-bottom: -1em;
    }
}
.uq-grid__col {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    flex: none;
}
@media (min-width: 37.5em) {
    .uq-grid__col {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
}
@media (min-width: 75em) {
    .uq-grid__col {
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media (min-width: 37.5em) {
    .uq-grid__col {
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }
}
@media (min-width: 75em) {
    .uq-grid__col {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}
@supports (display: grid) {
    .uq-grid {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-gap: 1em 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    @media (min-width: 37.5em) {
        .uq-grid {
            grid-row-gap: 1.5em;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    @media (min-width: 75em) {
        .uq-grid {
            grid-row-gap: 2em;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .uq-grid__col {
        padding-top: 0;
        padding-bottom: 0;
    }
    @media (min-width: 37.5em) {
        .uq-grid__col {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    @media (min-width: 75em) {
        .uq-grid__col {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
.uq-grid:not(.uq-grid--full-width) {
    margin-left: 1em;
    margin-right: 1em;
}
@media (min-width: 32.5em) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: auto;
        margin-right: auto;
        max-width: 30.5em;
    }
}
@media (min-width: 37.5em) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: 3.25em;
        margin-right: 3.25em;
        max-width: none;
    }
}
@media (min-width: 64.25em) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: auto;
        margin-right: auto;
        max-width: 57.75em;
    }
}
@media (min-width: 75em) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: 8.375em;
        margin-right: 8.375em;
        max-width: none;
    }
}
@media (min-width: 90em) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: auto;
        margin-right: auto;
        max-width: 73.25em;
    }
}
.uq-grid--full-width {
    margin-left: -0.5em;
    margin-right: -0.5em;
    max-width: none;
}
@media (min-width: 37.5em) {
    .uq-grid--full-width {
        margin-left: -0.75em;
        margin-right: -0.75em;
    }
}
@media (min-width: 75em) {
    .uq-grid--full-width {
        margin-left: -1em;
        margin-right: -1em;
    }
}
.uq-grid .uq-grid {
    margin-left: -0.5em;
    margin-right: -0.5em;
    max-width: none;
}
@media (min-width: 37.5em) {
    .uq-grid .uq-grid {
        margin-left: -0.75em;
        margin-right: -0.75em;
    }
}
@media (min-width: 75em) {
    .uq-grid .uq-grid {
        margin-left: -1em;
        margin-right: -1em;
    }
}
.uq-grid__col--xl-1 {
    width: 8.3333333333%;
}
.uq-grid__col--xl-2 {
    width: 16.6666666667%;
}
.uq-grid__col--xl-3,
.uq-grid--quarters > .uq-grid__col {
    width: 25%;
}
.uq-grid__col--xl-4,
.uq-grid--thirds > .uq-grid__col,
.uq-grid--golden > .uq-grid__col:nth-child(even) {
    width: 33.3333333333%;
}
.uq-grid__col--xl-5 {
    width: 41.6666666667%;
}
.uq-grid__col--xl-6 {
    width: 50%;
}
.uq-grid__col--xl-7,
.uq-grid--golden > .uq-grid__col:nth-child(odd) {
    width: 58.3333333333%;
}
.uq-grid__col--xl-8 {
    width: 66.6666666667%;
}
.uq-grid__col--xl-9 {
    width: 75%;
}
.uq-grid__col--xl-10 {
    width: 83.3333333333%;
}
.uq-grid__col--xl-11 {
    width: 91.6666666667%;
}
.uq-grid__col--xl-12 {
    width: 100%;
}
@supports (display: grid) {
    .uq-grid__col--xl-1 {
        grid-column: auto/span 2;
        width: auto;
    }
    .uq-grid__col--xl-2 {
        grid-column: auto/span 4;
        width: auto;
    }
    .uq-grid__col--xl-3,
    .uq-grid--quarters > .uq-grid__col {
        grid-column: auto/span 6;
        width: auto;
    }
    .uq-grid__col--xl-4,
    .uq-grid--thirds > .uq-grid__col,
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
        grid-column: auto/span 8;
        width: auto;
    }
    .uq-grid__col--xl-5 {
        grid-column: auto/span 10;
        width: auto;
    }
    .uq-grid__col--xl-6 {
        grid-column: auto/span 12;
        width: auto;
    }
    .uq-grid__col--xl-7,
    .uq-grid--golden > .uq-grid__col:nth-child(odd) {
        grid-column: auto/span 14;
        width: auto;
    }
    .uq-grid__col--xl-8 {
        grid-column: auto/span 16;
        width: auto;
    }
    .uq-grid__col--xl-9 {
        grid-column: auto/span 18;
        width: auto;
    }
    .uq-grid__col--xl-10 {
        grid-column: auto/span 20;
        width: auto;
    }
    .uq-grid__col--xl-11 {
        grid-column: auto/span 22;
        width: auto;
    }
    .uq-grid__col--xl-12 {
        grid-column: auto/span 24;
        width: auto;
    }
}
.uq-grid__col--md-1 {
    width: 12.5%;
}
.uq-grid__col--md-2,
.uq-grid--golden > .uq-grid__col:nth-child(even) {
    width: 25%;
}
.uq-grid__col--md-3 {
    width: 37.5%;
}
.uq-grid__col--md-4,
.uq-grid--quarters > .uq-grid__col,
.uq-grid--thirds > .uq-grid__col,
.uq-grid--halves > .uq-grid__col {
    width: 50%;
}
.uq-grid__col--md-5,
.uq-grid--golden > .uq-grid__col:nth-child(odd) {
    width: 62.5%;
}
.uq-grid__col--md-6 {
    width: 75%;
}
.uq-grid__col--md-7 {
    width: 87.5%;
}
.uq-grid__col--md-8 {
    width: 100%;
}
@supports (display: grid) {
    .uq-grid__col--md-1 {
        grid-column: auto/span 3;
        width: auto;
    }
    .uq-grid__col--md-2,
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
        grid-column: auto/span 6;
        width: auto;
    }
    .uq-grid__col--md-3 {
        grid-column: auto/span 9;
        width: auto;
    }
    .uq-grid__col--md-4,
    .uq-grid--quarters > .uq-grid__col,
    .uq-grid--thirds > .uq-grid__col,
    .uq-grid--halves > .uq-grid__col {
        grid-column: auto/span 12;
        width: auto;
    }
    .uq-grid__col--md-5,
    .uq-grid--golden > .uq-grid__col:nth-child(odd) {
        grid-column: auto/span 15;
        width: auto;
    }
    .uq-grid__col--md-6 {
        grid-column: auto/span 18;
        width: auto;
    }
    .uq-grid__col--md-7 {
        grid-column: auto/span 21;
        width: auto;
    }
    .uq-grid__col--md-8 {
        grid-column: auto/span 24;
        width: auto;
    }
}
.uq-grid__col--1 {
    width: 16.6666666667%;
}
.uq-grid__col--2 {
    width: 33.3333333333%;
}
.uq-grid__col--3 {
    width: 50%;
}
.uq-grid__col--4 {
    width: 66.6666666667%;
}
.uq-grid__col--5 {
    width: 83.3333333333%;
}
.uq-grid__col--6,
.uq-grid--quarters > .uq-grid__col,
.uq-grid--thirds > .uq-grid__col,
.uq-grid--halves > .uq-grid__col,
.uq-grid--golden > .uq-grid__col:nth-child(even),
.uq-grid--golden > .uq-grid__col:nth-child(odd) {
    width: 100%;
}
@supports (display: grid) {
    .uq-grid__col--1 {
        grid-column: auto/span 4;
        width: auto;
    }
    .uq-grid__col--2 {
        grid-column: auto/span 8;
        width: auto;
    }
    .uq-grid__col--3 {
        grid-column: auto/span 12;
        width: auto;
    }
    .uq-grid__col--4 {
        grid-column: auto/span 16;
        width: auto;
    }
    .uq-grid__col--5 {
        grid-column: auto/span 20;
        width: auto;
    }
    .uq-grid__col--6,
    .uq-grid--quarters > .uq-grid__col,
    .uq-grid--thirds > .uq-grid__col,
    .uq-grid--halves > .uq-grid__col,
    .uq-grid--golden > .uq-grid__col:nth-child(even),
    .uq-grid--golden > .uq-grid__col:nth-child(odd) {
        grid-column: auto/span 24;
        width: auto;
    }
}
@media (min-width: 37.5em) {
    .uq-grid__col--xl-1 {
        width: 8.3333333333%;
    }
    .uq-grid__col--xl-2 {
        width: 16.6666666667%;
    }
    .uq-grid__col--xl-3,
    .uq-grid--quarters > .uq-grid__col {
        width: 25%;
    }
    .uq-grid__col--xl-4,
    .uq-grid--thirds > .uq-grid__col,
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
        width: 33.3333333333%;
    }
    .uq-grid__col--xl-5 {
        width: 41.6666666667%;
    }
    .uq-grid__col--xl-6 {
        width: 50%;
    }
    .uq-grid__col--xl-7,
    .uq-grid--golden > .uq-grid__col:nth-child(odd) {
        width: 58.3333333333%;
    }
    .uq-grid__col--xl-8 {
        width: 66.6666666667%;
    }
    .uq-grid__col--xl-9 {
        width: 75%;
    }
    .uq-grid__col--xl-10 {
        width: 83.3333333333%;
    }
    .uq-grid__col--xl-11 {
        width: 91.6666666667%;
    }
    .uq-grid__col--xl-12 {
        width: 100%;
    }
    @supports (display: grid) {
        .uq-grid__col--xl-1 {
            grid-column: auto/span 2;
            width: auto;
        }
        .uq-grid__col--xl-2 {
            grid-column: auto/span 4;
            width: auto;
        }
        .uq-grid__col--xl-3,
        .uq-grid--quarters > .uq-grid__col {
            grid-column: auto/span 6;
            width: auto;
        }
        .uq-grid__col--xl-4,
        .uq-grid--thirds > .uq-grid__col,
        .uq-grid--golden > .uq-grid__col:nth-child(even) {
            grid-column: auto/span 8;
            width: auto;
        }
        .uq-grid__col--xl-5 {
            grid-column: auto/span 10;
            width: auto;
        }
        .uq-grid__col--xl-6 {
            grid-column: auto/span 12;
            width: auto;
        }
        .uq-grid__col--xl-7,
        .uq-grid--golden > .uq-grid__col:nth-child(odd) {
            grid-column: auto/span 14;
            width: auto;
        }
        .uq-grid__col--xl-8 {
            grid-column: auto/span 16;
            width: auto;
        }
        .uq-grid__col--xl-9 {
            grid-column: auto/span 18;
            width: auto;
        }
        .uq-grid__col--xl-10 {
            grid-column: auto/span 20;
            width: auto;
        }
        .uq-grid__col--xl-11 {
            grid-column: auto/span 22;
            width: auto;
        }
        .uq-grid__col--xl-12 {
            grid-column: auto/span 24;
            width: auto;
        }
    }
    .uq-grid__col--md-1 {
        width: 12.5%;
    }
    .uq-grid__col--md-2,
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
        width: 25%;
    }
    .uq-grid__col--md-3 {
        width: 37.5%;
    }
    .uq-grid__col--md-4,
    .uq-grid--quarters > .uq-grid__col,
    .uq-grid--thirds > .uq-grid__col,
    .uq-grid--halves > .uq-grid__col {
        width: 50%;
    }
    .uq-grid__col--md-5,
    .uq-grid--golden > .uq-grid__col:nth-child(odd) {
        width: 62.5%;
    }
    .uq-grid__col--md-6 {
        width: 75%;
    }
    .uq-grid__col--md-7 {
        width: 87.5%;
    }
    .uq-grid__col--md-8 {
        width: 100%;
    }
    @supports (display: grid) {
        .uq-grid__col--md-1 {
            grid-column: auto/span 3;
            width: auto;
        }
        .uq-grid__col--md-2,
        .uq-grid--golden > .uq-grid__col:nth-child(even) {
            grid-column: auto/span 6;
            width: auto;
        }
        .uq-grid__col--md-3 {
            grid-column: auto/span 9;
            width: auto;
        }
        .uq-grid__col--md-4,
        .uq-grid--quarters > .uq-grid__col,
        .uq-grid--thirds > .uq-grid__col,
        .uq-grid--halves > .uq-grid__col {
            grid-column: auto/span 12;
            width: auto;
        }
        .uq-grid__col--md-5,
        .uq-grid--golden > .uq-grid__col:nth-child(odd) {
            grid-column: auto/span 15;
            width: auto;
        }
        .uq-grid__col--md-6 {
            grid-column: auto/span 18;
            width: auto;
        }
        .uq-grid__col--md-7 {
            grid-column: auto/span 21;
            width: auto;
        }
        .uq-grid__col--md-8 {
            grid-column: auto/span 24;
            width: auto;
        }
    }
}
@media (min-width: 75em) {
    .uq-grid__col--xl-1 {
        width: 8.3333333333%;
    }
    .uq-grid__col--xl-2 {
        width: 16.6666666667%;
    }
    .uq-grid__col--xl-3,
    .uq-grid--quarters > .uq-grid__col {
        width: 25%;
    }
    .uq-grid__col--xl-4,
    .uq-grid--thirds > .uq-grid__col,
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
        width: 33.3333333333%;
    }
    .uq-grid__col--xl-5 {
        width: 41.6666666667%;
    }
    .uq-grid__col--xl-6 {
        width: 50%;
    }
    .uq-grid__col--xl-7,
    .uq-grid--golden > .uq-grid__col:nth-child(odd) {
        width: 58.3333333333%;
    }
    .uq-grid__col--xl-8 {
        width: 66.6666666667%;
    }
    .uq-grid__col--xl-9 {
        width: 75%;
    }
    .uq-grid__col--xl-10 {
        width: 83.3333333333%;
    }
    .uq-grid__col--xl-11 {
        width: 91.6666666667%;
    }
    .uq-grid__col--xl-12 {
        width: 100%;
    }
    @supports (display: grid) {
        .uq-grid__col--xl-1 {
            grid-column: auto/span 2;
            width: auto;
        }
        .uq-grid__col--xl-2 {
            grid-column: auto/span 4;
            width: auto;
        }
        .uq-grid__col--xl-3,
        .uq-grid--quarters > .uq-grid__col {
            grid-column: auto/span 6;
            width: auto;
        }
        .uq-grid__col--xl-4,
        .uq-grid--thirds > .uq-grid__col,
        .uq-grid--golden > .uq-grid__col:nth-child(even) {
            grid-column: auto/span 8;
            width: auto;
        }
        .uq-grid__col--xl-5 {
            grid-column: auto/span 10;
            width: auto;
        }
        .uq-grid__col--xl-6 {
            grid-column: auto/span 12;
            width: auto;
        }
        .uq-grid__col--xl-7,
        .uq-grid--golden > .uq-grid__col:nth-child(odd) {
            grid-column: auto/span 14;
            width: auto;
        }
        .uq-grid__col--xl-8 {
            grid-column: auto/span 16;
            width: auto;
        }
        .uq-grid__col--xl-9 {
            grid-column: auto/span 18;
            width: auto;
        }
        .uq-grid__col--xl-10 {
            grid-column: auto/span 20;
            width: auto;
        }
        .uq-grid__col--xl-11 {
            grid-column: auto/span 22;
            width: auto;
        }
        .uq-grid__col--xl-12 {
            grid-column: auto/span 24;
            width: auto;
        }
    }
}
.uq-grid--flexible > .uq-grid__col {
    flex: 1 0 15.625em;
    max-width: 100%;
    width: auto;
}
@supports (display: grid) {
    .uq-grid--flexible {
        grid-template-columns: repeat(auto-fit, minmax(15.625em, 1fr));
    }
}
@media (min-width: 37.5em) {
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
        margin-left: 12.5%;
    }
    @supports (display: grid) {
        .uq-grid--golden > .uq-grid__col:nth-child(even) {
            margin-left: 0;
            grid-column-start: 18;
        }
    }
}
@media (min-width: 75em) {
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
        margin-left: 8.3333333333%;
    }
    @supports (display: grid) {
        .uq-grid--golden > .uq-grid__col:nth-child(even) {
            margin-left: 0;
            grid-column-start: 18;
        }
    }
}
@media (max-width: 63.9375em) {
    .uq-grid--scroll-small {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
    }
    .uq-grid--scroll-small .uq-grid__col {
        flex: 1 0 18.75em;
        margin-right: 1.5em;
    }
}
.uq-layout-container {
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
@media (min-width: 32.5em) {
    .uq-layout-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 30.5em;
    }
}
@media (min-width: 37.5em) {
    .uq-layout-container {
        margin-left: 3.25em;
        margin-right: 3.25em;
        max-width: none;
    }
}
@media (min-width: 64.25em) {
    .uq-layout-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 57.75em;
    }
}
@media (min-width: 75em) {
    .uq-layout-container {
        margin-left: 8.375em;
        margin-right: 8.375em;
        max-width: none;
    }
}
@media (min-width: 90em) {
    .uq-layout-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 73.25em;
    }
}
@media (min-width: 37.5em) {
    .uq-layout-container {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
}
@media (min-width: 75em) {
    .uq-layout-container {
        padding-left: 1em;
        padding-right: 1em;
    }
}
.uq-layout-container .uq-grid {
    margin-left: -0.5em;
    margin-right: -0.5em;
    max-width: none;
}
@media (min-width: 37.5em) {
    .uq-layout-container .uq-grid {
        margin-left: -0.75em;
        margin-right: -0.75em;
    }
}
@media (min-width: 75em) {
    .uq-layout-container .uq-grid {
        margin-left: -1em;
        margin-right: -1em;
    }
}
body {
    color: #2b2a29;
    font-size: 1em;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.margin--reset {
    margin: 0;
}
.white {
    background-color: #fff;
}
.black {
    background-color: #000;
}
.link {
    background-color: #1e72c6;
}
.purple {
    background-color: #51247a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.4;
    color: #51247a;
}
h1 {
    margin-top: 1.5em;
    margin-bottom: 2.5em;
    font-size: 2.5em;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
h2 {
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    font-size: 2em;
}
h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.5em;
}
h4 {
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-size: 1.25em;
}
h5 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 1.125em;
}
h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 1em;
}
p {
    margin-top: 0;
    margin-bottom: 1.5em;
}
b,
strong {
    font-weight: 500;
}
em {
    font-style: italic;
}
blockquote {
    margin: 0 0 1.5em;
    padding-left: 1.5em;
    border-left: 6px solid #2b2a29;
    font-family: 'Merriweather', Georgia, serif;
    font-style: italic;
}
ol,
ul {
    margin-top: 0;
    margin-bottom: 1.5em;
    padding-left: 1.5em;
}
ol li,
ul li {
    margin-bottom: 1em;
}
ol li:last-child,
ul li:last-child {
    margin-bottom: 0;
}
dl {
    margin-top: 0;
    margin-bottom: 0;
}
dl dt {
    color: #51247a;
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: 500;
}
dl dd {
    margin-left: 0;
    margin-bottom: 1.5em;
    font-size: 1.125em;
}
a {
    color: #1e72c6;
    text-decoration: none;
    transition: 0.2s color;
}
a:hover {
    color: #1e72c6;
    text-decoration: underline;
}
.text--reverse {
    color: #fff;
}
.text--primary {
    color: #51247a;
}
.text--purple-light {
    color: #962a8b;
}
.text--black {
    color: #000;
}
.text--white {
    color: #fff;
}
.text--error {
    color: #be1b38;
}
.text--xxxxl {
    font-size: 2.5em;
}
.text--xxxl {
    font-size: 2em;
}
.text--xxl {
    font-size: 1.5em;
}
.text--xl {
    font-size: 1.25em;
}
.text--l {
    font-size: 1.125em;
}
.text--m {
    font-size: 1em;
}
.text--s {
    font-size: 0.875em;
}
.text--xs {
    font-size: 0.75em;
}
.text--weight-normal {
    font-weight: 400;
}
.text--weight-bold {
    font-weight: 500;
}
.text--weight-medium {
    font-weight: 500;
}
.text--left {
    text-align: left;
}
.text--right {
    text-align: right;
}
.text--center {
    text-align: center;
}
.text--uppercase {
    text-transform: uppercase;
}
.text--accent {
    font-family: 'Merriweather', Georgia, serif;
    font-weight: 400;
    font-style: italic;
}
.text--shadow {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.hidden {
    display: none !important;
}
@media (max-width: 37.4375em) {
    .hidden--mobile-only {
        display: none !important;
    }
}
@media (min-width: 37.5em) {
    .hidden--md,
    .hidden--tablet {
        display: none !important;
    }
}
@media (min-width: 75em) {
    .hidden--xl,
    .hidden--desktop {
        display: none !important;
    }
}
.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
    margin: 0;
    padding: 0;
}
.uq-footer {
    background: linear-gradient(90deg, #51247a 0%, 87%, #962a8b 100%);
    box-sizing: border-box;
    color: #d4c8de;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.5;
}
.uq-footer *,
.uq-footer *:before,
.uq-footer *:after {
    box-sizing: border-box;
}
.uq-footer a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
.uq-footer a:hover {
    text-decoration: underline;
}
.uq-footer abbr[title] {
    text-decoration: none;
    border-bottom: 1px dotted;
}
.uq-footer__acknowledgement {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #d4c8de;
    font-family: 'Merriweather', Georgia, serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 2em;
    padding: 0 0 2em;
}
@media (min-width: 37.5em) {
    .uq-footer__acknowledgement {
        font-size: 1.125em;
    }
}
.uq-footer__acknowledgement__link {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
}
.uq-footer__container {
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 3em;
    padding-bottom: 3em;
}
@media (min-width: 32.5em) {
    .uq-footer__container {
        margin-left: auto;
        margin-right: auto;
        max-width: 30.5em;
    }
}
@media (min-width: 37.5em) {
    .uq-footer__container {
        margin-left: 3.25em;
        margin-right: 3.25em;
        max-width: none;
    }
}
@media (min-width: 64.25em) {
    .uq-footer__container {
        margin-left: auto;
        margin-right: auto;
        max-width: 57.75em;
    }
}
@media (min-width: 75em) {
    .uq-footer__container {
        margin-left: 8.375em;
        margin-right: 8.375em;
        max-width: none;
    }
}
@media (min-width: 90em) {
    .uq-footer__container {
        margin-left: auto;
        margin-right: auto;
        max-width: 73.25em;
    }
}
@media (min-width: 37.5em) {
    .uq-footer__container {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
}
@media (min-width: 75em) {
    .uq-footer__container {
        padding-left: 1em;
        padding-right: 1em;
    }
}
.uq-footer__row {
    display: grid;
    grid: auto-flow/1fr;
    gap: 2em 3em;
    justify-items: stretch;
    justify-content: stretch;
    align-items: start;
    align-content: stretch;
}
@media (min-width: 37.5em) {
    .uq-footer__row {
        grid: auto-flow/2fr 1fr;
    }
}
@media (min-width: 64em) {
    .uq-footer__row {
        grid: auto-flow/3fr 1fr;
    }
}
.uq-footer__column {
    justify-self: start;
    align-self: start;
}
.uq-footer__aside {
    display: inline-block;
    margin: 0;
}
.uq-footer__sub-title {
    color: #fff;
    font-size: 1.125em;
}
.uq-footer__footer {
    margin: 2em 0 0 0;
    overflow: hidden;
}
.uq-footer__footer .uq-footer__row {
    grid: auto-flow/1fr;
}
@media (min-width: 64em) {
    .uq-footer__footer .uq-footer__row {
        grid: auto-flow/3fr 1fr;
    }
}
.uq-footer__footer-menu__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.uq-footer__footer-menu__list li {
    margin-bottom: 0.5em;
}
.uq-footer__footer-menu__list li:after {
    content: ' | ';
    padding: 0 0.5em;
    text-align: center;
}
.uq-footer__footer-menu__list li:last-of-type:after {
    content: none;
    padding-right: 0;
}
.uq-footer__social-media {
    font-size: 1.5em;
}
.uq-footer__social-media__list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: -1.5em;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
}
.uq-footer__social-media__list > li {
    display: block;
    float: left;
    margin-left: 1.5em;
}
.uq-footer__social-media__list > li > * {
    display: block;
}
.uq-footer__social-media__item + .uq-footer__social-media__item::before {
    content: ' ';
    display: inline-block;
    margin: 0 0.5em 0 0;
}
.uq-footer__social-media__link:hover {
    color: #d4c8de;
    transition: all ease 0.5s;
}
.uq-footer--full-width {
    padding: 0 1em;
}
