.uq-footer {
    font-size: 100%;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 37.5rem) {
    .uq-footer__footer-list abbr[title] {
        text-underline-offset: 2px;
    }
}

.uq-footer--mobile .uq-accordion__toggle--active {
    text-decoration-color: rgb(255, 255, 255) !important;
    text-decoration-line: none !important;
}

.uq-footer--mobile .uq-accordion__toggle:hover {
    color: #fff;
}

.uq-footer  a.uq-acknowledgement__link {
    text-decoration: underline;
    font-weight: 500;
}