.uq-footer__navigation-level-2 {
    height: auto;
}
@media(min-width: 64rem) {
    .uq-footer__footer ul {
        justify-content: flex-end;
    }
    .uq-footer__navigation-link {
        line-height: 1.5;
    }
}

.uq-footer--mobile .uq-footer__navigation-level-2 {
    display: block;
    height: 0;
    max-height: 10px;
    transition: max-height ease 2s 0s;
}
.uq-footer--mobile .uq-footer__navigation-level-2 > div {
    line-height: 24px;
}

