@charset "UTF-8";

/**
 * Grid container (incl. full width modifier class)
 */
.uq-grid {
  box-sizing: border-box;
}
.uq-grid *, .uq-grid *::before, .uq-grid *::after {
  box-sizing: border-box;
}

.uq-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
@media (min-width: 37.5rem) {
  .uq-grid {
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
  }
}
@media (min-width: 75rem) {
  .uq-grid {
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
}
.uq-grid__col {
  /*
    TODO: implement row gap (at the moment we can't test—using @supports—for
    partial support i.e. we can't test for `gap` property support in flex
    layouts even though it's specified)
  */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex: none;
}
@media (min-width: 37.5rem) {
  .uq-grid__col {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
@media (min-width: 75rem) {
  .uq-grid__col {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 37.5rem) {
  .uq-grid__col {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
@media (min-width: 75rem) {
  .uq-grid__col {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@supports (display: grid) {
  .uq-grid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 1rem 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (min-width: 37.5rem) {
    .uq-grid {
      grid-row-gap: 1.5rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  @media (min-width: 75rem) {
    .uq-grid {
      grid-row-gap: 2rem;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .uq-grid__col {
    padding-top: 0;
    padding-bottom: 0;
  }
  @media (min-width: 37.5rem) {
    .uq-grid__col {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  @media (min-width: 75rem) {
    .uq-grid__col {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
.uq-grid:not(.uq-grid--full-width) {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (min-width: 32.5rem) {
  .uq-grid:not(.uq-grid--full-width) {
    margin-left: auto;
    margin-right: auto;
    max-width: 30.5rem;
  }
}
@media (min-width: 37.5rem) {
  .uq-grid:not(.uq-grid--full-width) {
    margin-left: 3.25rem;
    margin-right: 3.25rem;
    max-width: none;
  }
}
@media (min-width: 64.25rem) {
  .uq-grid:not(.uq-grid--full-width) {
    margin-left: auto;
    margin-right: auto;
    max-width: 57.75rem;
  }
}
@media (min-width: 75rem) {
  .uq-grid:not(.uq-grid--full-width) {
    margin-left: 8.375rem;
    margin-right: 8.375rem;
    max-width: none;
  }
}
@media (min-width: 90rem) {
  .uq-grid:not(.uq-grid--full-width) {
    margin-left: auto;
    margin-right: auto;
    max-width: 73.25rem;
  }
}
.uq-grid--full-width {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  max-width: none;
}
@media (min-width: 37.5rem) {
  .uq-grid--full-width {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
}
@media (min-width: 75rem) {
  .uq-grid--full-width {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
.uq-grid .uq-grid {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  max-width: none;
}
@media (min-width: 37.5rem) {
  .uq-grid .uq-grid {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
}
@media (min-width: 75rem) {
  .uq-grid .uq-grid {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.uq-grid__col--xl-1 {
  width: 8.3333333333%;
}
.uq-grid__col--xl-2 {
  width: 16.6666666667%;
}
.uq-grid__col--xl-3, .uq-grid--quarters > .uq-grid__col {
  width: 25%;
}
.uq-grid__col--xl-4, .uq-grid--thirds > .uq-grid__col, .uq-grid--golden > .uq-grid__col:nth-child(even) {
  width: 33.3333333333%;
}
.uq-grid__col--xl-5 {
  width: 41.6666666667%;
}
.uq-grid__col--xl-6 {
  width: 50%;
}
.uq-grid__col--xl-7, .uq-grid--golden > .uq-grid__col:nth-child(odd) {
  width: 58.3333333333%;
}
.uq-grid__col--xl-8 {
  width: 66.6666666667%;
}
.uq-grid__col--xl-9 {
  width: 75%;
}
.uq-grid__col--xl-10 {
  width: 83.3333333333%;
}
.uq-grid__col--xl-11 {
  width: 91.6666666667%;
}
.uq-grid__col--xl-12 {
  width: 100%;
}

@supports (display: grid) {
  .uq-grid__col--xl-1 {
    grid-column: auto/span 2;
    width: auto;
  }
  .uq-grid__col--xl-2 {
    grid-column: auto/span 4;
    width: auto;
  }
  .uq-grid__col--xl-3, .uq-grid--quarters > .uq-grid__col {
    grid-column: auto/span 6;
    width: auto;
  }
  .uq-grid__col--xl-4, .uq-grid--thirds > .uq-grid__col, .uq-grid--golden > .uq-grid__col:nth-child(even) {
    grid-column: auto/span 8;
    width: auto;
  }
  .uq-grid__col--xl-5 {
    grid-column: auto/span 10;
    width: auto;
  }
  .uq-grid__col--xl-6 {
    grid-column: auto/span 12;
    width: auto;
  }
  .uq-grid__col--xl-7, .uq-grid--golden > .uq-grid__col:nth-child(odd) {
    grid-column: auto/span 14;
    width: auto;
  }
  .uq-grid__col--xl-8 {
    grid-column: auto/span 16;
    width: auto;
  }
  .uq-grid__col--xl-9 {
    grid-column: auto/span 18;
    width: auto;
  }
  .uq-grid__col--xl-10 {
    grid-column: auto/span 20;
    width: auto;
  }
  .uq-grid__col--xl-11 {
    grid-column: auto/span 22;
    width: auto;
  }
  .uq-grid__col--xl-12 {
    grid-column: auto/span 24;
    width: auto;
  }
}
/**
 * Grid columns (spans)
 */
.uq-grid__col--md-1 {
  width: 12.5%;
}
.uq-grid__col--md-2, .uq-grid--golden > .uq-grid__col:nth-child(even) {
  width: 25%;
}
.uq-grid__col--md-3 {
  width: 37.5%;
}
.uq-grid__col--md-4, .uq-grid--quarters > .uq-grid__col, .uq-grid--thirds > .uq-grid__col, .uq-grid--halves > .uq-grid__col {
  width: 50%;
}
.uq-grid__col--md-5, .uq-grid--golden > .uq-grid__col:nth-child(odd) {
  width: 62.5%;
}
.uq-grid__col--md-6 {
  width: 75%;
}
.uq-grid__col--md-7 {
  width: 87.5%;
}
.uq-grid__col--md-8 {
  width: 100%;
}

@supports (display: grid) {
  .uq-grid__col--md-1 {
    grid-column: auto/span 3;
    width: auto;
  }
  .uq-grid__col--md-2, .uq-grid--golden > .uq-grid__col:nth-child(even) {
    grid-column: auto/span 6;
    width: auto;
  }
  .uq-grid__col--md-3 {
    grid-column: auto/span 9;
    width: auto;
  }
  .uq-grid__col--md-4, .uq-grid--quarters > .uq-grid__col, .uq-grid--thirds > .uq-grid__col, .uq-grid--halves > .uq-grid__col {
    grid-column: auto/span 12;
    width: auto;
  }
  .uq-grid__col--md-5, .uq-grid--golden > .uq-grid__col:nth-child(odd) {
    grid-column: auto/span 15;
    width: auto;
  }
  .uq-grid__col--md-6 {
    grid-column: auto/span 18;
    width: auto;
  }
  .uq-grid__col--md-7 {
    grid-column: auto/span 21;
    width: auto;
  }
  .uq-grid__col--md-8 {
    grid-column: auto/span 24;
    width: auto;
  }
}
.uq-grid__col--1 {
  width: 16.6666666667%;
}
.uq-grid__col--2 {
  width: 33.3333333333%;
}
.uq-grid__col--3 {
  width: 50%;
}
.uq-grid__col--4 {
  width: 66.6666666667%;
}
.uq-grid__col--5 {
  width: 83.3333333333%;
}
.uq-grid__col--6, .uq-grid--quarters > .uq-grid__col, .uq-grid--thirds > .uq-grid__col, .uq-grid--halves > .uq-grid__col, .uq-grid--golden > .uq-grid__col:nth-child(even), .uq-grid--golden > .uq-grid__col:nth-child(odd) {
  width: 100%;
}

@supports (display: grid) {
  .uq-grid__col--1 {
    grid-column: auto/span 4;
    width: auto;
  }
  .uq-grid__col--2 {
    grid-column: auto/span 8;
    width: auto;
  }
  .uq-grid__col--3 {
    grid-column: auto/span 12;
    width: auto;
  }
  .uq-grid__col--4 {
    grid-column: auto/span 16;
    width: auto;
  }
  .uq-grid__col--5 {
    grid-column: auto/span 20;
    width: auto;
  }
  .uq-grid__col--6, .uq-grid--quarters > .uq-grid__col, .uq-grid--thirds > .uq-grid__col, .uq-grid--halves > .uq-grid__col, .uq-grid--golden > .uq-grid__col:nth-child(even), .uq-grid--golden > .uq-grid__col:nth-child(odd) {
    grid-column: auto/span 24;
    width: auto;
  }
}
@media (min-width: 37.5rem) {
  .uq-grid__col--xl-1 {
    width: 8.3333333333%;
  }
  .uq-grid__col--xl-2 {
    width: 16.6666666667%;
  }
  .uq-grid__col--xl-3, .uq-grid--quarters > .uq-grid__col {
    width: 25%;
  }
  .uq-grid__col--xl-4, .uq-grid--thirds > .uq-grid__col, .uq-grid--golden > .uq-grid__col:nth-child(even) {
    width: 33.3333333333%;
  }
  .uq-grid__col--xl-5 {
    width: 41.6666666667%;
  }
  .uq-grid__col--xl-6 {
    width: 50%;
  }
  .uq-grid__col--xl-7, .uq-grid--golden > .uq-grid__col:nth-child(odd) {
    width: 58.3333333333%;
  }
  .uq-grid__col--xl-8 {
    width: 66.6666666667%;
  }
  .uq-grid__col--xl-9 {
    width: 75%;
  }
  .uq-grid__col--xl-10 {
    width: 83.3333333333%;
  }
  .uq-grid__col--xl-11 {
    width: 91.6666666667%;
  }
  .uq-grid__col--xl-12 {
    width: 100%;
  }

  @supports (display: grid) {
    .uq-grid__col--xl-1 {
      grid-column: auto/span 2;
      width: auto;
    }
    .uq-grid__col--xl-2 {
      grid-column: auto/span 4;
      width: auto;
    }
    .uq-grid__col--xl-3, .uq-grid--quarters > .uq-grid__col {
      grid-column: auto/span 6;
      width: auto;
    }
    .uq-grid__col--xl-4, .uq-grid--thirds > .uq-grid__col, .uq-grid--golden > .uq-grid__col:nth-child(even) {
      grid-column: auto/span 8;
      width: auto;
    }
    .uq-grid__col--xl-5 {
      grid-column: auto/span 10;
      width: auto;
    }
    .uq-grid__col--xl-6 {
      grid-column: auto/span 12;
      width: auto;
    }
    .uq-grid__col--xl-7, .uq-grid--golden > .uq-grid__col:nth-child(odd) {
      grid-column: auto/span 14;
      width: auto;
    }
    .uq-grid__col--xl-8 {
      grid-column: auto/span 16;
      width: auto;
    }
    .uq-grid__col--xl-9 {
      grid-column: auto/span 18;
      width: auto;
    }
    .uq-grid__col--xl-10 {
      grid-column: auto/span 20;
      width: auto;
    }
    .uq-grid__col--xl-11 {
      grid-column: auto/span 22;
      width: auto;
    }
    .uq-grid__col--xl-12 {
      grid-column: auto/span 24;
      width: auto;
    }
  }
  .uq-grid__col--md-1 {
    width: 12.5%;
  }
  .uq-grid__col--md-2, .uq-grid--golden > .uq-grid__col:nth-child(even) {
    width: 25%;
  }
  .uq-grid__col--md-3 {
    width: 37.5%;
  }
  .uq-grid__col--md-4, .uq-grid--quarters > .uq-grid__col, .uq-grid--thirds > .uq-grid__col, .uq-grid--halves > .uq-grid__col {
    width: 50%;
  }
  .uq-grid__col--md-5, .uq-grid--golden > .uq-grid__col:nth-child(odd) {
    width: 62.5%;
  }
  .uq-grid__col--md-6 {
    width: 75%;
  }
  .uq-grid__col--md-7 {
    width: 87.5%;
  }
  .uq-grid__col--md-8 {
    width: 100%;
  }

  @supports (display: grid) {
    .uq-grid__col--md-1 {
      grid-column: auto/span 3;
      width: auto;
    }
    .uq-grid__col--md-2, .uq-grid--golden > .uq-grid__col:nth-child(even) {
      grid-column: auto/span 6;
      width: auto;
    }
    .uq-grid__col--md-3 {
      grid-column: auto/span 9;
      width: auto;
    }
    .uq-grid__col--md-4, .uq-grid--quarters > .uq-grid__col, .uq-grid--thirds > .uq-grid__col, .uq-grid--halves > .uq-grid__col {
      grid-column: auto/span 12;
      width: auto;
    }
    .uq-grid__col--md-5, .uq-grid--golden > .uq-grid__col:nth-child(odd) {
      grid-column: auto/span 15;
      width: auto;
    }
    .uq-grid__col--md-6 {
      grid-column: auto/span 18;
      width: auto;
    }
    .uq-grid__col--md-7 {
      grid-column: auto/span 21;
      width: auto;
    }
    .uq-grid__col--md-8 {
      grid-column: auto/span 24;
      width: auto;
    }
  }
}
@media (min-width: 75rem) {
  .uq-grid__col--xl-1 {
    width: 8.3333333333%;
  }
  .uq-grid__col--xl-2 {
    width: 16.6666666667%;
  }
  .uq-grid__col--xl-3, .uq-grid--quarters > .uq-grid__col {
    width: 25%;
  }
  .uq-grid__col--xl-4, .uq-grid--thirds > .uq-grid__col, .uq-grid--golden > .uq-grid__col:nth-child(even) {
    width: 33.3333333333%;
  }
  .uq-grid__col--xl-5 {
    width: 41.6666666667%;
  }
  .uq-grid__col--xl-6 {
    width: 50%;
  }
  .uq-grid__col--xl-7, .uq-grid--golden > .uq-grid__col:nth-child(odd) {
    width: 58.3333333333%;
  }
  .uq-grid__col--xl-8 {
    width: 66.6666666667%;
  }
  .uq-grid__col--xl-9 {
    width: 75%;
  }
  .uq-grid__col--xl-10 {
    width: 83.3333333333%;
  }
  .uq-grid__col--xl-11 {
    width: 91.6666666667%;
  }
  .uq-grid__col--xl-12 {
    width: 100%;
  }

  @supports (display: grid) {
    .uq-grid__col--xl-1 {
      grid-column: auto/span 2;
      width: auto;
    }
    .uq-grid__col--xl-2 {
      grid-column: auto/span 4;
      width: auto;
    }
    .uq-grid__col--xl-3, .uq-grid--quarters > .uq-grid__col {
      grid-column: auto/span 6;
      width: auto;
    }
    .uq-grid__col--xl-4, .uq-grid--thirds > .uq-grid__col, .uq-grid--golden > .uq-grid__col:nth-child(even) {
      grid-column: auto/span 8;
      width: auto;
    }
    .uq-grid__col--xl-5 {
      grid-column: auto/span 10;
      width: auto;
    }
    .uq-grid__col--xl-6 {
      grid-column: auto/span 12;
      width: auto;
    }
    .uq-grid__col--xl-7, .uq-grid--golden > .uq-grid__col:nth-child(odd) {
      grid-column: auto/span 14;
      width: auto;
    }
    .uq-grid__col--xl-8 {
      grid-column: auto/span 16;
      width: auto;
    }
    .uq-grid__col--xl-9 {
      grid-column: auto/span 18;
      width: auto;
    }
    .uq-grid__col--xl-10 {
      grid-column: auto/span 20;
      width: auto;
    }
    .uq-grid__col--xl-11 {
      grid-column: auto/span 22;
      width: auto;
    }
    .uq-grid__col--xl-12 {
      grid-column: auto/span 24;
      width: auto;
    }
  }
}
/**
 * Flexible Grid (modifier class)
 */
.uq-grid--flexible > .uq-grid__col {
  flex: 1 0 15.625rem;
  max-width: 100%;
  width: auto;
}
@supports (display: grid) {
  .uq-grid--flexible {
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  }
}

/**
 * Golden layout (modifier class)
 */
@media (min-width: 37.5rem) {
  .uq-grid--golden > .uq-grid__col:nth-child(even) {
    margin-left: 12.5%;
  }
  @supports (display: grid) {
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
      margin-left: 0;
      grid-column-start: 18;
    }
  }
}
@media (min-width: 75rem) {
  .uq-grid--golden > .uq-grid__col:nth-child(even) {
    margin-left: 8.3333333333%;
  }
  @supports (display: grid) {
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
      margin-left: 0;
      grid-column-start: 18;
    }
  }
}

/**
 * Set column grids (modifier classes)
 */
/**
 * Scroll small grid (WIP)
 * A grid the scrolls horizontally on mobile. Useful for holding cards.
 */
@media (max-width: 63.9375rem) {
  .uq-grid--scroll-small {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }
  .uq-grid--scroll-small .uq-grid__col {
    flex: 1 0 18.75rem;
    margin-right: 1.5rem;
  }
}
/**
 * Layout container
 */
.uq-layout-container {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (min-width: 32.5rem) {
  .uq-layout-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 30.5rem;
  }
}
@media (min-width: 37.5rem) {
  .uq-layout-container {
    margin-left: 3.25rem;
    margin-right: 3.25rem;
    max-width: none;
  }
}
@media (min-width: 64.25rem) {
  .uq-layout-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 57.75rem;
  }
}
@media (min-width: 75rem) {
  .uq-layout-container {
    margin-left: 8.375rem;
    margin-right: 8.375rem;
    max-width: none;
  }
}
@media (min-width: 90rem) {
  .uq-layout-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 73.25rem;
  }
}
@media (min-width: 37.5rem) {
  .uq-layout-container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
@media (min-width: 75rem) {
  .uq-layout-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.uq-layout-container .uq-grid {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  max-width: none;
}
@media (min-width: 37.5rem) {
  .uq-layout-container .uq-grid {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
}
@media (min-width: 75rem) {
  .uq-layout-container .uq-grid {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

body {
  color: #2b2a29;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
}

/**
 * TODO: user should be able to configure whether or not they want this
 * normalised or we remove it and make sure our packages are self-contained w/
 * this style rule.
 */
*, *::before, *::after {
  box-sizing: border-box;
}

.margin--reset {
  margin: 0;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #000;
}

.link {
  background-color: #1E72C6;
}

.purple {
  background-color: #51247A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.4;
  color: #51247A;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

h4 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

h5 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

b,
strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

blockquote {
  margin: 0 0 1.5rem;
  padding-left: 1.5rem;
  border-left: 6px solid #2b2a29;
  font-family: "Merriweather", Georgia, serif;
  font-style: italic;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}
ol li,
ul li {
  margin-bottom: 1rem;
}
ol li:last-child,
ul li:last-child {
  margin-bottom: 0;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}
dl dt {
  color: #51247A;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 500;
}
dl dd {
  margin-left: 0;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
}

a {
  color: #1E72C6;
  text-decoration: none;
  transition: 0.2s color;
}
a:hover {
  color: #1E72C6;
  text-decoration: underline;
}

.text--reverse {
  color: #fff;
}
.text--primary {
  color: #51247A;
}
.text--purple-light {
  color: #962A8B;
}
.text--black {
  color: #000;
}
.text--white {
  color: #fff;
}
.text--error {
  color: #951126;
}
.text--xxxxl {
  font-size: 2.5rem;
}
.text--xxxl {
  font-size: 2rem;
}
.text--xxl {
  font-size: 1.5rem;
}
.text--xl {
  font-size: 1.25rem;
}
.text--l {
  font-size: 1.125rem;
}
.text--m {
  font-size: 1rem;
}
.text--s {
  font-size: 0.875rem;
}
.text--xs {
  font-size: 0.75rem;
}
.text--weight-normal {
  font-weight: 400;
}
.text--weight-bold {
  font-weight: 500;
}
.text--weight-medium {
  font-weight: 500;
}
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.text--center {
  text-align: center;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--accent {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 400;
  font-style: italic;
}
.text--shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none !important;
}
@media (max-width: 37.4375rem) {
  .hidden--mobile-only {
    display: none !important;
  }
}
@media (min-width: 37.5rem) {
  .hidden--md, .hidden--tablet {
    display: none !important;
  }
}
@media (min-width: 75rem) {
  .hidden--xl, .hidden--desktop {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
  margin: 0;
  padding: 0;
}

/* button Default */
.uq-button {
  background-color: #1E72C6;
  border: 2px solid #1E72C6;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  padding: 0.5rem 1.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease-out;
  /* button secondary */
  /* button purple */
  /* button sizes */
}
.uq-button *, .uq-button *::before, .uq-button *::after {
  box-sizing: border-box;
}
.uq-button:hover, .uq-button:focus {
  background-color: #005ea5;
  border-color: #005ea5;
  color: #fff;
  text-decoration: underline;
}
.uq-button.uq-button--outline {
  background-color: transparent;
  border-color: #1E72C6;
  color: #1E72C6;
}
.uq-button.uq-button--outline:hover, .uq-button.uq-button--outline:focus {
  background-color: #005ea5;
  border-color: #005ea5;
  color: #fff;
}
.uq-button.uq-button--text {
  background-color: transparent;
  border-color: transparent;
  color: #1E72C6;
}
.uq-button.uq-button--text:hover, .uq-button.uq-button--text:focus {
  background-color: transparent;
  border-color: transparent;
  color: #005ea5;
}
.uq-button--secondary {
  background-color: #D7D1CC;
  border-color: #D7D1CC;
  color: #2b2a29;
}
.uq-button--secondary:hover, .uq-button--secondary:focus {
  background-color: #aca7a3;
  border-color: #aca7a3;
  color: #000;
}
.uq-button--secondary.uq-button--outline {
  background-color: transparent;
  border-color: #D7D1CC;
  color: #2b2a29;
}
.uq-button--secondary.uq-button--outline:hover, .uq-button--secondary.uq-button--outline:focus {
  background-color: #aca7a3;
  border-color: #aca7a3;
  color: #2b2a29;
}
.uq-button--secondary.uq-button--outline.uq-button--light {
  color: #D7D1CC;
}
.uq-button--secondary.uq-button--outline.uq-button--light:hover, .uq-button--secondary.uq-button--outline.uq-button--light:focus {
  color: #2b2a29;
}
.uq-button--secondary.uq-button--text {
  background-color: transparent;
  border-color: transparent;
  color: #2b2a29;
}
.uq-button--secondary.uq-button--text:hover, .uq-button--secondary.uq-button--text:focus {
  background-color: transparent;
  border-color: transparent;
  color: #000;
}
.uq-button--secondary.uq-button--text.uq-button--light {
  color: #D7D1CC;
}
.uq-button--secondary.uq-button--text.uq-button--light:hover, .uq-button--secondary.uq-button--text.uq-button--light:focus {
  color: #aca7a3;
}
.uq-button--purple {
  background-color: #51247A;
  border-color: #51247A;
  color: #fff;
}
.uq-button--purple:hover, .uq-button--purple:focus {
  background-color: #371853;
  border-color: #371853;
  color: #fff;
}
.uq-button--purple.uq-button--outline {
  background-color: transparent;
  border-color: #51247A;
  color: #51247A;
}
.uq-button--purple.uq-button--outline:hover, .uq-button--purple.uq-button--outline:focus {
  background-color: #371853;
  border-color: #371853;
  color: #fff;
}
.uq-button--purple.uq-button--outline.uq-button--light {
  color: #51247A;
}
.uq-button--purple.uq-button--outline.uq-button--light:hover, .uq-button--purple.uq-button--outline.uq-button--light:focus {
  color: #fff;
}
.uq-button--purple.uq-button--text {
  background-color: transparent;
  border-color: transparent;
  color: #51247A;
}
.uq-button--purple.uq-button--text:hover, .uq-button--purple.uq-button--text:focus {
  background-color: transparent;
  border-color: transparent;
  color: #371853;
}
.uq-button--purple.uq-button--text.uq-button--light {
  color: #51247A;
}
.uq-button--purple.uq-button--text.uq-button--light:hover, .uq-button--purple.uq-button--text.uq-button--light:focus {
  color: #371853;
}
.uq-button--tiny {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}
.uq-button--small {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}
.uq-button--large {
  font-size: 1.125rem;
  padding: 1rem 2.5rem;
}
.uq-button--expand {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.uq-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  border: 1px solid #efedeb;
  border-radius: 0.25rem;
  color: #565452;
  line-height: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.uq-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-indent: -1000%;
  box-shadow: 0 0.25rem 0.25rem rgba(43, 42, 41, 0.05);
  transition: all ease 0.25s;
  z-index: 10;
}
.uq-card__link:hover, .uq-card__link:focus {
  box-shadow: 0 0.5rem 1rem rgba(43, 42, 41, 0.15);
}
.uq-card__image-wrapper {
  max-height: 190px;
  overflow: hidden;
}
@media (min-width: 37.5rem) {
  .uq-card__image-wrapper {
    max-height: 15rem;
  }
}
.uq-card__image {
  position: relative;
  padding-bottom: 70%;
  overflow: hidden;
}
.uq-card__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 0;
}
.uq-card__content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.uq-card__content {
  flex-grow: 1;
  padding: 1.5rem;
}
.uq-card__content :last-child .uq-card__title {
  margin-bottom: 0;
}
.uq-card__header :last-child {
  margin: 0 0 0.5rem;
}
.uq-card__body p:last-child {
  margin-bottom: 0;
}
.uq-card__actions {
  padding: 0 1.5rem 1.5rem;
}
.uq-card__actions p:last-child {
  margin-bottom: 0;
}
.uq-card__title {
  font-size: 1.25rem;
  color: #2b2a29;
  margin: 0 0 0.5rem;
}
@media (min-width: 37.5rem) {
  .uq-card__title {
    font-size: 1.5rem;
  }
}
.uq-card__title-super {
  font-size: 0.875rem;
  font-weight: 500;
  color: #962A8B;
  text-transform: uppercase;
  margin: 0 0 0.5rem;
}
@media (min-width: 37.5rem) {
  .uq-card__title-super {
    font-size: 1rem;
  }
}
.uq-card__title-super--grey {
  font-weight: 400;
  color: #565452;
}
.uq-card--shaded {
  background-color: #f7f6f5;
}

/* Additional style rules */
@media (max-width: 37.4375rem) {
  .uq-grid__col:first-child:nth-last-child(3) .uq-card--story, .uq-grid__col:first-child:nth-last-child(3) .uq-card--event, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event {
    flex-direction: row;
    padding-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #efedeb;
    box-shadow: 0 0.25rem 0.25rem rgba(43, 42, 41, 0);
  }
  .uq-grid__col:first-child:nth-last-child(3) .uq-card--story:hover, .uq-grid__col:first-child:nth-last-child(3) .uq-card--story:focus, .uq-grid__col:first-child:nth-last-child(3) .uq-card--event:hover, .uq-grid__col:first-child:nth-last-child(3) .uq-card--event:focus, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story:hover, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story:focus, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event:hover, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event:focus {
    box-shadow: 0 0.5rem 0.5rem rgba(43, 42, 41, 0.1);
  }
  .uq-grid__col:first-child:nth-last-child(3) .uq-card--story .uq-card__image__wrapper, .uq-grid__col:first-child:nth-last-child(3) .uq-card--event .uq-card__image__wrapper, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story .uq-card__image__wrapper, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event .uq-card__image__wrapper {
    min-width: 98px;
    min-height: 100%;
  }
  .uq-grid__col:first-child:nth-last-child(3) .uq-card--story .uq-card__image, .uq-grid__col:first-child:nth-last-child(3) .uq-card--event .uq-card__image, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story .uq-card__image, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event .uq-card__image {
    min-height: 100%;
    padding-bottom: 0%;
  }
  .uq-grid__col:first-child:nth-last-child(3) .uq-card--story .uq-card__content__wrapper, .uq-grid__col:first-child:nth-last-child(3) .uq-card--event .uq-card__content__wrapper, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story .uq-card__content__wrapper, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event .uq-card__content__wrapper {
    min-width: 50%;
  }
  .uq-grid__col:first-child:nth-last-child(3) .uq-card--story .uq-card__content, .uq-grid__col:first-child:nth-last-child(3) .uq-card--event .uq-card__content, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story .uq-card__content, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event .uq-card__content {
    padding: 0 1rem;
  }
  .uq-grid__col:first-child:nth-last-child(3) .uq-card--story .uq-card__title, .uq-grid__col:first-child:nth-last-child(3) .uq-card--event .uq-card__title, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story .uq-card__title, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event .uq-card__title {
    margin: 0 0 0.5rem;
  }
  .uq-grid__col:first-child:nth-last-child(3) .uq-card--story .uq-card__body, .uq-grid__col:first-child:nth-last-child(3) .uq-card--event .uq-card__body, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story .uq-card__body, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event .uq-card__body {
    display: none;
  }
  .uq-grid__col:first-child:nth-last-child(3) .uq-card--story .uq-card__actions, .uq-grid__col:first-child:nth-last-child(3) .uq-card--event .uq-card__actions, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--story .uq-card__actions, .uq-grid__col:first-child:nth-last-child(3) ~ .uq-grid__col .uq-card--event .uq-card__actions {
    padding: 0 1rem 0;
  }
  .uq-grid__col:first-child:nth-last-child(4) .uq-card--story, .uq-grid__col:first-child:nth-last-child(4) .uq-card--event, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event {
    flex-direction: row;
    padding-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #efedeb;
    box-shadow: 0 0.25rem 0.25rem rgba(43, 42, 41, 0);
  }
  .uq-grid__col:first-child:nth-last-child(4) .uq-card--story:hover, .uq-grid__col:first-child:nth-last-child(4) .uq-card--story:focus, .uq-grid__col:first-child:nth-last-child(4) .uq-card--event:hover, .uq-grid__col:first-child:nth-last-child(4) .uq-card--event:focus, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story:hover, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story:focus, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event:hover, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event:focus {
    box-shadow: 0 0.5rem 0.5rem rgba(43, 42, 41, 0.1);
  }
  .uq-grid__col:first-child:nth-last-child(4) .uq-card--story .uq-card__image__wrapper, .uq-grid__col:first-child:nth-last-child(4) .uq-card--event .uq-card__image__wrapper, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story .uq-card__image__wrapper, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event .uq-card__image__wrapper {
    min-width: 98px;
    min-height: 100%;
  }
  .uq-grid__col:first-child:nth-last-child(4) .uq-card--story .uq-card__image, .uq-grid__col:first-child:nth-last-child(4) .uq-card--event .uq-card__image, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story .uq-card__image, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event .uq-card__image {
    min-height: 100%;
    padding-bottom: 0%;
  }
  .uq-grid__col:first-child:nth-last-child(4) .uq-card--story .uq-card__content__wrapper, .uq-grid__col:first-child:nth-last-child(4) .uq-card--event .uq-card__content__wrapper, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story .uq-card__content__wrapper, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event .uq-card__content__wrapper {
    min-width: 50%;
  }
  .uq-grid__col:first-child:nth-last-child(4) .uq-card--story .uq-card__content, .uq-grid__col:first-child:nth-last-child(4) .uq-card--event .uq-card__content, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story .uq-card__content, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event .uq-card__content {
    padding: 0 1rem;
  }
  .uq-grid__col:first-child:nth-last-child(4) .uq-card--story .uq-card__title, .uq-grid__col:first-child:nth-last-child(4) .uq-card--event .uq-card__title, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story .uq-card__title, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event .uq-card__title {
    margin: 0 0 0.5rem;
  }
  .uq-grid__col:first-child:nth-last-child(4) .uq-card--story .uq-card__body, .uq-grid__col:first-child:nth-last-child(4) .uq-card--event .uq-card__body, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story .uq-card__body, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event .uq-card__body {
    display: none;
  }
  .uq-grid__col:first-child:nth-last-child(4) .uq-card--story .uq-card__actions, .uq-grid__col:first-child:nth-last-child(4) .uq-card--event .uq-card__actions, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--story .uq-card__actions, .uq-grid__col:first-child:nth-last-child(4) ~ .uq-grid__col .uq-card--event .uq-card__actions {
    padding: 0 1rem 0;
  }
}
@media (min-width: 37.5rem) {
  .uq-grid__col--md-8 .uq-card, .uq-grid__col--xl-12 .uq-card {
    flex-direction: row;
  }
}
.uq-grid__col--md-8 .uq-card__image-wrapper, .uq-grid__col--xl-12 .uq-card__image-wrapper {
  min-width: 100%;
  overflow: hidden;
}
@media (min-width: 37.5rem) {
  .uq-grid__col--md-8 .uq-card__image-wrapper, .uq-grid__col--xl-12 .uq-card__image-wrapper {
    min-width: 50%;
    max-height: 100%;
  }
}
.uq-grid__col--md-8 .uq-card__image, .uq-grid__col--xl-12 .uq-card__image {
  padding-bottom: 70%;
}
@media (min-width: 37.5rem) {
  .uq-grid__col--md-8 .uq-card__image, .uq-grid__col--xl-12 .uq-card__image {
    min-height: 100%;
    padding-bottom: 0%;
  }
}
.uq-grid__col--md-8 .uq-card__content-wrapper, .uq-grid__col--xl-12 .uq-card__content-wrapper {
  min-width: 100%;
}
@media (min-width: 37.5rem) {
  .uq-grid__col--md-8 .uq-card__content-wrapper, .uq-grid__col--xl-12 .uq-card__content-wrapper {
    min-width: 50%;
  }
}
.uq-grid__col--md-8 .uq-card__content, .uq-grid__col--xl-12 .uq-card__content {
  padding: 1.5rem;
}
@media (min-width: 37.5rem) {
  .uq-grid__col--md-8 .uq-card__content, .uq-grid__col--xl-12 .uq-card__content {
    padding: 3.5rem 3.5rem 1.5rem;
  }
}
.uq-grid__col--md-8 .uq-card__body p, .uq-grid__col--xl-12 .uq-card__body p {
  white-space: normal;
  overflow: hidden;
  max-height: 75px;
}
.uq-grid__col--md-8 .uq-card__actions, .uq-grid__col--xl-12 .uq-card__actions {
  padding: 0 1.5rem 1.5rem;
}
@media (min-width: 37.5rem) {
  .uq-grid__col--md-8 .uq-card__actions, .uq-grid__col--xl-12 .uq-card__actions {
    padding: 0 3.5rem 3.5rem;
  }
}

.height-non-equalised .uq-card {
  height: auto;
}

form,
fieldset,
legend,
label,
input,
select,
textarea,
.uq-error-summary,
.uq-error-message,
.uq-success-message,
.uq-inline-help {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

fieldset::before, fieldset::after,
fieldset *, fieldset *::before, fieldset *::after,
legend::before,
legend::after,
legend *,
legend *::before,
legend *::after,
label::before,
label::after,
label *,
label *::before,
label *::after,
input::before,
input::after,
input *,
input *::before,
input *::after,
select::before,
select::after,
select *,
select *::before,
select *::after,
textarea::before,
textarea::after,
textarea *,
textarea *::before,
textarea *::after {
  box-sizing: border-box;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

label,
legend {
  color: #2b2a29;
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
}

legend {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.4;
  padding: 0;
}
legend.uq-legend--error {
  color: #951126;
}
legend .uq-legend__required {
  color: #951126;
}

label {
  cursor: pointer;
  line-height: 1;
}
label.uq-label--inline {
  align-items: center;
  display: inline-flex;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
label.uq-label--inline input:not([type=checkbox]):not([type=radio]):not([type=submit]),
label.uq-label--inline select,
label.uq-label--inline textarea,
label.uq-label--inline + input:not([type=checkbox]):not([type=radio]):not([type=submit]),
label.uq-label--inline + select,
label.uq-label--inline + textarea {
  max-width: none;
  min-width: 200px;
  margin-left: 1rem;
  margin-right: 1.5rem;
}
label.uq-label--inline input:not([type=checkbox]):not([type=radio]):not([type=submit]),
label.uq-label--inline select,
label.uq-label--inline textarea {
  margin-top: 0;
  margin-bottom: 0;
}
label.uq-label--disabled, label.uq-label--readonly {
  color: #aca7a3;
}
label.uq-label--disabled {
  cursor: not-allowed;
}
label.uq-label--error {
  color: #951126;
}
label.uq-label--success {
  color: #238029;
}
label input:not([type=checkbox]):not([type=radio]),
label select,
label textarea,
label + input:not([type=checkbox]):not([type=radio]),
label + select,
label + textarea {
  margin-top: 0.5rem;
}
label input[type=radio] + *:not(input):not(select):not(textarea),
label input[type=checkbox] + *:not(input):not(select):not(textarea) {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  padding-top: 0.25rem;
  vertical-align: top;
}
label input[type=radio][disabled] + *:not(input):not(select):not(textarea),
label input[type=checkbox][disabled] + *:not(input):not(select):not(textarea) {
  opacity: 0.5;
}
label .uq-label__required {
  color: #951126;
}

input[disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]),
select,
textarea {
  background-color: #fff;
  max-width: 100%;
  min-width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #e7e3e0;
  border-radius: 2px;
  font-size: 1rem;
  color: #2b2a29;
  line-height: 1;
  margin-bottom: 1.5rem;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]):focus,
select:focus,
textarea:focus {
  border-color: #1E72C6;
  box-shadow: 0 0 0 1px #1E72C6 inset;
  outline: none;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit])[disabled],
select[disabled],
textarea[disabled] {
  color: #817d7a;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit])[readonly]:focus,
select[readonly]:focus,
textarea[readonly]:focus {
  border-color: #e7e3e0;
  box-shadow: 0 0 0 1px #e7e3e0 inset;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit])::placeholder,
select::placeholder,
textarea::placeholder {
  color: #817d7a;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).uq-input--error, input:not([type=checkbox]):not([type=radio]):not([type=submit]).uq-input--success,
select.uq-input--error,
select.uq-input--success,
textarea.uq-input--error,
textarea.uq-input--success {
  border-radius: 2px;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).uq-input--error:focus, input:not([type=checkbox]):not([type=radio]):not([type=submit]).uq-input--success:focus,
select.uq-input--error:focus,
select.uq-input--success:focus,
textarea.uq-input--error:focus,
textarea.uq-input--success:focus {
  border-color: #1E72C6;
  box-shadow: 0 2px 0 0 #1E72C6, 0 0 0 1px #1E72C6 inset;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).uq-input--error,
select.uq-input--error,
textarea.uq-input--error {
  border-color: #951126;
  box-shadow: 0 2px 0 0 #951126;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).uq-input--success,
select.uq-input--success,
textarea.uq-input--success {
  border-color: #238029;
  box-shadow: 0 2px 0 0 #238029;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]).uq-input--large,
select.uq-input--large,
textarea.uq-input--large {
  padding: 1.15625rem 1.5rem;
  border-radius: 0.25rem;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]) + .uq-error-message,
input:not([type=checkbox]):not([type=radio]):not([type=submit]) + .uq-success-message,
select + .uq-error-message,
select + .uq-success-message,
textarea + .uq-error-message,
textarea + .uq-success-message {
  margin-top: -1.5rem;
  border-radius: 0 0 2px 2px;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2351247A'%3e%3cpath d='M14.285 5.145l-6 6.167a.41.41 0 01-.598 0L1.715 5.145' fill='none' stroke='%2351247A' stroke-width='.75' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  cursor: pointer;
  line-height: 1.2;
}
select:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%231E72C6'%3e%3cpath d='M14.285 5.145l-6 6.167a.41.41 0 01-.598 0L1.715 5.145' fill='none' stroke='%231E72C6' stroke-width='.75' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
}
select[multiple] {
  height: auto;
  background-image: none;
}
select[multiple]:focus {
  background-image: none;
}
select[disabled] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23e7e3e0'%3e%3cpath d='M14.285 5.145l-6 6.167a.41.41 0 01-.598 0L1.715 5.145' fill='none' stroke='%23e7e3e0' stroke-width='.75' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
}

textarea {
  height: 10rem;
}

input[type=radio],
input[type=checkbox] {
  appearance: none;
  display: inline-block;
  border: 1px solid #e7e3e0;
  cursor: pointer;
  height: 24px;
  width: 24px;
  vertical-align: top;
}
input[type=radio]:focus,
input[type=checkbox]:focus {
  border-color: #1E72C6;
  box-shadow: 0 0 0 1px #1E72C6;
  outline: none;
}
input[type=radio] + label,
input[type=checkbox] + label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  padding-top: 0.25rem;
  vertical-align: top;
}
input[type=radio]:checked,
input[type=checkbox]:checked {
  border-color: #565452;
}
input[type=radio]:checked:focus,
input[type=checkbox]:checked:focus {
  border-color: #1E72C6;
  box-shadow: 0 0 0 1px #1E72C6;
}
input[type=radio].uq-input--error,
input[type=checkbox].uq-input--error {
  border-color: #951126;
}
input[type=radio].uq-input--error:focus,
input[type=checkbox].uq-input--error:focus {
  border-color: #1E72C6;
  box-shadow: 0 0 0 1px #1E72C6;
}
input[type=radio].uq-input--error:checked,
input[type=checkbox].uq-input--error:checked {
  border-color: #951126;
}
input[type=radio].uq-input--error:checked:focus,
input[type=checkbox].uq-input--error:checked:focus {
  border-color: #1E72C6;
  box-shadow: 0 0 0 1px #1E72C6;
}
input[type=radio][disabled],
input[type=checkbox][disabled] {
  cursor: not-allowed;
}
input[type=radio][disabled] + label,
input[type=checkbox][disabled] + label {
  opacity: 0.5;
}

input[type=checkbox] {
  border-radius: 4px;
  position: relative;
}
input[type=checkbox]::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  top: -1px;
  left: -1px;
  height: 24px;
  width: 24px;
}
input[type=checkbox]:checked {
  background-color: #565452;
}
input[type=checkbox]:checked::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff'%3e%3cpath d='M5.6 9.6L2.4 6.4 0 8.8l5.6 5.6L16 4l-2.4-2.4z'%3e%3c/path%3e%3c/svg%3e");
}
input[type=checkbox].uq-input--error:checked {
  background-color: #951126;
}

input[type=radio] {
  border-radius: 50%;
  position: relative;
}
input[type=radio]:checked {
  border-width: 2px;
}
input[type=radio]:checked::after {
  border-radius: 50%;
  background-color: #565452;
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  height: 14px;
  width: 14px;
}
input[type=radio].uq-input--error:checked {
  border-color: #951126;
}
input[type=radio].uq-input--error:checked::after {
  background-color: #951126;
}

[type=submit] {
  appearance: none;
}

.uq-error-summary {
  background-color: white;
  border: 1px solid #951126;
  border-left-width: 0.25rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.uq-error-summary__title {
  color: #2b2a29;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 1rem 0;
}
.uq-error-summary_body {
  color: #2b2a29;
  font-size: 1rem;
}
.uq-error-summary__list {
  color: #2b2a29;
  font-size: 1rem;
  margin: 0;
}
.uq-error-summary__list__item {
  margin-bottom: 0.25rem;
  line-height: 1.5;
}
.uq-error-summary__list a {
  color: #951126;
  text-decoration: underline;
  font-weight: 400;
}
.uq-error-summary__list a:hover, .uq-error-summary__list a:focus {
  color: #7e0f21;
}

.uq-error-message,
.uq-success-message {
  color: #fff;
  display: block;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  padding: calc(0.5rem - 1px) 1rem 0.5rem 3rem;
  position: relative;
}
.uq-error-message::before,
.uq-success-message::before {
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1rem;
  left: 1rem;
  margin-right: 0.5rem;
  margin-top: calc(-0.5rem - 1px);
  position: absolute;
  top: 50%;
  width: 1rem;
}

.uq-error-message {
  background-color: #951126;
}
.uq-error-message::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 140' width='140' height='140' fill='%23fff'%3e%3cpath d='M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z'%3e%3c/path%3e%3c/svg%3e");
}

.uq-success-message {
  background-color: #238029;
}
.uq-success-message::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 140' width='140' height='140' fill='%23fff'%3e%3cpath d='M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm36 59L66.24 98.74a10 10 0 01-14.15 0L34 80.68a10.013 10.013 0 0114.18-14.14l11 11 32.64-32.67A10.01 10.01 0 01106 59z'%3e%3c/path%3e%3c/svg%3e");
}

.uq-inline-help {
  display: block;
  font-size: 0.75rem;
  margin: 0 0 1rem;
}