/* starting locationItems */

prm-location-items {
    .tab-content-header {
        .md-title {
            font-size: 1.1em;
        }
        p,
        .md-title {
            margin-bottom: 0.35em;
        }
    }
    .summary-brief-header {
        display: inline-block;
        min-width: 10em;
    }
    .summary-brief {
        max-width: 50em;
        @extend %text-trim-ellipsis;
        white-space: normal;
    }
    button[aria-label="Collapse items"] prm-icon md-icon,
    button[aria-label="Expand items"] prm-icon md-icon,
    button prm-icon[aria-label="Remove filtering"],
    button prm-icon[aria-label="Filtering options"] md-icon {
        color: $accent-color !important;
    }

  button.md-mini,
  button.expand-collapse-button {
    &._md-focused,
    &.hovered,
    &.md-focused,
    &:focus,
    &:hover {
      color: #000;
      background-color: rgba(51, 51, 51, 0.1) !important;
    }
  }


    md-list {
        @extend .default-shadow;
        margin-bottom: 1em;
        padding: 0;
        prm-service-button {
            .md-button,
            .md-button.button-as-link {
                padding: 0.5em 0.35em;
                // text-transform: uppercase;
                // font-size: .85em;
                // font-weight: 600;
            }
            + prm-service-button {
                &:before {
                    @extend .skewed-divider;
                }
            }
        }

        md-list-item {
            ._md-secondary-container {
                .__xs & {
                    margin-bottom: 3em;
                }
            }
            .md-list-item-text {
                .__xs & {
                    overflow: visible;
                    > div:last-child {
                        position: relative;
                        right: -3em;
                    }
                }
            }

            button.item-expand-button {
                &:focus,
                &:hover {
                    &:not([disabled]) {
                        color: $white;
                        background-color: $accent-color;
                    }
                }
            }
        }
    }

    prm-location-holdings .summary-brief-header {
        min-width: 0;
    }
}
