@use "../../../../../../styles-imports/www/variables";

/* starting almaOtherMembers */

prm-alma-other-members {
    prm-opac {
        display: block;
    }

    .md-button._md-focused:not([disabled]),
    .md-button.hovered:not([disabled]),
    .md-button.md-focused:not([disabled]),
    .md-button:focus:not([disabled]),
    .md-button:hover:not([disabled]) {
        color: variables.$dark;
        background-color: variables.$background-hue6;
    }
}
