@use "../../../styles-imports/www/variables";

prm-no-search-result {
  a {
    text-decoration: underline;

    &:hover {
      background-color: variables.$uqPurple500;
      color: #fff !important;
      box-shadow: none;
    }
  }
}
