prm-service-details {
    .chain-display {
        margin-right: 20px;

        [dir='rtl'] & {
            margin-right: auto;
            margin-left: 20px;
        }
    }

    .chain-display-space {
        margin-bottom: 7px;
    }

    .rtl-text-on-rtl-view {
        text-align: left;
        [dir='rtl'] & {
            text-align: right;
        }
    }
    .spaced-rows {
        > div,
        > span,
        > li,
        > a {
            margin-bottom: 0.3em;
        }
        prm-highlight span {
            line-height: 1.4;
            text-wrap: pretty;
            letter-spacing: 0.02em;
            word-spacing: 0.03em;
            text-align: justify;
            hyphens: auto;
        }
    }
}
