.badges {
    padding: 0.25em 0;
    position: relative;
    left: -2px;

    .list-display {
        position: absolute;
        padding: 0;
        top: 0;
        right: 5.5em;
        left: auto;
        bottom: 0;
    }

    .badge-item {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;

        .badge-icon {
            display: -ms-flexbox;
            display: flex;
            color: currentColor;
            margin-right: 0.2em;

            md-icon {
                min-width: 18px;
                width: 18px;
                height: 18px;
                min-height: 18px;
                color: currentColor;
            }
        }
        .badge-label {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #333;
            letter-spacing: 0.03em;
        }
        &.prm-cdi-attributes-warning,
        &.prm-cdi-attributes-regular {
            span.badge-label {
                color: $uqBodyCopy;
                border: none;
            }
            svg {
                height: 20px;
                &.retracted {
                    fill: $uqError500;
                }
                &.corrigendum {
                    fill: $uqWarning500;
                }
                &.review {
                    fill: $uqSuccess500;
                }
            }
        }

        + .badge-item {
            margin-left: 0.75em;
        }
    }
}
