/* primary color hook */
/* commenttttt*/

//this file has many color variables definition - that need to be open for customization
@use "sass:color";
@use 'md-button';
@use "../../../styles-imports/www/variables";
@use "mixins";

// PRIMARY color
// Example element in the UI: Header background color
// Usage examples:  @extend .prm-primary-bg
// 		  			@extend .prm-primary-bg.prm-hue1
.prm-primary {
    &-color {
        color: variables.$primary;
        &.prm-hue1 {
            color: variables.$primary-hue1;
        }
        &.prm-hue2 {
            color: variables.$primary-hue2;
        }
    }
    &-bg {
        color: variables.$white;
        background-color: variables.$primary;
        &.prm-hue1 {
            background-color: variables.$primary-hue1;
        }
        &.prm-hue2 {
            background-color: variables.$primary-hue2;
        }
        &.prm-hue3 {
            background-color: variables.$primary-hue3;
            &-important {
                background-color: variables.$primary-hue3 !important;
            }
        }
        &.prm-hue4 {
            background-color: variables.$primary-hue4;
        }
    }
}

.prm-primary-border {
    border-color: variables.$primary;
    &.prm-hue1 {
        border-color: variables.$primary;
    }
    &.prm-hue2 {
        border-color: variables.$primary;
    }
}

// SECONDARY color (aka, Accent color)
// Example element in the UI: Pin buttons
// Usage examples:  @extend .prm-secondary-color
// 		  			@extend .prm-secondary-bg.prm-hue1
.prm-secondary {
    &-color {
        color: variables.$secondary;
        &.prm-hue1 {
            color: variables.$secondary-hue1;
        }
        &.prm-hue2 {
            color: variables.$secondary-hue2;
        }
        &.prm-hue3 {
            color: variables.$secondary-hue3;
        }
        &.prm-hue4 {
            color: variables.$secondary-hue4;
        }
        &.prm-hue6 {
            color: variables.$secondary-hue6;
        }
    }
    &-bg {
        background-color: variables.$secondary;
        &.prm-hue1 {
            background-color: variables.$secondary-hue1;
        }
        &.prm-hue2 {
            background-color: variables.$secondary-hue2;
        }
        &.prm-hue3 {
            background-color: variables.$secondary-hue3;
        }
        &.prm-hue4 {
            background-color: variables.$secondary-hue4;
        }
        &.prm-hue5 {
            background-color: variables.$secondary-hue5;
        }
    }
    &-border {
        border-color: variables.$secondary;
        &.prm-hue1 {
            border-color: variables.$secondary-hue1;
        }
        &.prm-hue5 {
            border-color: variables.$secondary-hue5;
        }
    }
}

// BACKGROUND color
// Example element in the UI: main content background color
// Usage examples:  @extend .prm-background.prm-hue1
// 		  			@extend .prm-background-border.prm-hue1
.prm-background {
    background-color: variables.$background;
    border-color: color.adjust(variables.$background, $lightness: -3%);
    &.prm-hue1 {
        border-color: color.adjust(variables.$background, $lightness: -8%);
        background-color: transparent;
    }
    &.prm-hue2 {
        background-color: variables.$background-hue2;
    }
    &.prm-hue3 {
        background-color: variables.$background-hue3;
    }
    &.prm-hue4 {
        background-color: variables.$background-hue4;
    }
    &.prm-hue5 {
        background-color: variables.$background-hue5;
    }
    &.prm-hue6 {
        background-color: variables.$background-hue6;
    }
    &.prm-hue7 {
        background-color: variables.$background-hue7;
    }
    &.prm-hue8 {
        background-color: variables.$background-hue8;
    }
    &.prm-hue9 {
        background-color: variables.$background-hue9;
    }
    &.prm-hue10 {
        background-color: variables.$background-hue10;
    }
    &.prm-hue11 {
        background-color: variables.$background-hue11;
    }
    &.prm-hue13 {
        background-color: variables.$background-hue13;
    }
    &.prm-hue14 {
        background-color: variables.$background-hue14;
    }
    &.prm-hue15 {
        background-color: variables.$background-hue15;
    }

    &-color {
        color: variables.$background;
        &.prm-hue4 {
            color: variables.$background-hue4;
        }
    }
    &-border {
        border-color: variables.$background;
        border-color: color.adjust(variables.$background, $lightness: -3%) !important;
        &.prm-hue1 {
            border-color: color.adjust(variables.$background-hue1, $lightness: -3%);
            border-color: color.adjust(variables.$background, $lightness: -8%) !important;
        }
        &.prm-hue2 {
            border-color: color.adjust(variables.$background-hue2, $lightness: -3%) !important;
        }
        &.prm-hue3 {
            border-color: color.adjust(variables.$background, $lightness: -3%);
        }
        &.prm-hue4 {
            border-color: variables.$background-hue12;
        }
    }
}

// .prm-background {
// 	background-color: $background;
// 	border-color: darken($background, 3%);
// 	&.prm-hue1 {
// 		background-color: darken($background, 5%);
// 		border-color: darken($background, 8%)
// 	}
// 	&.prm-hue2 {
// 		background-color: lighten($background, 4%);
// 	}
// }

// LINKS color
// Example element in the UI: Availability status links
// Usage examples:  @extend .prm-links
// 		  			@extend .prm-links.prm-links-hover
// 		  			@extend .prm-links.prm-alt-link
.prm-links {
    color: variables.$links;
    &.prm-hue1 {
        color: variables.$links-hue-1;
    }
    &.prm-hue4 {
        color: variables.$links-hue-4;
    }
    &-important {
        color: variables.$links !important;
    }
    &.prm-links-hover {
        color: variables.$linksHover;
    }
    &.prm-alt-link {
        color: variables.$secondary-hue1;
        &.prm-hue1 {
            color: variables.$linkTitle;
        }
    }
    &.prm-hue-2 {
        color: variables.$linkTitle;
    }

    &-bg {
        @include mixins.bgColor(variables.$links);
        &.prm-hue-1 {
            background-color: color.adjust(color.adjust(variables.$links, $saturation: 85%), $alpha: -0.9);
        }
    }

    &-background {
        &.prm-hue-1 {
            background-color: color.adjust(variables.$links, $alpha: -0.9);
        }
        &.prm-hue-2 {
            background-color: variables.$links-background-hue1;
        }
        &.prm-hue-3 {
            background-color: variables.$links-hue-3;
        }
    }
    &-hover {
        &.prm-hue-1 {
            color: variables.$linksHover;
        }
        &.prm-hue-2 {
            color: variables.$linksHover-hue-2;
        }
        &.prm-hue-3 {
            color: variables.$links-background-hue1;
        }
    }
}

// TEXT color
// Default text color
// Usage examples:  @extend .prm-secondary-color
// 		  			@extend .prm-secondary-bg.prm-hue1
.prm-text {
    color: variables.$text;
    &.prm-hue1 {
        // lighter text
        color: variables.$text-hue1;
    }
    &.prm-hue2 {
        // semi-lighter text
        color: variables.$text-hue2;
    }
    &.prm-hue3 {
        // darken text
        color: variables.$text-hue3;
    }
    &.prm-hue4 {
        // semi-darken text
        color: variables.$text-hue4;
    }
}

// WARNING color
// Warning or error color
// Usage examples:  @extend .prm-warn
//					@extend .prm-warn-bg
.prm-warn {
    color: variables.$red;
    &-bg {
        background-color: variables.$red;
        &.prm-hue1 {
            background-color: variables.$red-hue1;
        }
    }
}

// ALERT color
// Used to bring users' attention to messages and alerts
// Example element in the UI: Background of 'sign in' message below search bar
// Usage examples:  @extend .prm-alert
// 					@extend .prm-alert-bg
// 					@extend .prm-alert-border
.prm-alert {
    color: black;
    &-bg {
        background-color: variables.$alert;
    }
    &-border {
        border-color: variables.$alert-hue1;
    }
}

// HIGHLIGHT color
// Example element in the UI: result item when saved to favorites
// Usage examples:  @extend .prm-highlight
.prm-highlight {
    background-color: variables.$highlight;
    &.prm-hue1 {
        background-color: variables.$highlight-hue1;
    }
}

// NOTICE color
// Used to bring attention to a certain status, or secondary actions
// Example element in the UI: 'clear' button in advanced search
// Usage examples: @extend .prm-highlight
.prm-notice {
    color: variables.$notice;
}

// POSITIVE color
// Denotes primary actions. Use sparsely.
// Example element in the UI: 'send' action button in email form
// Usage examples:  @extend .prm-positive
.prm-positive {
    color: variables.$positive;
    &.prm-hue1 {
        color: variables.$positive-hue1;
    }
    &-bg {
        background-color: variables.$positive;
    }
}

.prm-negative {
    color: variables.$negative;
    &.prm-hue1 {
        color: variables.$negative-hue1;
    }
}

.prm-citation-color {
    color: variables.$citation;

    &.prm-hue2 {
        color: variables.$citation-hue2;
    }
    &.prm-hue3 {
        color: variables.$citation-hue3;
    }

    &.citation-hover {
        color: variables.$citation-hue1;
    }
}

.prm-warning-color {
    color: variables.$warning;
    &.prm-hue1 {
        color: variables.$warning-hue1;
    }
    &.prm-hue2 {
        color: variables.$warning-hue2;
    }
}

// BOX SHADOW
// set box-shadow so will be able to extend color
// This is set here and not in _mixins so it will be part of the color scheme
@mixin box-shadow($display, $h-shadow, $v-shadow, $blur, $spread, $color) {
    box-shadow: $display $h-shadow $v-shadow $blur $spread $color;
}

.prm-citation-title {
    color: variables.$citationTitle;
}

.prm-hover-list-element {
    &-bg {
        background-color: variables.$white;
    }
}

.prm-peer-reviewed,
.prm-course {
    color: variables.$peer-reviewed-color;
}

.prm-open-access {
    color: variables.$open-access-color;
}

.prm-personalization {
    color: variables.$dark;
    &-bg {
        background-color: variables.$accent-color;
    }
}

.prm-organization {
    color: variables.$primary;
    &-bg {
        background-color: variables.$primary;
    }
}

.prm-dark {
    color: variables.$dark;
    &.prm-hue1 {
        // darker text
        color: variables.$dark-hue1;
    }
}

/* primary color hook end*/

.uq-button-styled-as-link {
    md-icon,
    span:not([disabled]) {
        color: variables.$accent-color !important;
    }
    &:hover md-icon,
    &:focus md-icon,
    &:hover span:not([disabled]),
    &:focus span:not([disabled]) {
        background-color: variables.$accent-color !important;
        color: variables.$white !important;
    }
}
