@use "../../../styles-imports/www/variables";

md-content,
md-content.md-primoExplore-theme {
    background-color: transparent;
    box-shadow: 0 0 0 0 variables.$uqInformationLight;
    //overflow: hidden;
    // transition: $swift-ease-out;
    &.editable {
        box-shadow: 0 0 0 3px variables.$uqInformationLight;
    }
    &.opaque-content {
        background-color: variables.$white;
    }
}
