@use "sass:color";
@use "../../../styles-imports/www/variables";

md-progress-linear {
    &[md-mode='indeterminate'] {
        position: absolute;
        height: variables.$progressBarHeight;
        bottom: 0;
        z-index: 10;

        .md-container {
            height: variables.$progressBarHeight;
            top: auto;

            .md-bar {
                height: variables.$progressBarHeight;
            }
        }

        &.header-progress-bar {
            .md-container {
                background-color: color.adjust(variables.$midGrey, $lightness: 5%);
            }
        }
    }
}
