@use "sass:color";
@use "../../../styles-imports/www/variables";
@use "easing";
@use "mixins";

.md-chips {
    font-family: variables.$serif;
    font-weight: variables.$normal;
    font-size: 0.95em;
    padding: 0;

    strong,
    b {
        font-weight: variables.$bold;
    }
    .md-chip {
        background-color: variables.$white;
        height: variables.$chipTouchHeight;
        line-height: variables.$chipTouchHeight;
        position: relative;

        .md-chip-content {
            display: flex;
            max-width: 100%;
        }

        &.rounded-chip {
            border-radius: 1em;
        }

        &.outline-chip {
            background-color: transparent;
            color: color.adjust(variables.$dark, $alpha: -0.3);
            box-shadow: inset 0 0 0 1px color.adjust(variables.$dark, $alpha: -0.7);
        }

        &.toggleable-chip {
            background-color: transparent;
            padding-left: 20px;
            cursor: pointer;
            display: flex;
            flex-direction: row-reverse;

            + .toggleable-chip {
                margin-top: 0.25em;
            }

            .md-chip-content {
                // color: $almostBlack;
                transition: transform 0.3s easing.$easeOutBack;
                transform: translateX(-20px);
                @include mixins.bgColor(color.adjust(variables.$dark, $lightness: 20%));
            }
            &:hover,
            &:focus {
                &:not([disabled]) {
                    color: black;
                }
            }
            &:not(.md-readonly) {
                padding-right: 0.75em;
            }

            .md-chip-remove-container {
                right: auto;
                left: 0;

                button {
                    appearance: none;
                    background: transparent;
                    border: none;
                }

                prm-icon.close-button {
                    @extend .prm-warn;
                }

                &.ng-enter {
                    opacity: 0;
                    transform: scale(0);
                    transition: variables.$swift-ease-out;
                    &.ng-enter-active {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
            md-icon {
                @include mixins.setSize(18px);
            }
            &.chip-toggled-on {
                padding-left: 0;
                background-color: variables.$white;
                .md-chip-content {
                    color: black;
                    transform: translateX(0);
                }
            }
        }

        // all facets in sidebar
        #facets-container & {
            clear: left;

            &:last-child {
                // margin-bottom: 1em;
            }
        }
    }
}
