@use "../../../../../styles-imports/www/variables";

/* starting facetRange */
prm-facet-range {
    .section-title {
        prm-icon {
            color: variables.$secondary-hue3;
        }

        &:hover,
        &:focus {
            background-color: transparent !important;

            span {
                color: variables.$secondary-hue3;
            }
        }
    }
}
