@use 'bookmarkFilter/search-bookmark-filter.scss';
@use 'logo/logo';
@use 'mainMenu/main-menu-full';
@use 'mainMenu/main-menu';
@use 'userArea/authentication';
@use 'userArea/user-area';
@use "../../../../styles-imports/www/variables";
@use "../../../styles/partials/mixins";

prm-topbar {
    height: variables.$defaultBarHeight;
    position: relative;
    .top-nav-bar {
        @extend .prm-secondary-color;
        @extend .layout-full-height;
    }

    .md-button {
        @extend .button-over-dark;
        &:not(.md-icon-button) {
            @extend .layout-full-height;
            @extend .zero-margin;
            border-radius: 0;
        }
    }

    prm-logo {
        z-index: 10;
        height: 100%;
        max-width: 180px;
        .__xs & {
            width: 100%;
            max-width: 140px;
        }
    }

    prm-search-bookmark-filter {
        // margin-right: 20px;
        @include mixins.ie-only {
            min-width: 52px;
        }
    }

    .isServicePage {
        display: none;
    }

    .isSummonOverAlma {
        display: none;
    }

    .isDeposit {
        display: none;
    }
    .institution-name {
        height: 100%;
        width: max-content;
        padding-left: 0.75em;
    }
    .institution-style {
        font-weight: 400;
        .__xs & {
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
        }
    }
}
