@use "../../../../styles-imports/www/variables";
@use "../../../styles/partials/mixins";

/* starting citationTrailsIndication */
prm-citation-trails-indication {
    display: flex;

    .md-button {
        &.md-icon-button,
        &.button-with-icon {
            box-shadow: none;
            margin: 0;
            // @extend .prm-citation-color;
            @include mixins.bgColor(variables.$citation-hue3);
            &:hover {
              color: variables.$citation-hue1;
            }
            text-transform: none;
        }
    }

    &[type='citing'] {
        md-icon {
            transform: rotate(180deg);
        }
    }
}
