.uq-grid {
    box-sizing: border-box;
}

.uq-grid *,
.uq-grid *::before,
.uq-grid *::after {
    box-sizing: border-box;
}

.uq-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
}

@media (min-width: 37.5em) {
    .uq-grid {
        margin-top: -0.75em;
        margin-bottom: -0.75em;
    }
}

@media (min-width: 75em) {
    .uq-grid {
        margin-top: -1em;
        margin-bottom: -1em;
    }
}

.uq-grid__col {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    flex: none;
}

@media (min-width: 37.5em) {
    .uq-grid__col {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
}

@media (min-width: 75em) {
    .uq-grid__col {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media (min-width: 37.5em) {
    .uq-grid__col {
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }
}

@media (min-width: 75em) {
    .uq-grid__col {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

@supports (display: grid) {
    .uq-grid {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-gap: 1em 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    @media (min-width: 37.5em) {
        .uq-grid {
            grid-row-gap: 1.5em;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    @media (min-width: 75em) {
        .uq-grid {
            grid-row-gap: 2em;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .uq-grid__col {
        padding-top: 0;
        padding-bottom: 0;
    }

    @media (min-width: 37.5em) {
        .uq-grid__col {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    @media (min-width: 75em) {
        .uq-grid__col {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.uq-grid:not(.uq-grid--full-width) {
    margin-left: 1em;
    margin-right: 1em;
}

@media (min-width: 32.5em) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: auto;
        margin-right: auto;
        max-width: 30.5em;
    }
}

@media (min-width: 37.5em) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: 3.25em;
        margin-right: 3.25em;
        max-width: none;
    }
}

@media (min-width: 64.25em) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: auto;
        margin-right: auto;
        max-width: 57.75em;
    }
}

@media (min-width: 75em) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: 8.375em;
        margin-right: 8.375em;
        max-width: none;
    }
}

@media (min-width: 90em) {
    .uq-grid:not(.uq-grid--full-width) {
        margin-left: auto;
        margin-right: auto;
        max-width: 73.25em;
    }
}

.uq-grid--full-width {
    margin-left: -0.5em;
    margin-right: -0.5em;
    max-width: none;
}

@media (min-width: 37.5em) {
    .uq-grid--full-width {
        margin-left: -0.75em;
        margin-right: -0.75em;
    }
}

@media (min-width: 75em) {
    .uq-grid--full-width {
        margin-left: -1em;
        margin-right: -1em;
    }
}

.uq-grid .uq-grid {
    margin-left: -0.5em;
    margin-right: -0.5em;
    max-width: none;
}

@media (min-width: 37.5em) {
    .uq-grid .uq-grid {
        margin-left: -0.75em;
        margin-right: -0.75em;
    }
}

@media (min-width: 75em) {
    .uq-grid .uq-grid {
        margin-left: -1em;
        margin-right: -1em;
    }
}

.uq-grid__col--xl-1 {
    width: 8.3333333333%;
}

.uq-grid__col--xl-2 {
    width: 16.6666666667%;
}

.uq-grid__col--xl-3,
.uq-grid--quarters > .uq-grid__col {
    width: 25%;
}

.uq-grid__col--xl-4,
.uq-grid--thirds > .uq-grid__col,
.uq-grid--golden > .uq-grid__col:nth-child(even) {
    width: 33.3333333333%;
}

.uq-grid__col--xl-5 {
    width: 41.6666666667%;
}

.uq-grid__col--xl-6 {
    width: 50%;
}

.uq-grid__col--xl-7,
.uq-grid--golden > .uq-grid__col:nth-child(odd) {
    width: 58.3333333333%;
}

.uq-grid__col--xl-8 {
    width: 66.6666666667%;
}

.uq-grid__col--xl-9 {
    width: 75%;
}

.uq-grid__col--xl-10 {
    width: 83.3333333333%;
}

.uq-grid__col--xl-11 {
    width: 91.6666666667%;
}

.uq-grid__col--xl-12 {
    width: 100%;
}

@supports (display: grid) {
    .uq-grid__col--xl-1 {
        grid-column: auto/span 2;
        width: auto;
    }

    .uq-grid__col--xl-2 {
        grid-column: auto/span 4;
        width: auto;
    }

    .uq-grid__col--xl-3,
    .uq-grid--quarters > .uq-grid__col {
        grid-column: auto/span 6;
        width: auto;
    }

    .uq-grid__col--xl-4,
    .uq-grid--thirds > .uq-grid__col,
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
        grid-column: auto/span 8;
        width: auto;
    }

    .uq-grid__col--xl-5 {
        grid-column: auto/span 10;
        width: auto;
    }

    .uq-grid__col--xl-6 {
        grid-column: auto/span 12;
        width: auto;
    }

    .uq-grid__col--xl-7,
    .uq-grid--golden > .uq-grid__col:nth-child(odd) {
        grid-column: auto/span 14;
        width: auto;
    }

    .uq-grid__col--xl-8 {
        grid-column: auto/span 16;
        width: auto;
    }

    .uq-grid__col--xl-9 {
        grid-column: auto/span 18;
        width: auto;
    }

    .uq-grid__col--xl-10 {
        grid-column: auto/span 20;
        width: auto;
    }

    .uq-grid__col--xl-11 {
        grid-column: auto/span 22;
        width: auto;
    }

    .uq-grid__col--xl-12 {
        grid-column: auto/span 24;
        width: auto;
    }
}

.uq-grid__col--md-1 {
    width: 12.5%;
}

.uq-grid__col--md-2,
.uq-grid--golden > .uq-grid__col:nth-child(even) {
    width: 25%;
}

.uq-grid__col--md-3 {
    width: 37.5%;
}

.uq-grid__col--md-4,
.uq-grid--quarters > .uq-grid__col,
.uq-grid--thirds > .uq-grid__col,
.uq-grid--halves > .uq-grid__col {
    width: 50%;
}

.uq-grid__col--md-5,
.uq-grid--golden > .uq-grid__col:nth-child(odd) {
    width: 62.5%;
}

.uq-grid__col--md-6 {
    width: 75%;
}

.uq-grid__col--md-7 {
    width: 87.5%;
}

.uq-grid__col--md-8 {
    width: 100%;
}

@supports (display: grid) {
    .uq-grid__col--md-1 {
        grid-column: auto/span 3;
        width: auto;
    }

    .uq-grid__col--md-2,
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
        grid-column: auto/span 6;
        width: auto;
    }

    .uq-grid__col--md-3 {
        grid-column: auto/span 9;
        width: auto;
    }

    .uq-grid__col--md-4,
    .uq-grid--quarters > .uq-grid__col,
    .uq-grid--thirds > .uq-grid__col,
    .uq-grid--halves > .uq-grid__col {
        grid-column: auto/span 12;
        width: auto;
    }

    .uq-grid__col--md-5,
    .uq-grid--golden > .uq-grid__col:nth-child(odd) {
        grid-column: auto/span 15;
        width: auto;
    }

    .uq-grid__col--md-6 {
        grid-column: auto/span 18;
        width: auto;
    }

    .uq-grid__col--md-7 {
        grid-column: auto/span 21;
        width: auto;
    }

    .uq-grid__col--md-8 {
        grid-column: auto/span 24;
        width: auto;
    }
}

.uq-grid__col--1 {
    width: 16.6666666667%;
}

.uq-grid__col--2 {
    width: 33.3333333333%;
}

.uq-grid__col--3 {
    width: 50%;
}

.uq-grid__col--4 {
    width: 66.6666666667%;
}

.uq-grid__col--5 {
    width: 83.3333333333%;
}

.uq-grid__col--6,
.uq-grid--quarters > .uq-grid__col,
.uq-grid--thirds > .uq-grid__col,
.uq-grid--halves > .uq-grid__col,
.uq-grid--golden > .uq-grid__col:nth-child(even),
.uq-grid--golden > .uq-grid__col:nth-child(odd) {
    width: 100%;
}

@supports (display: grid) {
    .uq-grid__col--1 {
        grid-column: auto/span 4;
        width: auto;
    }

    .uq-grid__col--2 {
        grid-column: auto/span 8;
        width: auto;
    }

    .uq-grid__col--3 {
        grid-column: auto/span 12;
        width: auto;
    }

    .uq-grid__col--4 {
        grid-column: auto/span 16;
        width: auto;
    }

    .uq-grid__col--5 {
        grid-column: auto/span 20;
        width: auto;
    }

    .uq-grid__col--6,
    .uq-grid--quarters > .uq-grid__col,
    .uq-grid--thirds > .uq-grid__col,
    .uq-grid--halves > .uq-grid__col,
    .uq-grid--golden > .uq-grid__col:nth-child(even),
    .uq-grid--golden > .uq-grid__col:nth-child(odd) {
        grid-column: auto/span 24;
        width: auto;
    }
}

@media (min-width: 37.5em) {
    .uq-grid__col--xl-1 {
        width: 8.3333333333%;
    }

    .uq-grid__col--xl-2 {
        width: 16.6666666667%;
    }

    .uq-grid__col--xl-3,
    .uq-grid--quarters > .uq-grid__col {
        width: 25%;
    }

    .uq-grid__col--xl-4,
    .uq-grid--thirds > .uq-grid__col,
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
        width: 33.3333333333%;
    }

    .uq-grid__col--xl-5 {
        width: 41.6666666667%;
    }

    .uq-grid__col--xl-6 {
        width: 50%;
    }

    .uq-grid__col--xl-7,
    .uq-grid--golden > .uq-grid__col:nth-child(odd) {
        width: 58.3333333333%;
    }

    .uq-grid__col--xl-8 {
        width: 66.6666666667%;
    }

    .uq-grid__col--xl-9 {
        width: 75%;
    }

    .uq-grid__col--xl-10 {
        width: 83.3333333333%;
    }

    .uq-grid__col--xl-11 {
        width: 91.6666666667%;
    }

    .uq-grid__col--xl-12 {
        width: 100%;
    }

    @supports (display: grid) {
        .uq-grid__col--xl-1 {
            grid-column: auto/span 2;
            width: auto;
        }

        .uq-grid__col--xl-2 {
            grid-column: auto/span 4;
            width: auto;
        }

        .uq-grid__col--xl-3,
        .uq-grid--quarters > .uq-grid__col {
            grid-column: auto/span 6;
            width: auto;
        }

        .uq-grid__col--xl-4,
        .uq-grid--thirds > .uq-grid__col,
        .uq-grid--golden > .uq-grid__col:nth-child(even) {
            grid-column: auto/span 8;
            width: auto;
        }

        .uq-grid__col--xl-5 {
            grid-column: auto/span 10;
            width: auto;
        }

        .uq-grid__col--xl-6 {
            grid-column: auto/span 12;
            width: auto;
        }

        .uq-grid__col--xl-7,
        .uq-grid--golden > .uq-grid__col:nth-child(odd) {
            grid-column: auto/span 14;
            width: auto;
        }

        .uq-grid__col--xl-8 {
            grid-column: auto/span 16;
            width: auto;
        }

        .uq-grid__col--xl-9 {
            grid-column: auto/span 18;
            width: auto;
        }

        .uq-grid__col--xl-10 {
            grid-column: auto/span 20;
            width: auto;
        }

        .uq-grid__col--xl-11 {
            grid-column: auto/span 22;
            width: auto;
        }

        .uq-grid__col--xl-12 {
            grid-column: auto/span 24;
            width: auto;
        }
    }
    .uq-grid__col--md-1 {
        width: 12.5%;
    }

    .uq-grid__col--md-2,
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
        width: 25%;
    }

    .uq-grid__col--md-3 {
        width: 37.5%;
    }

    .uq-grid__col--md-4,
    .uq-grid--quarters > .uq-grid__col,
    .uq-grid--thirds > .uq-grid__col,
    .uq-grid--halves > .uq-grid__col {
        width: 50%;
    }

    .uq-grid__col--md-5,
    .uq-grid--golden > .uq-grid__col:nth-child(odd) {
        width: 62.5%;
    }

    .uq-grid__col--md-6 {
        width: 75%;
    }

    .uq-grid__col--md-7 {
        width: 87.5%;
    }

    .uq-grid__col--md-8 {
        width: 100%;
    }

    @supports (display: grid) {
        .uq-grid__col--md-1 {
            grid-column: auto/span 3;
            width: auto;
        }

        .uq-grid__col--md-2,
        .uq-grid--golden > .uq-grid__col:nth-child(even) {
            grid-column: auto/span 6;
            width: auto;
        }

        .uq-grid__col--md-3 {
            grid-column: auto/span 9;
            width: auto;
        }

        .uq-grid__col--md-4,
        .uq-grid--quarters > .uq-grid__col,
        .uq-grid--thirds > .uq-grid__col,
        .uq-grid--halves > .uq-grid__col {
            grid-column: auto/span 12;
            width: auto;
        }

        .uq-grid__col--md-5,
        .uq-grid--golden > .uq-grid__col:nth-child(odd) {
            grid-column: auto/span 15;
            width: auto;
        }

        .uq-grid__col--md-6 {
            grid-column: auto/span 18;
            width: auto;
        }

        .uq-grid__col--md-7 {
            grid-column: auto/span 21;
            width: auto;
        }

        .uq-grid__col--md-8 {
            grid-column: auto/span 24;
            width: auto;
        }
    }
}

@media (min-width: 75em) {
    .uq-grid__col--xl-1 {
        width: 8.3333333333%;
    }

    .uq-grid__col--xl-2 {
        width: 16.6666666667%;
    }

    .uq-grid__col--xl-3,
    .uq-grid--quarters > .uq-grid__col {
        width: 25%;
    }

    .uq-grid__col--xl-4,
    .uq-grid--thirds > .uq-grid__col,
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
        width: 33.3333333333%;
    }

    .uq-grid__col--xl-5 {
        width: 41.6666666667%;
    }

    .uq-grid__col--xl-6 {
        width: 50%;
    }

    .uq-grid__col--xl-7,
    .uq-grid--golden > .uq-grid__col:nth-child(odd) {
        width: 58.3333333333%;
    }

    .uq-grid__col--xl-8 {
        width: 66.6666666667%;
    }

    .uq-grid__col--xl-9 {
        width: 75%;
    }

    .uq-grid__col--xl-10 {
        width: 83.3333333333%;
    }

    .uq-grid__col--xl-11 {
        width: 91.6666666667%;
    }

    .uq-grid__col--xl-12 {
        width: 100%;
    }

    @supports (display: grid) {
        .uq-grid__col--xl-1 {
            grid-column: auto/span 2;
            width: auto;
        }

        .uq-grid__col--xl-2 {
            grid-column: auto/span 4;
            width: auto;
        }

        .uq-grid__col--xl-3,
        .uq-grid--quarters > .uq-grid__col {
            grid-column: auto/span 6;
            width: auto;
        }

        .uq-grid__col--xl-4,
        .uq-grid--thirds > .uq-grid__col,
        .uq-grid--golden > .uq-grid__col:nth-child(even) {
            grid-column: auto/span 8;
            width: auto;
        }

        .uq-grid__col--xl-5 {
            grid-column: auto/span 10;
            width: auto;
        }

        .uq-grid__col--xl-6 {
            grid-column: auto/span 12;
            width: auto;
        }

        .uq-grid__col--xl-7,
        .uq-grid--golden > .uq-grid__col:nth-child(odd) {
            grid-column: auto/span 14;
            width: auto;
        }

        .uq-grid__col--xl-8 {
            grid-column: auto/span 16;
            width: auto;
        }

        .uq-grid__col--xl-9 {
            grid-column: auto/span 18;
            width: auto;
        }

        .uq-grid__col--xl-10 {
            grid-column: auto/span 20;
            width: auto;
        }

        .uq-grid__col--xl-11 {
            grid-column: auto/span 22;
            width: auto;
        }

        .uq-grid__col--xl-12 {
            grid-column: auto/span 24;
            width: auto;
        }
    }
}

.uq-grid--flexible > .uq-grid__col {
    flex: 1 0 15.625em;
    max-width: 100%;
    width: auto;
}

@supports (display: grid) {
    .uq-grid--flexible {
        grid-template-columns: repeat(auto-fit, minmax(15.625em, 1fr));
    }
}

@media (min-width: 37.5em) {
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
        margin-left: 12.5%;
    }

    @supports (display: grid) {
        .uq-grid--golden > .uq-grid__col:nth-child(even) {
            margin-left: 0;
            grid-column-start: 18;
        }
    }
}

@media (min-width: 75em) {
    .uq-grid--golden > .uq-grid__col:nth-child(even) {
        margin-left: 8.3333333333%;
    }

    @supports (display: grid) {
        .uq-grid--golden > .uq-grid__col:nth-child(even) {
            margin-left: 0;
            grid-column-start: 18;
        }
    }
}

@media (max-width: 63.9375em) {
    .uq-grid--scroll-small {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
    }

    .uq-grid--scroll-small .uq-grid__col {
        flex: 1 0 18.75em;
        margin-right: 1.5em;
    }
}

.uq-layout-container {
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

@media (min-width: 32.5em) {
    .uq-layout-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 30.5em;
    }
}

@media (min-width: 37.5em) {
    .uq-layout-container {
        margin-left: 3.25em;
        margin-right: 3.25em;
        max-width: none;
    }
}

@media (min-width: 64.25em) {
    .uq-layout-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 57.75em;
    }
}

@media (min-width: 75em) {
    .uq-layout-container {
        margin-left: 8.375em;
        margin-right: 8.375em;
        max-width: none;
    }
}

@media (min-width: 90em) {
    .uq-layout-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 73.25em;
    }
}

@media (min-width: 37.5em) {
    .uq-layout-container {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
}

@media (min-width: 75em) {
    .uq-layout-container {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.uq-layout-container .uq-grid {
    margin-left: -0.5em;
    margin-right: -0.5em;
    max-width: none;
}

@media (min-width: 37.5em) {
    .uq-layout-container .uq-grid {
        margin-left: -0.75em;
        margin-right: -0.75em;
    }
}

@media (min-width: 75em) {
    .uq-layout-container .uq-grid {
        margin-left: -1em;
        margin-right: -1em;
    }
}

body {
    color: #2b2a29;
    font-size: 1em;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.margin--reset {
    margin: 0;
}

.white {
    background-color: #fff;
}

.black {
    background-color: #000;
}

.link {
    background-color: #1e72c6;
}

.purple {
    background-color: #51247a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.4;
    color: #51247a;
}

h1 {
    margin-top: 1.5em;
    margin-bottom: 2.5em;
    font-size: 2.5em;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

h2 {
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    font-size: 2em;
}

h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.5em;
}

h4 {
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-size: 1.25em;
}

h5 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 1.125em;
}

h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 1em;
}

p {
    margin-top: 0;
    margin-bottom: 1.5em;
}

b,
strong {
    font-weight: 500;
}

em {
    font-style: italic;
}

blockquote {
    margin: 0 0 1.5em;
    padding-left: 1.5em;
    border-left: 6px solid #2b2a29;
    font-family: 'Merriweather', Georgia, serif;
    font-style: italic;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 1.5em;
    padding-left: 1.5em;
}

ol li,
ul li {
    margin-bottom: 1em;
}

ol li:last-child,
ul li:last-child {
    margin-bottom: 0;
}

dl {
    margin-top: 0;
    margin-bottom: 0;
}

dl dt {
    color: #51247a;
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: 500;
}

dl dd {
    margin-left: 0;
    margin-bottom: 1.5em;
    font-size: 1.125em;
}

a {
    color: #1e72c6;
    text-decoration: none;
    transition: 0.2s color;
}

a:hover {
    color: #1e72c6;
    text-decoration: underline;
}

.text--reverse {
    color: #fff;
}

.text--primary {
    color: #51247a;
}

.text--purple-light {
    color: #962a8b;
}

.text--black {
    color: #000;
}

.text--white {
    color: #fff;
}

.text--error {
    color: #be1b38;
}

.text--xxxxl {
    font-size: 2.5em;
}

.text--xxxl {
    font-size: 2em;
}

.text--xxl {
    font-size: 1.5em;
}

.text--xl {
    font-size: 1.25em;
}

.text--l {
    font-size: 1.125em;
}

.text--m {
    font-size: 1em;
}

.text--s {
    font-size: 0.875em;
}

.text--xs {
    font-size: 0.75em;
}

.text--weight-normal {
    font-weight: 400;
}

.text--weight-bold {
    font-weight: 500;
}

.text--weight-medium {
    font-weight: 500;
}

.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

.text--center {
    text-align: center;
}

.text--uppercase {
    text-transform: uppercase;
}

.text--accent {
    font-family: 'Merriweather', Georgia, serif;
    font-weight: 400;
    font-style: italic;
}

.text--shadow {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.hidden {
    display: none !important;
}

@media (max-width: 37.4375em) {
    .hidden--mobile-only {
        display: none !important;
    }
}

@media (min-width: 37.5em) {
    .hidden--md,
    .hidden--tablet {
        display: none !important;
    }
}

@media (min-width: 75em) {
    .hidden--xl,
    .hidden--desktop {
        display: none !important;
    }
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
    margin: 0;
    padding: 0;
}

.uq-header {
    background: #51247a;
    background: linear-gradient(90deg, #51247a 0%, 87%, #962a8b 100%);
    box-sizing: border-box;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

.uq-header *,
.uq-header *:before,
.uq-header *:after {
    box-sizing: border-box;
}

.uq-header__container {
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
}

@media (min-width: 32.5em) {
    .uq-header__container {
        margin-left: auto;
        margin-right: auto;
        max-width: 30.5em;
    }
}

@media (min-width: 37.5em) {
    .uq-header__container {
        margin-left: 3.25em;
        margin-right: 3.25em;
        max-width: none;
    }
}

@media (min-width: 64.25em) {
    .uq-header__container {
        margin-left: auto;
        margin-right: auto;
        max-width: 57.75em;
    }
}

@media (min-width: 75em) {
    .uq-header__container {
        margin-left: 8.375em;
        margin-right: 8.375em;
        max-width: none;
    }
}

@media (min-width: 90em) {
    .uq-header__container {
        margin-left: auto;
        margin-right: auto;
        max-width: 73.25em;
    }
}

@media (min-width: 37.5em) {
    .uq-header__container {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
}

@media (min-width: 75em) {
    .uq-header__container {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.uq-header__container .nav-global {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

@media (min-width: 75em) {
    .uq-header__container .nav-global {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
}

.uq-header__container .menu-global ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

@media (min-width: 64em) {
    .uq-header__container .menu-global ul {
        padding-left: 2em;
        white-space: nowrap;
    }
}

.uq-header__container .menu-global ul li {
    display: none;
}

@media (min-width: 64em) {
    .uq-header__container .menu-global ul li {
        display: inline;
        margin-left: 1.5em;
        word-wrap: break-word;
    }

    .uq-header__container .menu-global ul li:first-of-type {
        margin-left: 0;
    }
}

.uq-header__container .menu-global ul li.menu-global__search-toggle {
    display: inline;
}

.uq-header__container .menu-global ul li.menu-global__search-toggle .search-toggle__button {
    margin: 0;
    padding: 0 0.25em;
    border: 0;
    width: 1.5em;
    height: 1.5em;
    background-color: transparent;
    text-indent: -100vw;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.uq-header__container .menu-global ul li.menu-global__search-toggle .search-toggle__button::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg fill='none' stroke='%23000' stroke-width='.75'%3E%3Cpath d='M6.57 11.145a4.573 4.573 0 10.003-9.146 4.573 4.573 0 00-.003 9.146zm0 0'/%3E%3Cpath d='M9.715 10l4.57 4.285' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
    filter: invert(100%) sepia(0) saturate(1%) hue-rotate(122deg) brightness(111%) contrast(102%);
}

.uq-header__container .menu-global ul li.menu-global__search-toggle .search-toggle__button--icon-close::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M1.715 14.285l12.57-12.57m0 12.57L1.715 1.715' stroke='%23000' stroke-width='.75' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.uq-header__container .menu-global ul a {
    color: #fff;
    font-size: 0.875em;
    font-weight: 300;
    text-decoration: none;
}

.uq-header__container .menu-global ul a:hover,
.uq-header__container .menu-global ul a:focus {
    text-decoration: underline;
}

.uq-header__container .nav-search {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.25s, padding-top 0.25s, padding-bottom 0.25s;
}

.uq-header__container .nav-search--open {
    height: auto;
    visibility: visible;
    overflow: initial;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.uq-header__container .nav-search__form {
    margin: 0;
}

.uq-header__container .nav-search__wrapper {
    border: none;
    margin: 0 0 0.5em 0;
    padding: 0;
}

@media (min-width: 64em) {
    .uq-header__container .nav-search__wrapper {
        margin-bottom: 1em;
    }
}

.uq-header__container .nav-search__title {
    color: #fff;
    font-family: 'Merriweather', Georgia, serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
}

@media (min-width: 64em) {
    .uq-header__container .nav-search__title {
        vertical-align: middle;
    }
}

@media (min-width: 75em) {
    .uq-header__container .nav-search__title {
        font-size: 1.25em;
    }
}

.uq-header__container .nav-search__scope {
    color: #fff;
    font-size: 0.75em;
}

.uq-header__container .nav-search__scope__radio-wrapper {
    font-size: 1em;
    margin: 0 0 0.5em 0;
    white-space: nowrap;
}

@media (min-width: 64em) {
    .uq-header__container .nav-search__scope__radio-wrapper {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
    }
}

.uq-header__container .nav-search__scope .form-item {
    margin-top: 0.5em;
    padding-top: 0.25em;
}

.uq-header__container .nav-search__scope .form-item input[type='radio'],
.uq-header__container .nav-search__scope .form-item label {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
}

.uq-header__container .nav-search__scope .form-item input[type='radio'] {
    appearance: none;
    border: 1px solid #efedeb;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin: 0;
    position: relative;
}

.uq-header__container .nav-search__scope .form-item input[type='radio']:focus {
    outline: 2px solid #1e72c6;
    box-shadow: 0 0 0 1px #1e72c6;
}

.uq-header__container .nav-search__scope .form-item input[type='radio']:checked {
    border-color: #fff;
    border-width: 2px;
}

.uq-header__container .nav-search__scope .form-item input[type='radio']:checked:focus {
    box-shadow: 0 0 0 1px #1e72c6;
}

.uq-header__container .nav-search__scope .form-item input[type='radio']:checked::after {
    border-radius: 50%;
    background-color: #fff;
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    height: 14px;
    width: 14px;
}

.uq-header__container .nav-search__scope .form-item label {
    color: #fff;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 0.5em;
    margin-right: 1em;
    padding-top: 0.2em;
    white-space: normal;
}

@media (min-width: 64em) {
    .uq-header__container .nav-search__scope .form-item {
        display: inline-block;
        margin-top: 0;
        padding-left: 1em;
        padding-top: 0;
    }
}

@media (min-width: 64em) {
    .uq-header__container .nav-search__scope {
        display: inline;
        font-size: 0.875em;
        margin-left: 1em;
        vertical-align: middle;
    }
}

.uq-header__container .nav-search .search-query__wrapper {
    position: relative;
    display: inline-block;
    max-width: 100%;
    min-width: 100%;
    border-radius: 2px;
    background-color: #fff;
    background-position: 1em;
    margin-bottom: 1em;
}

@media (min-width: 75em) {
    .uq-header__container .nav-search .search-query__wrapper {
        margin-bottom: 1.5em;
    }
}

.uq-header__container .nav-search .search-query__input {
    background: transparent;
    margin: 0 !important;
    width: 100%;
    padding: 0.75em 1em;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    box-shadow: none;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1;
    color: #2b2a29;
    height: auto;
    outline: none;
}

.uq-header__container .nav-search .search-query__input:focus {
    border-color: #1e72c6;
    outline: none;
}

.uq-header__container .nav-search .search-query__button {
    background-clip: padding-box;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid transparent;
    color: #51247a;
    display: inline-block;
    font-size: 1em;
    height: 2.75em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-right: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-indent: 0;
    top: calc(50% - 1.375em);
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    width: 2.75em;
}

.uq-header__container .nav-search .search-query__button:hover {
    background-color: #fff;
    border-color: #49206c;
    color: #49206c;
}

.uq-header__container .nav-search .search-query__button::before {
    content: '';
    position: absolute;
    display: block;
    width: 1.5em;
    height: 1.5em;
    top: 0.5em;
    left: 0.5em;
    background-size: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg fill='none' stroke='%23000' stroke-width='.75'%3E%3Cpath d='M6.57 11.145a4.573 4.573 0 10.003-9.146 4.573 4.573 0 00-.003 9.146zm0 0'/%3E%3Cpath d='M9.715 10l4.57 4.285' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-filter: invert(20%) sepia(34%) saturate(1979%) hue-rotate(239deg) brightness(97%) contrast(107%);
    filter: invert(20%) sepia(34%) saturate(1979%) hue-rotate(239deg) brightness(97%) contrast(107%);
}

.uq-header__container .nav-search .search-query__submit {
    color: transparent;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    background-color: transparent;
    z-index: 3;
    cursor: pointer;
    outline-offset: -2px;
    font-size: 1em;
}

.uq-header__container .nav-search .menu-global {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    margin-bottom: 1em;
}

@media (min-width: 64em) {
    .uq-header__container .nav-search .menu-global {
        display: none;
    }
}

.uq-header__container .nav-search .menu-global ul li {
    display: block;
    margin-left: 0;
}

.uq-header__container .nav-search .menu-global ul li a {
    display: block;
    padding: 0.5em;
}

.uq-header__secondary {
    background-color: #fff;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.uq-header__secondary--no-menu {
    padding-bottom: 1.5em;
}

.uq-header__site-title {
    margin: 0;
    font-size: 1.25em;
    font-weight: 500;
    color: #51247a;
}

.uq-header__site-title:hover {
    color: #51247a;
    text-decoration: none;
}

.uq-header .logo img {
    display: block;
}

.uq-header .logo--large {
    display: none;
}

.uq-header .logo--large img {
    height: 2.625em;
    width: 17.875em;
}

@media (min-width: 75em) {
    .uq-header .logo--large {
        display: block;
    }
}

.uq-header .logo--small img {
    height: 2.625em;
    width: 10em;
}

@media (min-width: 75em) {
    .uq-header .logo--small {
        display: none;
    }
}

.uq-header .hidden {
    display: none;
}

.uq-header .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
    margin: 0;
    padding: 0;
}

.uq-header__mq--desktop {
    font-family: '(min-width: 64em)';
}
