header {
    color: #2b2a29;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background: #fff;
    margin: 0;
    padding: 0;
}

/* for primo */

.uq-header {
    font-size: 16px;
}
* {
    font-size: 16px;
}

.menu-global a {
    -webkit-font-smoothing: initial;
    font-stretch: inherit;
}

.skip-to-content-link {
    background: #fff;
    font-size: 13px;
    height: 50px;
    width: 150px;
    left: calc(50% - 75px);
    padding: 18px 16px 16px 16px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
    color: #000;
    z-index: 999;
}

.skip-to-content-link:focus {
    transform: translateY(-5%);
}

@media (min-width: 64em) {
    .uq-header__search.uq-header__search--is-open {
        margin-top: -15px;
    }
}

@media (max-width: 64em) {
    input[type='radio'] + label {
        padding-left: 2em;
    }
}

.global-mobile-nav .uq-site-header__title-container {
    padding-block: 3px;
}