/* for primo */
.uq-header {
    all: unset;
}
.menu-global a {
    -webkit-font-smoothing: initial;
    font-stretch: inherit;
}

.skip-to-content-link {
    background: #FFF;
    font-size: 13px;
    height: 50px;
    width: 150px;
    left: calc(50% - 75px);
    padding: 18px 16px 16px 16px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
    color: #000;
    z-index: 999;
}

.skip-to-content-link:focus {
    transform: translateY(-5%);
}
