prm-quick-link {
    .quick-links-icons {
        opacity: 0.8;
    }

    a {
        @extend .uq-button-styled-as-link;
        &:hover {
            box-shadow: none;
        }
        &:hover md-icon,
        &:hover prm-icon {
            background-color: transparent !important;
            color: $accent-color !important;
        }

        margin: 0.4em 3em 0 0;
        [dir='rtl'] & {
            margin: 0.4em 0 0 3em;
        }
        width: fit-content;
        span {
            margin: 0 3px 0 3px;
        }

        [link-arrow] {
            color: $links;
        }

        .quick-link-type {
            margin: 0 3px 0 0;
            [dir='rtl'] & {
                margin: 0 0 0 3px;
            }
        }
    }

    // sometimes they dupe the quick link. To do with when the server is slow?
    // I don't think this is our customisation file, we dont touch this area
    // fixes:
    // if we get a fourth entry that is html then we have PDF link HTML link PDF link HTML link so hide #4
    // if we get a 3rd that is pdf then we have PDF link HTML link PDF link (and probably also HTML at #4, but that's handled above) so hide #3
    // if the first has pdf and there is a second that has pdf, then  we have PDF link PDF link, so hide #2
    // if the first has html and there is a second that has html, then  we have Html link Html link, so hide #2 (this one not observed in the wild)
    a:nth-child(4):has(prm-icon[icon-definition="html-link"]),
    a:nth-child(3):has(prm-icon[icon-definition="pdf-link"]),
    div:has(a:first-child prm-icon[icon-definition="pdf-link"]) a:nth-child(2):has(prm-icon[icon-definition="pdf-link"]),
    div:has(a:first-child prm-icon[icon-definition="html-link"]) a:nth-child(2):has(prm-icon[icon-definition="html-link"]) {
        display: none;
    }

    prm-icon {
        md-icon {
            height: 18px;
            width: 18px;
            min-height: 18px;
            min-width: 18px;
            top: -2px;
            position: relative;
        }
    }

    prm-icon {
        md-icon,
        md-icon.md-primoExplore-theme {
            color: $red;
        }
    }
}
