.alert {
    font-size: 16px;
}
* {
    font-size: 16px;
}

#alert {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-stretch: unset !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    letter-spacing: 0.01rem;
}
@media (max-width: 600px) {
    #alert {
        padding-bottom: 1px;
    }
}

/* icon */
.alert__message::before {
    content: '';
    position: absolute;
    top: 0.75rem;
    left: -1.5rem;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.alert__message {
    position: relative;
    margin-left: 2.75rem;
    padding: 0.75rem 1.5rem 0.75rem 0.5rem;
    width: 100%;
    flex: 1;
    font-weight: 400 !important;
    font-size: 16px;
    font-family: 'Roboto', sans-serif !important;
    font-stretch: unset;
    line-height: 1.6rem;
}

#alert #alert-title,
.alert .alert-title {
    margin: 0 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
}

#alert .alert__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#alert #alert-link-endmasquerade,
#alert #alert-link {
    margin-top: 1.1em;
    font-weight: 500;
    text-decoration: underline;
    display: inline-block;
    transition: color 200ms ease-out, text-decoration 200ms ease-out, background-color 200ms ease-out;
}

#alert #alert-link-endmasquerade:hover,
#alert #alert-link:hover {
    cursor: pointer;
}

#alert #alert-container.clickable:hover {
    cursor: pointer;
}

.info {
    background-color: #0d6dcd;
    color: #fff;
}

.info #alert-close {
    color: rgba(255, 255, 255, 0.75);
}

.info #alert-close svg {
    fill: rgba(255, 255, 255, 0.75);
    width: 24px;
    height: 24px;
}

.info #alert-close:hover {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.info #alert-link-endmasquerade,
.info #alert-link {
    color: #fff;
}

.info #alert-link-endmasquerade:hover,
.info #alert-link:hover {
    background-color: #fff;
    color: #51247a;
}

.info .alert__message::before {
    background-image: url('data:image/svg+xml,%3csvg viewBox=%270 0 24 24%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3ccircle cx=%2712%27 cy=%2712%27 r=%279.25%27 transform=%27rotate%28-180 12 12%29%27 stroke=%27%23fff%27 stroke-width=%271.5%27%3e%3c/circle%3e%3cpath d=%27M12 16.2v-4%27 stroke=%27%23fff%27 stroke-width=%271.5%27 stroke-linecap=%27round%27%3e%3c/path%3e%3ccircle cx=%2712%27 cy=%278.4%27 r=%271.1%27 transform=%27rotate%28-180 12 8.4%29%27 fill=%27%23fff%27%3e%3c/circle%3e%3c/svg%3e');
}

.urgent {
    background-color: #f7ba1e;
    color: #3b383e;
    /* used when checking accessibility tests are valid */
    /*background-color: #fff;*/
    /*color: #fff;*/
}
.urgent #alert-close svg {
    fill: rgba(0, 0, 0, 0.75);
    width: 24px;
    height: 24px;
}

.urgent #alert-close {
    color: rgba(0, 0, 0, 0.75);
}

.urgent #alert-close:hover {
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.urgent #alert-link-endmasquerade,
.urgent #alert-link {
    color: #fff;
}

.urgent #alert-link-endmasquerade:hover,
.urgent #alert-link:hover {
    background-color: #fff;
}

.urgent .alert__message::before {
    background-image: url('data:image/svg+xml,%3csvg viewBox=%270 0 24 24%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3ccircle cx=%2712%27 cy=%2712%27 r=%279.25%27 stroke=%27%233b383e%27 stroke-width=%271.5%27%3e%3c/circle%3e%3cpath d=%27M12 7.8v4%27 stroke=%27%233b383e%27 stroke-width=%271.5%27 stroke-linecap=%27round%27%3e%3c/path%3e%3ccircle cx=%2711.9%27 cy=%2715.6%27 r=%27.6%27 fill=%27%233b383e%27 stroke=%27%233b383e%27%3e%3c/circle%3e%3c/svg%3e');
}

/*EXTREME*/
.extreme {
    background-color: #d62929;
    color: #fff;
}
.extreme #alert-close svg {
    fill: rgba(255, 255, 255, 0.75);
    width: 24px;
    height: 24px;
}

.extreme #alert-close {
    color: rgba(255, 255, 255, 0.75);
}

.extreme #alert-close:hover {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.extreme #alert-link {
    color: #fff;
}

.extreme #alert-link-endmasquerade:hover,
.extreme #alert-link:hover {
    background-color: #fff;
}

.extreme .alert__message::before {
    background-image: url('data:image/svg+xml,%3csvg viewBox=%270 0 24 24%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3cpath d=%27M20.127 18.545a1.18 1.18 0 0 1-1.055 1.706H4.929a1.18 1.18 0 0 1-1.055-1.706l7.072-14.143a1.179 1.179 0 0 1 2.109 0l7.072 14.143Z%27 stroke=%27%23fff%27 stroke-width=%271.5%27%3e%3c/path%3e%3cpath d=%27M12 9v4%27 stroke=%27%23fff%27 stroke-width=%271.5%27 stroke-linecap=%27round%27%3e%3c/path%3e%3ccircle cx=%2711.9%27 cy=%2716.601%27 r=%271.1%27 fill=%27%23fff%27%3e%3c/circle%3e%3c/svg%3e');
}
